.flex-display() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-grow(@grow) {
	-webkit-box-flex: @grow;
	-moz-box-flex: @grow;
	-webkit-flex: @grow;
	-ms-flex: @grow;
	flex: @grow;
}

.flex-align(@align) {
	-webkit-box-align: @align;
	-ms-flex-align: @align;
	align-items: @align;
	-webkit-align-items: @align;
}

.d-list-category {
	/* No position should be defined, as the List is using offsetTop to measure distance of elements within the list */
	/* Edit display at your own risk */
	display: block;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	.d-list-category-styles;
	.d-list-cell {
		height: @category-height;
	}
}

.d-list-item {
	/* No position should be defined, as the List is using offsetTop to measure distance of elements within the list */
	list-style-type: none;
	display: block;
	.d-list-item-styles;
	.d-list-cell {
		height: @cell-height;
	}
}

.d-list .d-list-cell, .d-round-rect-list .d-list-cell {
	.flex-display();
	.flex-grow(1);
	.flex-align(center);
	outline-offset: -2px;
	.d-spacer {
		.flex-grow(1);
	}
}

.d-list-item-icon {
	margin-right: 7px;
	.d-list.d-rtl & {
		margin-right: 0px;
		margin-left: 7px;
	}
}

.d-list-item-label {
	white-space: nowrap;
	text-overflow: ellipsis;
	.d-list-item-label-style;
}

.d-list-item-right-text {
	padding-right: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	.d-list-item-right-text-style;
	.d-list.d-rtl & {
		padding-right: 0px;
		padding-left: 4px;
	}
}

.d-list-item-right-icon {
}

.d-list-loader {
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	padding: 0px 8px;
	.flex-display();
	.flex-grow(1);
	.d-list-loader-style;
	.d-progress-indicator {
		width: 24px;
		height: 24px;
		vertical-align: top;
	}
	.d-progress-indicator-lines {
		.d-progress-indicator-lines-style;
	}
	&.d-loading {
		cursor: wait;
		.d-list-loading-style;
	}
	.d-list-loader-label {
		padding-left: 10px;
	}
}

.d-list-loading-panel {
	display: table;
	z-index: 2;
	height: 100%;
	width: 100%;
	text-align: center;
	cursor: wait;
	.d-list-loading-panel-style;

	.d-list-loading-panel-info {
		display: table-cell;
		vertical-align: middle;

		.d-progress-indicator {
			width: 48px;
			height: 48px;
			vertical-align: top;
		}
		.d-progress-indicator-lines {
			.d-progress-indicator-lines-style;
		}
		div {
			vertical-align: middle;
		}
		svg {
			vertical-align: middle;
		}
		.d-list-loading-panel-info-label {
			padding-left: 10px;
		}
	}
}

.d-list-no-items {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: auto;
	vertical-align: middle;
	line-height: 40px;
	text-align: center;
}

.d-selectable, .d-multiselectable {
	cursor: pointer;
	.d-list-item.d-selected {
		.d-list-item-selected-style;
	}
}

/*******************************/
/* iOS theme for RoundRectList */
/*                             */
/* IMPORTANT: a renderer MUST      */
/* have the same height (inc.  */
/* borders) whatever its index */
/* in the list !               */
/*******************************/

.d-round-rect-list {
	/* edit display at your own risk */
	display: block;

	/* Position relative is needed by List.getBottomDistance(). */
	/* The List must be positioned to be the offsetNode of renderers. */
	/* Otherwise, the offsetTop value is computed against a wrong parent */
	position: relative;

	/* Do not change this margin setting when customizing list in the app css */
	margin: 0 9px;
	padding: 0;
}

.d-round-rect-list > *:first-child {
	border-top-left-radius: @round-radius;
	border-top-right-radius: @round-radius;
}

.d-round-rect-list > *:last-child {
	border-bottom-left-radius: @round-radius;
	border-bottom-right-radius: @round-radius;
}

.d-list {
	/* edit display at your own risk */
	display: block;

	/* Position relative is needed by List.getBottomDistance(). */
	/* The List must be positioned to be the offsetNode of renderers. */
	/* Otherwise, the offsetTop value is computed against a wrong parent */
	position: relative;

	padding: 0;
	/* Do not change this margin setting when customizing list in the app css*/
	margin: 0;
}
