<table cellspacing="0" cellpadding="0" class="duiCalendarContainer" role="grid" aria-labelledby="${id}_mddb ${id}_year" data-dojo-attach-point="gridNode">
	<thead>
		<tr class="duiReset duiCalendarMonthContainer" valign="top">
			<th class='duiReset duiCalendarArrow' data-dojo-attach-point="decrementMonth" scope="col">
				<span class="duiInline duiCalendarIncrementControl duiCalendarDecrease" role="presentation"></span>
				<span data-dojo-attach-point="decreaseArrowNode" class="duiA11ySideArrow">-</span>
			</th>
			<th class='duiReset' colspan="5" scope="col">
				<div data-dojo-attach-point="monthNode">
				</div>
			</th>
			<th class='duiReset duiCalendarArrow' scope="col" data-dojo-attach-point="incrementMonth">
				<span class="duiInline duiCalendarIncrementControl duiCalendarIncrease" role="presentation"></span>
				<span data-dojo-attach-point="increaseArrowNode" class="duiA11ySideArrow">+</span>
			</th>
		</tr>
		<tr role="row">
			${!dayCellsHtml}
		</tr>
	</thead>
	<tbody data-dojo-attach-point="dateRowsNode" data-dojo-attach-event="ondijitclick: _onDayClick" class="duiReset duiCalendarBodyContainer">
			${!dateRowsHtml}
	</tbody>
	<tfoot class="duiReset duiCalendarYearContainer">
		<tr>
			<td class='duiReset' valign="top" colspan="7" role="presentation">
				<div class="duiCalendarYearLabel">
					<span data-dojo-attach-point="previousYearLabelNode" class="duiInline duiCalendarPreviousYear" role="button"></span>
					<span data-dojo-attach-point="currentYearLabelNode" class="duiInline duiCalendarSelectedYear" role="button" id="${id}_year"></span>
					<span data-dojo-attach-point="nextYearLabelNode" class="duiInline duiCalendarNextYear" role="button"></span>
				</div>
			</td>
		</tr>
	</tfoot>
</table>
