<div class="duiDialog" role="dialog" aria-labelledby="${id}_title">
	<div data-dojo-attach-point="titleBar" class="duiDialogTitleBar">
		<span data-dojo-attach-point="titleNode" class="duiDialogTitle" id="${id}_title"
				role="heading" level="1"></span>
		<span data-dojo-attach-point="closeButtonNode" class="duiDialogCloseIcon" data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabindex="0">
			<span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div data-dojo-attach-point="containerNode" class="duiDialogPaneContent"></div>
</div>
