<fieldset>
	<legend data-dojo-attach-event="ondijitclick:_onTitleClick, onkeydown:_onTitleKey"
			data-dojo-attach-point="titleBarNode, titleNode, focusNode">
		<span data-dojo-attach-point="arrowNode" class="duiInline duiArrowNode" role="presentation"></span
		><span data-dojo-attach-point="arrowNodeInner" class="duiArrowNodeInner"></span
		><span data-dojo-attach-point="titleNode" class="duiFieldsetLegendNode"></span>
	</legend>
	<div class="duiFieldsetContentOuter" data-dojo-attach-point="hideNode" role="presentation">
		<div class="duiReset" data-dojo-attach-point="wipeNode" role="presentation">
			<div class="duiFieldsetContentInner" data-dojo-attach-point="containerNode" role="region" id="${id}_pane" aria-labelledby="${id}_titleBarNode">
				<!-- nested divs because wipeIn()/wipeOut() doesn't work right on node w/padding etc.  Put padding on inner div. -->
			</div>
		</div>
	</div>
</fieldset>
