<tr class="duiReset" data-dojo-attach-point="focusNode" role="menuitem" tabIndex="-1">
	<td class="duiReset duiMenuItemIconCell" role="presentation">
		<span role="presentation" class="duiInline duiIcon duiMenuItemIcon" data-dojo-attach-point="iconNode"></span>
	</td>
	<td class="duiReset duiMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode,textDirNode"></td>
	<td class="duiReset duiMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="duiReset duiMenuArrowCell" role="presentation">
		<span data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<span class="duiInline duiIcon duiMenuExpand"></span>
			<span class="duiMenuExpandA11y">+</span>
		</span>
	</td>
</tr>
