<div class="duiProgressBar duiProgressBarEmpty" role="progressbar"
	><div  data-dojo-attach-point="internalProgress" class="duiProgressBarFull"
		><div class="duiProgressBarTile" role="presentation"></div
		><span style="visibility:hidden">&#160;</span
	></div
	><div data-dojo-attach-point="labelNode" class="duiProgressBarLabel" id="${id}_label"></div
	><span data-dojo-attach-point="indeterminateHighContrastImage"
		   class="duiInline duiProgressBarIndeterminateHighContrastImage"></span
></div>
