<div>
	<div data-dojo-attach-event="ondijitclick:_onTitleClick, onkeydown:_onTitleKey"
			class="duiTitlePaneTitle" data-dojo-attach-point="titleBarNode" id="${id}_titleBarNode">
		<div class="duiTitlePaneTitleFocus" data-dojo-attach-point="focusNode">
			<span data-dojo-attach-point="arrowNode" class="duiInline duiArrowNode" role="presentation"></span
			><span data-dojo-attach-point="arrowNodeInner" class="duiArrowNodeInner"></span
			><span data-dojo-attach-point="titleNode" class="duiTitlePaneTextNode"></span>
		</div>
	</div>
	<div class="duiTitlePaneContentOuter" data-dojo-attach-point="hideNode" role="presentation">
		<div class="duiReset" data-dojo-attach-point="wipeNode" role="presentation">
			<div class="duiTitlePaneContentInner" data-dojo-attach-point="containerNode" role="region" id="${id}_pane" aria-labelledby="${id}_titleBarNode">
				<!-- nested divs because wipeIn()/wipeOut() doesn't work right on node w/padding etc.  Put padding on inner div. -->
			</div>
		</div>
	</div>
</div>
