<div class="duiTreeNode" role="presentation"
	><div data-dojo-attach-point="rowNode" class="duiTreeRow" role="presentation"
		><span data-dojo-attach-point="expandoNode" class="duiInline duiTreeExpando" role="presentation"></span
		><span data-dojo-attach-point="expandoNodeText" class="duiExpandoText" role="presentation"></span
		><span data-dojo-attach-point="contentNode"
			class="duiTreeContent" role="presentation">
			<span role="presentation" class="duiInline duiIcon duiTreeIcon" data-dojo-attach-point="iconNode"></span
			><span data-dojo-attach-point="labelNode,focusNode" class="duiTreeLabel" role="treeitem" tabindex="-1" aria-selected="false"></span>
		</span
	></div>
	<div data-dojo-attach-point="containerNode" class="duiTreeNodeContainer" role="presentation" style="display: none;"></div>
</div>
