.d-combobox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #555555;
  font-size: 14px;
  line-height: 1.42857143;
}
.d-combobox-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: inherit;
  text-align: center;
  line-height: normal;
  padding: 7px 12px;
}
.d-combobox-arrow::after {
  font-size: 10px;
}
.d-combobox-arrow::after {
  content: "\25BC";
  display: inline-block;
  padding: 0;
  line-height: normal;
}
.d-disabled.d-combobox-arrow::after {
  opacity: 0.5;
  cursor: auto;
}
.d-combobox.d-rtl .d-combobox-arrow {
  left: 0;
  right: auto;
}
.d-combo-popup-tooltip-dialog .d-tooltip-container {
  padding: 0;
}
.d-combo-popup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}
.d-combo-popup input {
  width: 100%;
}
.d-combo-popup .d-list {
  flex: 1;
}
.d-combo-popup-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.d-combobox-input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  cursor: text;
  padding: 6px 34px 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.d-combobox-input[disabled],
fieldset[disabled] .d-combobox-input {
  opacity: 0.5;
  cursor: auto;
}
.d-combobox-input[readonly] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.d-combobox-input:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.d-combobox.d-rtl .d-combobox-input {
  padding: 6px 12px 6px 34px;
}
/* Applies to the input inside the root node but does not apply */
/* to the input conditionally present inside the popup */
.d-combobox .d-combobox-input {
  height: 100%;
  vertical-align: inherit;
  border-radius: 0;
  -webkit-appearance: none;
  background: white;
  text-align: start;
  margin: 0;
}
.d-combobox-list .d-active-descendant {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
