/* dojox.mobile.Accordion */
.duiAccordionTitle {
	.duiAccordionTitle-compat;
}
.duiAccordionTitleSelected {
	.duiAccordionTitleSelected-compat;
}

.dj_gecko {
	.duiAccordionTitle {
		.duiAccordionTitle-compat-gecko;
	}
	.duiAccordionTitleSelected {
		.duiAccordionTitleSelected-compat-gecko;
	}
}

.dj_ff3 {
	.duiAccordionRoundRect {
		-moz-border-radius: 8px;
		.duiAccordionTitle:first-child {
			-moz-border-radius-topleft: 8px;
			-moz-border-radius-topright: 8px;
		}
		.duiAccordionTitleLast, .duiAccordionPane:last-child {
			-moz-border-radius-bottomleft: 8px;
			-moz-border-radius-bottomright: 8px;
		}
	}
}
