/* dui.mobile.Accordion */
.duiAccordion {
	border-style: outset;
	border-width: 1px;
	.duiAccordion-styles;
}
.duiAccordionRoundRect {
	margin: 7px 9px 16px 9px;
	padding: 0;
	border: 1px solid @dui-round-rect-border-color;
	border-radius: 8px;
	.duiAccordionTitle:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	.duiAccordionTitleLast, .duiAccordionPane:last-child {
		border-bottom-width: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}
.duiAccordionTitle {
	position: relative;
	height: 30px;
	width: 100%;
	font-family: Helvetica;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	vertical-align: middle;
	white-space: nowrap;
	.duiAccordionTitle-styles;
	&:first-child {
		border-top: none;
	}
}
.duiAccordionTitleAnchor {
	display: block;
	height: 100%;
	text-decoration: none;
	white-space: nowrap;
	.duiAccordionTitleAnchor-styles;
  cursor: pointer;
}
.duiAccordionIconParent {
	float: left;
	margin: 6px 4px 0 6px;
	line-height: normal;
}
.duiAccordionIconParent1 {
	display: block;
}
.duiAccordionIconParent2 {
	display: none;
}
.duiAccordionTitleSelected {
	.duiAccordionTitleSelected-styles;
	.duiAccordionTitleAnchor {
		.duiAccordionTitleAnchorSelected-styles;
	}
	.duiAccordionIconParent1 {
		display: none;
	}
	.duiAccordionIconParent2 {
		display: block;
	}
}
