/* dojox.mobile.Button */
.duiButton {
	padding: 0 10px;
	height: 29px;
	border-style: outset;
	border-width: 1px;
	.dui-button-background-image();
	font-family: Helvetica;
	line-height: 29px;
	cursor: pointer;
	.tap-highlight-color(rgba(255,255,255,0));
	.duiButton-styles;
}
.duiButtonSelected {
	.dui-button-selected-background-image();
	.duiButtonSelected-styles;
}
.duiButtonDisabled,
.duiButton:disabled {
	border-color: grey;
	background-image: none;
	color: grey;
	cursor: default;
}
.duiBlueButton {
	.dui-blue-button-background-image();
	.duiButton-duiBlueButton-styles;
}
.duiBlueButtonSelected {
	.dui-blue-button-selected-background-image();
}
.duiRedButton {
	.dui-red-button-background-image();
	.duiButton-duiRedButton-styles;
}
.duiRedButtonSelected {
	.dui-red-button-selected-background-image();
}
