/* dui.mobile.Button */
.duiButton {
	background-image: url(compat/button-bg.png);
	background-repeat: repeat-x;
}
.duiButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
.duiBlueButton {
	background-image: url(compat/blue-button-bg.png);
}
.duiBlueButtonSelected {
	background-image: url(compat/blue-button-sel-bg.png);
}
.duiRedButton {
	background-image: url(compat/red-button-bg.png);
}
.duiRedButtonSelected {
	background-image: url(compat/red-button-sel-bg.png);
}

.dj_gecko {
	.duiButton {
		background-image: @dui-button-background-image-gecko;
	}
	.duiButtonSelected {
		background-image: @dui-button-selected-background-image-gecko;
	}
	.duiBlueButton {
		background-image: @dui-blue-button-background-image-gecko;
	}
	.duiBlueButtonSelected {
		background-image: @dui-blue-button-selected-background-image-gecko;
	}
	.duiRedButton {
		background-image: @dui-red-button-background-image-gecko;
	}
	.duiRedButtonSelected {
		background-image: @dui-red-button-selected-background-image-gecko;
	}
}
.dj_ff3 {
	.duiButton {
		-moz-border-radius: @default-button-border-radius;
	}
}
