/* dui.mobile.CheckBox */
.duiCheckBox {
	position: relative;
	margin: -0.5em 3px 0.3em 4px;
	width: 1em;
	height: 1em;
	border-style: outset;
	border-width: 1px;
	.dui-button-background-image();
	font: inherit;
	cursor: pointer;
	.appearance(none);
	.tap-highlight-color(rgba(255,255,255,0));
	.transform(translateY(0.45em));
	.duiCheckBox-styles;
}
.duiCheckBoxSelected {
	.dui-button-selected-background-image();
}
.duiCheckBoxChecked,
.duiCheckBox:checked {
	.dui-button-checked-background-image();
	&::after {
		position: absolute;
		content: "";
		width: 0.3em;
		height: 0.6em;
		top: 0;
		left: 0.3em;
		border-width: 0.15em;
		border-style: none solid solid none;
		.transform(rotate(45deg));
		.transform-origin(50% 50%);
		.duiCheckBoxChecked-after-styles;
	}
	&.duiCheckBoxSelected {
		.dui-blue-button-selected-background-image();
		&::after {
			.duiCheckBoxChecked-duiCheckBoxSelected-after-styles;
		}
	}
}
