/* dui.mobile.CheckBox */
.duiCheckBox {
	background-image: url(compat/button-bg.png);
}
.duiCheckBoxSelected {
	background-image: url(compat/button-sel-bg.png);
}
.duiCheckBoxChecked,
.duiCheckBox:checked {
	background-image: url(compat/button-chk-bg.png);
	&.duiCheckBoxSelected {
		background-image: url(compat/button-unsel-bg.png);
	}
}

.dj_gecko {
	.duiCheckBox {
		background-image: @dui-button-background-image-gecko;
		-moz-appearance: none;
	}
	.duiCheckBoxSelected {
		background-image: @dui-button-selected-background-image-gecko;
	}
	.duiCheckBoxChecked,
	.duiCheckBox:checked {
		background-image: @dui-button-checked-background-image-gecko;
		&::after {
			-moz-transform: rotate(45deg);
			-moz-transform-origin: 50% 50%;
		}
		&.duiCheckBoxSelected {
			background-image: @dui-blue-button-selected-background-image-gecko;
		}
	}
}
.dj_ff3 {
	.duiCheckBox {
		-moz-border-radius: @default-button-border-radius;
	}
}