.dj_gecko {
	.duiColorBlue {
		background-image: @default-blue-button-background-image-gecko;
	}
	.duiColorBlue45 {
    background-image: @dui-color-blue-45-gecko;
  }
	.duiColorDefault {
		background-image: @default-button-background-image-gecko;
	}
	.duiColorDefault45 {
    background-image: @dui-color-default-45-gecko;
  }
	.duiColorDefaultSel {
		background-image: @default-button-selected-background-image-gecko;
	}
	.duiColorDefaultSel45 {
    background-image: @dui-color-default-sel-45-gecko;
  }
}
