/* dui.mobile.Heading */
.duiHeading {
	background-image: url(compat/heading-bg.png);
}
.duiHeadingSpanTitle {
	white-space: normal;
}

.dj_gecko {
	.duiHeading {
		background-image: @heading-background-image-gecko;
	}
}
