/* dojox.mobile.IconMenu */
.duiIconMenu {
	width: 100%;
	height: 100%;
	border-radius: @dui-icon-menu-border-radius;
	text-align: center;
	.tap-highlight-color(rgba(255, 255, 255, 0));
	.duiIconMenu-styles;
}

/* dojox.mobile.IconMenuItem */
.duiIconMenuItem {
	float: left;
	list-style-type: none;
	.box-sizing(border-box);
	.duiIconMenuItem-styles;
}
.duiIconMenuItemIcon {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.duiIconMenuItemFirstColumn {
	border-left: none;
}
.duiIconMenuItemLastRow {
	border-bottom: none;
}
.duiIconMenuItemFirstRow {
	&.duiIconMenuItemFirstColumn {
		border-top-left-radius: @dui-icon-menu-item-border-radius;
	}
	&.duiIconMenuItemLastColumn {
		border-top-right-radius: @dui-icon-menu-item-border-radius;
	}
}
.duiIconMenuItemLastRow {
	&.duiIconMenuItemFirstColumn {
		border-bottom-left-radius: @dui-icon-menu-item-border-radius;
	}
	&.duiIconMenuItemLastColumn {
		border-bottom-right-radius: @dui-icon-menu-item-border-radius;
	}
}
.duiIconMenuItemAnchor {
	display: block;
	height: 100%;
	font-family: Helvetica;
	text-decoration: none;
	.duiIconMenuItemAnchor-styles;
  cursor: pointer;
}
.duiIconMenuItemTable {
	width: 100%;
	height: 100%;
	img {
		border: none;
	}
}
.duiIconMenuItemSel {
	.duiIconMenuItemSel-styles;
}
