.duiIconMenuItemRtl {
  float: right;
}
.first-column(@v){
&.duiIconMenuItemFirstColumn{
  border-right: none;
  border-left: @v;
}
}

.menu-item-first-column(@v){
.duiIconMenuItemRtl{
    .first-column (@v);
    }
}

.top-radius(@r, @l){
      border-top-right-radius: @r;
      border-top-left-radius: @l;
    }
    
.bottom-radius(@r, @l){
    border-bottom-right-radius: @r;
    border-bottom-left-radius: @l;
    }    
    
.first-row-first-column(@r, @l: 0px){
.duiIconMenuItemRtl.duiIconMenuItemFirstRow.duiIconMenuItemFirstColumn {
  .top-radius(@r, @l);
}    
}

.first-row-last-column(@r: 0px, @l){
.duiIconMenuItemRtl.duiIconMenuItemFirstRow.duiIconMenuItemLastColumn {
  .top-radius(@r, @l);
}
}

.last-row-first-column(@r, @l: 0px){
.duiIconMenuItemRtl.duiIconMenuItemLastRow.duiIconMenuItemFirstColumn {
  .bottom-radius(@r, @l);
}   
}

.last-row-last-column(@r: 0px, @l){
.duiIconMenuItemRtl.duiIconMenuItemLastRow.duiIconMenuItemLastColumn {
   .bottom-radius(@r, @l);
}
}
.mixin(android, @r:6px, @l: 0px, @v:~"1px solid rgba(96, 96, 96, 0.85)"){
   .menu-item-first-column(@v);
   .first-row-first-column(@r, @l);
   .first-row-last-column(@l, @r);
   .last-row-first-column(@r, @l);
   .last-row-last-column(@l ,@r);
   
}

.mixin(iphone, @r:10px, @l: 0px, @v:~"1px solid #6b6c6f"){
   .menu-item-first-column(@v);
   .first-row-first-column(@r, @l);
   .first-row-last-column(@l, @r);
   .last-row-first-column(@r, @l);
   .last-row-last-column(@l ,@r);
   
}

.mixin(custom, @r:3px, @l: 0px, @v:~"1px solid rgba(192, 192, 192, 0.85)"){
   .menu-item-first-column(@v);
   .first-row-first-column(@r, @l);
   .first-row-last-column(@l, @r);
   .last-row-first-column(@r, @l);
   .last-row-last-column(@l ,@r);
   
}
.mixin(blackberry, @v:~"1px solid #000000"){
    .first-column(@v);  
}
.mixin(holoDark, @r:6px, @l: 0px, @v:~"1px solid rgba(96, 96, 96, 0.85)"){
   .menu-item-first-column(@v);
   .first-row-first-column(@r, @l);
   .first-row-last-column(@l, @r);
   .last-row-first-column(@r, @l);
   .last-row-last-column(@l ,@r);
   
}
.mixin(@theme-id);
