/* dui.mobile.IconMenu */
.duiIconMenu {
	.duiIconMenu-compat;
}
.duiIconMenuItemSel {
	.duiIconMenuItemSel-compat;
}

.dj_gecko {
	.duiIconMenu {
		.duiIconMenu-compat-gecko;
	}
	.duiIconMenuItem {
		-moz-box-sizing: border-box;
	}
	.duiIconMenuItemSel {
		.duiIconMenuItemSel-compat-gecko;
	}
}

.dj_ff3 {
	.duiIconMenu {
		-moz-border-radius: @dui-icon-menu-border-radius;
	}
	.duiIconMenuItemIcon img {
	  border: 1px solid red;
	}
	.duiIconMenuItemFirstRow {
		&.duiIconMenuItemFirstColumn {
			-moz-border-top-left-radius: @dui-icon-menu-item-border-radius;
		}
		&.duiIconMenuItemLastColumn {
			-moz-border-top-right-radius: @dui-icon-menu-item-border-radius;
		}
	}
	.duiIconMenuItemLastRow {
		&.duiIconMenuItemFirstColumn {
			-moz-border-bottom-left-radius: @dui-icon-menu-item-border-radius;
		}
		&.duiIconMenuItemLastColumn {
			-moz-border-bottom-right-radius: @dui-icon-menu-item-border-radius;
		}
	}
}
