/* dui.mobile.IconContainer */
.duiIconContainer {
	margin: 20px 10px;
	padding: 0;
}

/* dui.mobile.IconItem */
.duiIconItem {
	position: relative;
	overflow: hidden; /* for focus frame */
	list-style-type: none;
	float: left;
	.tap-highlight-color(rgba(255, 255, 255, 0));
}
.duiIconItemTerminator {
	list-style-type: none;
	clear: both;
}
.duiIconItemPane {
	list-style-type: none;
	.duiIconItemSub-styles;
}
.duiIconArea {
	position: relative;
	height: 78px;
	font-family: Helvetica;
	font-size: 12px;
	text-align: center;
	.duiIconArea-styles;
	img {
		vertical-align: middle;
	}
}
.duiIconAreaInner {
	position: relative;
	height: 65px;
	line-height: 65px;
	text-align: center;
}
.duiIconItemDeleteIcon {
	position: absolute;
	.duiIconItemDeleteIcon-styles;
}
.duiIconItemSpriteIcon {
	position: absolute;
}
.duiContent {
	clear: both;
	padding-bottom: 20px;
}
table.duiClose {
	clear: both;
	cursor: pointer;
}
.duiVibrate{
	position: relative;
	.animation-duration(.5s);
	.animation-timing-function(ease-in-out);
	.animation-iteration-count(infinite);
	.animation-name(duiVibrate);
	.transform(rotate(0deg));
}
.duiCloseContent{
	.animation-duration(.3s);
	.animation-timing-function(ease-in-out);
	.animation-name(duiShrink);
	.transform(scale(0.01));
	&.duiShrink0{
		.animation-name(duiShrink0);
	}
	&.duiShrink1{
		.animation-name(duiShrink1);
	}
	&.duiShrink2{
		.animation-name(duiShrink2);
	}
	&.duiShrink3{
		.animation-name(duiShrink3);
	}
}

/* dui.mobile._IconItemPane */
.duiIconItemPaneHeading {
	position: relative;
	clear: both;
	overflow: hidden;
	margin-top: 0px;
	padding-left: 40px;
	height: 25px;
	border-top: 1px solid #f1f3f4;
	border-bottom: 1px solid #717d85;
	.background-image-linear-gradient-top-bottom-2-stops(#e0e4e7, #b4bec6, 0.5, #c4ccd2, 0.5, #bfc8ce);
	font-family: Helvetica;
	font-size: 14px;
	color: white;
	line-height: 26px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.duiIconItemPaneIcon {
	position: absolute;
	top: -2px;
	left: 1px;
}

@-webkit-keyframes duiVibrate { .keyframes-vibrate-webkit(); }
@keyframes         duiVibrate { .keyframes-vibrate       (); }
@-webkit-keyframes duiShrink  { .keyframes-transform-from-to-webkit(scale(1), scale(0.01)); }
@keyframes         duiShrink  { .keyframes-transform-from-to       (scale(1), scale(0.01)); }
@-webkit-keyframes duiShrink0 { .keyframes-transform-from-to-webkit(scale(1), translate(-40%,-70%) scale(0.01)); }
@keyframes         duiShrink0 { .keyframes-transform-from-to       (scale(1), translate(-40%,-70%) scale(0.01)); }
@-webkit-keyframes duiShrink1 { .keyframes-transform-from-to-webkit(scale(1), translate(-14%,-70%) scale(0.01)); }
@keyframes         duiShrink1 { .keyframes-transform-from-to       (scale(1), translate(-14%,-70%) scale(0.01)); }
@-webkit-keyframes duiShrink2 { .keyframes-transform-from-to-webkit(scale(1), translate(14%,-70%)  scale(0.01)); }
@keyframes         duiShrink2 { .keyframes-transform-from-to       (scale(1), translate(14%,-70%)  scale(0.01)); }
@-webkit-keyframes duiShrink3 { .keyframes-transform-from-to-webkit(scale(1), translate(40%,-70%)  scale(0.01)); }
@keyframes         duiShrink3 { .keyframes-transform-from-to       (scale(1), translate(40%,-70%)  scale(0.01)); }
