/* dui.mobile.ListItem */
.duiListItem {
	position: relative;
	overflow: hidden; /* for focus frame */
	padding: 0 8px;
	height: @dui-list-item-height;
	list-style-type: none;
	line-height: @dui-list-item-height;
	.tap-highlight-color(rgba(255,255,255,0));
	.duiListItem-styles;
	&.duiVariableHeight {
		padding: 11px 8px;
		height: auto;
		line-height: normal;
	}
}
.duiListItemSelected {
	.duiListItemSelected-styles;
	.duiDomButton {
		div {
			border-color: white;
		}
	}
}
.duiListItemLabelSelected {
	.duiListItemLabelSelected-styles;
}
.duiListItemChecked {
	.duiListItemChecked-styles;
}

.duiListItemChecked .duiListItemRightIcon {
	visibility: visible;
}
.duiListItemChecked .duiListItemUncheckIcon {
	position: absolute;
	visibility: hidden;
}

.duiListItemUnchecked .duiListItemRightIcon {
	visibility: hidden;
}
.duiListItemUnchecked .duiListItemUncheckIcon {
	visibility: visible;
}

.duiListItemDeleteIcon {
	position: relative;
	float: left;
	line-height: normal;
	margin-top: (@dui-list-item-height - 29) / 2; // '29': Icon's height.
	margin-bottom: -(@dui-list-item-height - 29) / 2;
	margin-right: 11px;
}
.duiListItemIcon {
	position: relative;
	float: left;
	line-height: normal;
	margin-top: (@dui-list-item-height - 29) / 2;
	margin-bottom: -(@dui-list-item-height - 29) / 2;
	margin-right: 11px;
}
.duiListItemRightIcon,
.duiListItemRightIcon2,
.duiListItemUncheckIcon {
	position: relative;
	float: right;
	line-height: normal;
	margin-top: (@dui-list-item-height - 29) / 2;
	margin-bottom: -(@dui-list-item-height - 29) / 2;
}

.duiListItemRightText {
	position: relative;
	float: right;
	line-height: normal;
	margin-right: 4px;
	.duiListItemRightText-styles;
}
.duiListItemLabel {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 100%;
}
.duiVariableHeight .duiListItemLabel {
	white-space: normal;
}
.duiListItemSubText {
	.duiListItemSubText-styles;
}

.duiListItemLayoutLeft {
	position: relative;
	float: left;
	margin-right: 11px;
}
.duiListItemLayoutCenter {
	position: absolute;
	width: 100%;
	text-align: center;
}
.duiListItemLayoutRight {
	position: relative;
	float: right;
}

/* dui.mobile._EditableListMixin */
.duiListItemFloat {
	position: absolute;
	border: 1px solid gray;
	opacity: 0.5;
	.box-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}
