/* dojox.mobile.ListItem */
.duiListItemSelected {
	background-color: @default-selected-background-color;
}

.dj_gecko {
	.duiListItemSelected {
		background-image: @default-selected-background-image-gecko;
	}
}

.dj_ie6 {
	.duiListItem {
		vertical-align: bottom;
	}
}
