/* dojox.mobile.ProgressBar */
.duiProgressBar {
	position: relative;
	.duiProgressBar-styles;
}
.duiProgressBarProgress {
	.transition-property(width);
	.transition-duration(0.25s);
	.duiProgressBarProgress-styles;
}
.duiProgressBarComplete {
	.duiProgressBarComplete-styles;
}
.duiProgressBarNotStarted {
	border-left: none;
	border-right: none;
	.duiProgressBarNotStarted-styles;
}
.duiProgressBarMsg {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 12px;
	.duiProgressBarMsg-styles;
}
