/* Progress Indicator */

.dj_ie {
	.duiProg {
		width: 4px;
		height: 36px;
	}
	.duiProg0 {
		left: 0px;
	}
	.duiProg1 {
		left: 8px;
	}
	.duiProg2 {
		left: 16px;
	}
	.duiProg3 {
		left: 24px;
	}
	.duiProg4 {
		left: 32px;
	}
	.duiProg5 {
		left: 40px;
	}
	.duiProg6 {
		left: 48px;
	}
	.duiProg7 {
		left: 56px;
	}
	.duiProg8 {
		left: 64px;
	}
	.duiProg9 {
		left: 72px;
	}
	.duiProg10 {
		left: 80px;
	}
	.duiProg11 {
		left: 80px;
	}
}

.dj_gecko {
	.duiProgressIndicatorCenter .duiProgContainer {
	  -moz-transform-origin: 50% 0;
	}
	.duiProg {
	  -moz-transform-origin: 0 2px;
	}
	.duiProg0 {
	  -moz-transform: translate(18px, 10px) rotate(-90.1deg);
	}
	.duiProg1 {
	  -moz-transform: translate(22px, 11px) rotate(-60deg);
	}
	.duiProg2 {
	  -moz-transform: translate(25px, 14px) rotate(-30deg);
	}
	.duiProg3 {
	  -moz-transform: translate(26px, 18px) rotate(0deg);
	}
	.duiProg4 {
	  -moz-transform: translate(25px, 22px) rotate(30deg);
	}
	.duiProg5 {
	  -moz-transform: translate(22px, 25px) rotate(60deg);
	}
	.duiProg6 {
	  -moz-transform: translate(18px, 26px) rotate(90.1deg);
	}
	.duiProg7 {
	  -moz-transform: translate(14px, 25px) rotate(120deg);
	}
	.duiProg8 {
	  -moz-transform: translate(11px, 22px) rotate(150deg);
	}
	.duiProg9 {
	  -moz-transform: translate(10px, 18px) rotate(180deg);
	}
	.duiProg10 {
	  -moz-transform: translate(11px, 14px) rotate(210deg);
	}
	.duiProg11 {
	  -moz-transform: translate(14px, 11px) rotate(240deg);
	}
}
