/* dui.mobile.RadioButton */
.duiRadioButton {
	background-image: url(compat/button-bg.png);
}
.duiRadioButtonChecked,
.duiRadioButton:checked {
	background-image: url(compat/button-chk-bg.png);
	&.duiRadioButtonSelected {
		background-image: url(compat/blue-button-sel-bg.png);
	}
}

.dj_gecko {
	.duiRadioButton {
		background-image: @dui-button-background-image-gecko;
		-moz-appearance: none;
	}
	.duiRadioButtonChecked,
	.duiRadioButton:checked {
		background-image: @dui-button-checked-background-image-gecko;
		&::after {
			-moz-transform: rotate(45deg);
			-moz-transform-origin: 50% 50%;
		}
		&.duiRadioButtonSelected {
			background-image: @dui-blue-button-selected-background-image-gecko;
		}	
	}
}
.dj_ff3 {
	.duiRadioButton {
		-moz-border-radius: 0.5em;
	}
}
