/* dojox.mobile.RoundRectList */
.duiRoundRectList {
	margin: 7px 9px 16px;
	padding: 0;
	border: 1px solid @dui-round-rect-border-color;
	border-radius: @dui-round-rect-border-radius;
	background-color: @dui-round-rect-background-color;
	.duiListItem:first-child,
	.duiEdgeToEdgeCategory:first-child {
		border-top-left-radius: @dui-round-rect-border-radius;
		border-top-right-radius: @dui-round-rect-border-radius;
	}
	.duiListItem:last-child,
	.duiEdgeToEdgeCategory:last-child {
		border-bottom-width: 0;
		border-bottom-left-radius: @dui-round-rect-border-radius;
		border-bottom-right-radius: @dui-round-rect-border-radius;
	}
}
