/* dui.mobile.RoundRect */
.duiRoundRect.duiShadow {
	box-shadow: @dui-round-rect-box-shadow;
}

.dj_ff3 {
	.duiRoundRect {
		-moz-border-radius: @dui-round-rect-border-radius;
	}
	.duiRoundRect.duiShadow {
		-moz-box-shadow: @dui-round-rect-box-shadow;
	}
}

/* Round Corner */
.dj_ie {
	.duiRoundCorner {
		background-color: @dui-round-rect-background-color;
		height: 1px;
		font-size: 1px;
		overflow: hidden;
		border-style: solid;
		border-color: @dui-round-rect-border-color;
		border-width: 0 1px;
	}
	.duiRoundRectContainer {
		padding: 3px 8px;
		background-color: @dui-round-rect-background-color;
		border-style: solid;
		border-color: @dui-round-rect-border-color;
		border-width: 0 1px;
	}
	.duiRoundRectList .duiRoundRectContainer {
		margin: 0;
		padding: 0;
	}
	.duiRoundCorner0T {
		height: 0;
	}
	.duiRoundCorner1T {
		background-color: @dui-round-rect-border-color;
		margin: 0 5px;
	}
	.duiRoundCorner2T {
		margin: 0 2px;
		border-width: 0 3px;
	}
	.duiRoundCorner3T {
		margin: 0 1px;
		border-width: 0 2px;
	}
	.duiRoundCorner4T {
		margin: 0 1px;
	}
	.duiRoundCorner5T {
		margin: 0 1px;
	}
	
	.duiRoundCorner0B {
		height: 0;
	}
	.duiRoundCorner1B {
		margin: 0 1px;
	}
	.duiRoundCorner2B {
		margin: 0 1px;
	}
	.duiRoundCorner3B {
		margin: 0 1px;
		border-width: 0 2px;
	}
	.duiRoundCorner4B {
		margin: 0 2px;
		border-width: 0 3px;
	}
	.duiRoundCorner5B {
		background-color: @dui-round-rect-border-color;
		margin: 0 5px;
	}
}
