/* dojox.mobile.duiScrollablePane */
.duiScrollablePane {
	position: relative;
	overflow: hidden;
}
.duiScrollableViewContainer {
	position: absolute;
	top: 0px;
}
.duiScrollablePaneMask {
	position: relative;
}
