/* dui.mobile.SimpleDialog */
.duiSimpleDialog {
	position: absolute;
	z-index: 100;
	margin: 0;
	text-align: center;
	outline: none;
	.duiSimpleDialog-styles;
}
.duiSimpleDialogDecoration {
	border-radius: @dui-simple-dialog-border-radius;
	.duiSimpleDialogDecoration-styles;
}
.duiSimpleDialogContainer {
	position: relative;
	width: 100%;
	height: 100%;
}
.duiSimpleDialogCover {
	background-color: #000000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.duiSimpleDialogCloseBtn {
	position: absolute !important;
}
.duiSimpleDialogTitle {
	.duiSimpleDialogTitle-styles;
}
.duiSimpleDialogText {
	.duiSimpleDialogText-styles;
}
