/* dui.mobile.Slider */
.duiSlider {
	background-image: url(compat/slider-h-bg.png);
	background-repeat: repeat-x;
}
.duiSliderProgressBar {
	background-image: url(compat/slider-h-bar-bg.png);
	background-repeat: repeat-x;
}
.duiSliderHandle {
	background-image: url(compat/slider-handle-bg.png);
}
.duiSliderV {
	background-color: @dui-switch-bg-right-background-color;
	background-image: none;
	.duiSliderProgressBar {
		background-color: @dui-switch-bg-left-background-color;
		background-image: none;
	}
}

.dj_gecko {
	.duiSlider {
		background-image: @dui-switch-bg-right-background-image-gecko;
		-moz-user-select: none; // prevent selection
		-moz-box-sizing: content-box; // make width and height consistent with a DIV
	}
	.duiSliderProgressBar {
		background-image: @dui-switch-bg-left-background-image-gecko;
	}
	.duiSliderHandle {
		background-image: @dui-switch-knob-background-image-gecko;
	}
}
.dj_ff3 {
	.duiSlider {
		-moz-border-radius: @dui-slider-bar-border-radius;
	}
	.duiSliderProgressBar {
		-moz-border-radius: @dui-slider-bar-border-radius;
	}
	.duiSliderHandle {
		-moz-border-radius: @dui-slider-knob-border-radius;
	}
}
