/* dojox.mobile.Switch */
/* Switch - common */
.dj_gecko {
	.duiSwitchBg {
		-moz-box-sizing: border-box;
	}
	.duiSwitchKnob {
		-moz-box-sizing: border-box;
	}
	.duiSwitch {
		.duiSwitchBgLeft {
			background-image: @dui-switch-bg-left-background-image-gecko;
		}
		.duiSwitchBgRight {
			background-image: @dui-switch-bg-right-background-image-gecko;
		}
		.duiSwitchKnob {
			background-image: @dui-switch-knob-background-image-gecko;
		}
	}
}

.dj_ie {
	.duiSwitchBg {
		border: none;
		background: none;
	}
	.duiSwitchBgLeft {
		background-repeat: no-repeat;
	}
	.duiSwitchBgRight {
		background-repeat: no-repeat;
	}
	.duiSwitchKnob {
		background: none;
		background-repeat: no-repeat;
		border: none;
	}
}

/* Square Shape */
.duiSwSquareShape-styles () {
	.duiSwitchBg {
		-moz-border-radius: @dui-switch-square-border-radius;
	}
	.duiSwitchBgLeft {
		background-image: url(compat/switch-square-l.gif);
	}
	.duiSwitchBgRight {
		background-image: url(compat/switch-square-r.gif);
	}
	.duiSwitchKnob {
		-moz-border-radius: @dui-switch-square-border-radius;
		background-image: url(compat/switch-square-k.gif);
	}
}
.duiSwSquareShape {
	.duiSwSquareShape-styles;
}

/* Round Shape1 */
.duiSwRoundShape1-styles () {
	.duiSwitchBg {
		-moz-border-radius: 14px;
	}
	.duiSwitchBgLeft {
		background-image: url(compat/switch-round1-l.gif);
	}
	.duiSwitchBgRight {
		background-image: url(compat/switch-round1-r.gif);
	}
	.duiSwitchKnob {
		-moz-border-radius: 13px;
		background-image: url(compat/switch-round1-k.gif);
	}
}
.duiSwRoundShape1 {
	.duiSwRoundShape1-styles;
}

/* Round Shape2 */
.duiSwRoundShape2-styles () {
	.duiSwitchBg {
		-moz-border-radius: 14px;
	}
	.duiSwitchBgLeft {
		background-image: url(compat/switch-round2-l.gif);
	}
	.duiSwitchBgRight {
		background-image: url(compat/switch-round2-r.gif);
	}
	.duiSwitchKnob {
		-moz-border-radius: 13px;
		background-image: url(compat/switch-round2-k.gif);
	}
}
.duiSwRoundShape2 {
	.duiSwRoundShape2-styles;
}

/* Arc Shape1 */
.duiSwArcShape1-styles () {
	.duiSwitchBg {
		-moz-border-radius: ~"5px/14px";
	}
	.duiSwitchBgLeft {
		background-image: url(compat/switch-arc1-l.gif);
	}
	.duiSwitchBgRight {
		background-image: url(compat/switch-arc1-r.gif);
	}
	.duiSwitchKnob {
		-moz-border-radius: ~"5px/13px";
		background-image: url(compat/switch-arc1-k.gif);
	}
}
.duiSwArcShape1 {
	.duiSwArcShape1-styles;
}

/* Switch - Arc Shape2 */
.duiSwArcShape2-styles () {
	.duiSwitchBg {
		-moz-border-radius: ~"5px/14px";
	}
	.duiSwitchBgLeft {
		background-image: url(compat/switch-arc2-l.gif);
	}
	.duiSwitchBgRight {
		background-image: url(compat/switch-arc2-r.gif);
	}
	.duiSwitchKnob {
		-moz-border-radius: ~"5px/13px";
		background-image: url(compat/switch-arc2-k.gif);
	}
}
.duiSwArcShape2 {
	.duiSwArcShape2-styles;
}
