/* dojox.mobile.Switch Rtl */
/* Square Shape Rtl */
.duiSwSquareShape .duiSwitchBgLeftRtl {
  background-image: url(compat/switch-square-r.gif);
}
.duiSwSquareShape .duiSwitchBgRightRtl {
  background-image: url(compat/switch-square-l.gif);
}
/* Round Shape1 Rtl */
.duiSwRoundShape1 .duiSwitchBgLeftRtl {
  background-image: url(compat/switch-round1-r.gif);
}
.duiSwRoundShape1 .duiSwitchBgRightRtl {
  background-image: url(compat/switch-round1-l.gif);
}
/* Round Shape2 Rtl */
.duiSwRoundShape2 .duiSwitchBgLeftRtl {
  background-image: url(compat/switch-round2-r.gif);
}
.duiSwRoundShape2 .duiSwitchBgRightRtl {
  background-image: url(compat/switch-round2-l.gif);
}
/* Arc Shape1 Rtl */
.duiSwArcShape1 .duiSwitchBgLeftRtl {
  background-image: url(compat/switch-arc1-r.gif);
}
.duiSwArcShape1 .duiSwitchBgRightRtl {
  background-image: url(compat/switch-arc1-l.gif);
}
/* Switch - Arc Shape2 Rtl */
.duiSwArcShape2 .duiSwitchBgLeftRtl {
  background-image: url(compat/switch-arc2-r.gif);
}
.duiSwArcShape2 .duiSwitchBgRightRtl {
  background-image: url(compat/switch-arc2-l.gif);
}
/* Default Shape Rtl */
.duiSwDefaultShape .duiSwitchBgLeftRtl {
  background-image: @dui-bg-image-r-rtl;
}
.duiSwDefaultShape .duiSwitchBgRightRtl {
  background-image: @dui-bg-image-l-rtl;
}
