/* dui.mobile.Switch Rtl */
/* Switch - common Rtl */
.duiSwitchRtl {
  text-align: right;
}
.duiListItemRtl .duiSwitch {
  left: 12px;
  right: auto;
}
.duiSwitchRtl.duiSwitchOn .duiSwitchInner {
  left: -50px;
}
.duiSwitchBgLeftRtl {
  left: 51px;
}
.duiSwitchTextLeftRtl {
  left: 0px;
}
.duiSwitchTextRightRtl {
  left: -40px;
}
/* Square Shape Rtl*/
.duiSwitchRtl.duiSwSquareShape.duiSwitchOff .duiSwitchInner {
  left: 0px;
}
.duiSwitchRtl.duiSwSquareShape.duiSwitchOn .duiSwitchInner {
  left: -53px;
}
.duiSwSquareShape .duiSwitchBgRightRtl {
  left: 0px;
}
.duiSwSquareShape .duiSwitchBgLeftRtl {
  left: 53px;
}
.duiSwitchRtl.duiSwSquareShape .duiSwitchKnob {
  left: 53px;
}
.duiSwSquareShape .duiSwitchTextRightRtl {
  left: -40px;
}
/* Round Shape1 Rtl */
.duiSwitchRtl.duiSwRoundShape1.duiSwitchOff .duiSwitchInner {
  left: 0px;
}
.duiSwRoundShape1 .duiSwitchBgRightRtl {
  left: 0px;
}
.duiSwitchRtl.duiSwRoundShape1 .duiSwitchKnob {
  left: 50px;
}
.duiSwRoundShape1 .duiSwitchTextRightRtl {
  left: -26px;
}
/* Round Shape2 Rtl */
.duiSwitchRtl.duiSwRoundShape2.duiSwitchOff .duiSwitchInner {
  left: 0px;
}
.duiSwitchRtl.duiSwRoundShape2.duiSwitchOn .duiSwitchInner {
  left: -51px;
}
.duiSwRoundShape2 .duiSwitchBgRightRtl {
  left: 0px;
}
.duiSwitchRtl.duiSwRoundShape2 .duiSwitchKnob {
  left: 51px;
}
.duiSwRoundShape2 .duiSwitchTextRightRtl {
  left: -42px;
}
/* Arc Shape1 Rtl */
.duiSwitchRtl.duiSwArcShape1.duiSwitchOff .duiSwitchInner {
  left: 0px;
}
.duiSwArcShape1 .duiSwitchBgRightRtl {
  left: 0px;
}
.duiSwitchRtl.duiSwArcShape1 .duiSwitchKnob {
  left: 50px;
}
.duiSwArcShape1 .duiSwitchTextRightRtl {
  left: -26px;
}
/* Arc Shape2 Rtl */
.duiSwitchRtl.duiSwArcShape2.duiSwitchOff .duiSwitchInner {
  left: 0px;
}
.duiSwArcShape2.duiSwitchOn .duiSwitchInner {
  left: -51px;
}
.duiSwArcShape2 .duiSwitchBgRightRtl {
  left: 0px;
}
.duiSwitchRtl.duiSwArcShape2 .duiSwitchKnob {
  left: 51px;
}
.duiSwArcShape2 .duiSwitchTextRightRtl {
  left: -42px;
}
/* Default Shape Rtl */
.duiSwitchRtl.duiSwDefaultShape.duiSwitchOff .duiSwitchInner {
  left: 0px;
}
.duiSwitchRtl.duiSwDefaultShape.duiSwitchOn .duiSwitchInner {
  left: @dui-switchOn-left-rtl;
}
.duiSwDefaultShape .duiSwitchBgRightRtl {
  left: 0px;
}
.duiSwDefaultShape .duiSwitchBgLeftRtl {
  left: @dui-switchBg-left-rtl;
}
.duiSwitchRtl.duiSwDefaultShape .duiSwitchKnob {
  left: @dui-switch-knob-rtl;
}
.duiSwDefaultShape .duiSwitchTextRightRtl {
  left: @dui-switch-text-right-rtl;
}
