/* dui.mobile.Switch */
/* Switch - common */
@dui-switch-height: 27px;
//
.duiSwitch {
	margin: 0;
	position: relative;
	display: inline-block;
	height: @dui-switch-height;
	line-height: @dui-switch-height + 2;
	overflow: hidden;
	text-align: left;
	.tap-highlight-color(rgba(255,255,255,0));
}
.duiListItem .duiSwitch {
	position: absolute;
	right: 12px;
	top: (@dui-list-item-height - @dui-switch-height) / 2;
}
.duiSwitchInner {
	position: absolute;
	top: 0;
	height: @dui-switch-height;
}
.duiSwitchAnimation .duiSwitchInner {
	.transition-property(left);
	.transition-duration(.1s);
}
.duiSwitchOn .duiSwitchInner {
	left: 0;
}
.duiSwitchBg {
	position: absolute;
	top: 0;
	width: 94px;
	height: @dui-switch-height;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	line-height: @dui-switch-height + 2;
	.box-sizing(border-box);
	.duiSwitchBg-styles;
}
.duiSwitchBgLeft {
	left: 0;
	color: white;
	background-color: #3f84eb;
	.dui-switch-bg-left-background-image();
}
.duiSwitchBgRight {
	color: #7f7f7f;
	.dui-switch-bg-right-background-image();
}
.duiSwitchKnob {
	position: absolute;
	top: 0;
	height: @dui-switch-height;
	.dui-switch-knob-background-image();
	font-size: 1px;
	.box-sizing(border-box);
	.duiSwitchKnob-styles;
}
.duiSwitchText {
	position: relative;
	top: 0;
	width: 53px;
	height: @dui-switch-height;
	padding: 0;
	line-height: 28px;
	text-align: center;
}
.duiSwitchTextLeft {
	left: 0;
}
.duiSwitchTextRight {
	left: 40px;
}

/* Square Shape */
.duiSwSquareShape-styles () {
	width: 94px;
	&.duiSwitchOff .duiSwitchInner {
		left: -53px;
	}
	.duiSwitchBg {
		border-radius: @dui-switch-square-border-radius;
	}
	.duiSwitchBgRight {
		left: 53px;
	}
	.duiSwitchKnob {
		left: 53px;
		width: 41px;
		border-radius: @dui-switch-square-border-radius;
	}
	.duiSwitchText {
		width: 53px;
	}
	.duiSwitchTextRight {
		left: 40px;
	}
}
.duiSwSquareShape {
	.duiSwSquareShape-styles;
}

/* Round Shape1 */
.duiSwRoundShape1-styles () {
	width: 77px;
	&.duiSwitchOff .duiSwitchInner {
		left: -50px;
	}
	.duiSwitchBg {
		width: 77px;
		border-radius: 14px;
	}
	.duiSwitchBgRight {
		left: 50px;
	}
	.duiSwitchKnob {
		left: 50px;
		width: 27px;
		border-radius: 13px;
	}
	.duiSwitchText {
		width: 50px;
	}
	.duiSwitchTextRight {
		left: 26px;
	}
}
.duiSwRoundShape1 {
	.duiSwRoundShape1-styles;
}

/* Round Shape2 */
.duiSwRoundShape2-styles () {
	width: 94px;
	&.duiSwitchOff .duiSwitchInner {
		left: -51px;
	}
	.duiSwitchBg {
		border-radius: 14px;
	}
	.duiSwitchBgRight {
		left: 51px;
	}
	.duiSwitchKnob {
		left: 51px;
		width: 43px;
		border-radius: 13px;
	}
	.duiSwitchText {
		width: 51px;
	}
	.duiSwitchTextRight {
		left: 42px;
	}
}
.duiSwRoundShape2 {
	.duiSwRoundShape2-styles;
}

/* Arc Shape1 */
.duiSwArcShape1-styles () {
	width: 77px;
	&.duiSwitchOff .duiSwitchInner {
		left: -50px;
	}
	.duiSwitchBg {
		width: 77px;
		border-radius: ~"5px/14px";
	}
	.duiSwitchBgRight {
		left: 50px;
	}
	.duiSwitchKnob {
		left: 50px;
		width: 27px;
		border-radius: ~"5px/13px";
	}
	.duiSwitchText {
		width: 50px;
	}
	.duiSwitchTextRight {
		left: 26px;
	}
}
.duiSwArcShape1 {
	.duiSwArcShape1-styles;
}

/* Arc Shape2 */
.duiSwArcShape2-styles () {
	width: 94px;
	&.duiSwitchOff .duiSwitchInner {
		left: -51px;
	}
	.duiSwitchBg {
		border-radius: ~"5px/14px";
	}
	.duiSwitchBgRight {
		left: 51px;
	}
	.duiSwitchKnob {
		left: 51px;
		width: 43px;
		border-radius: ~"5px/13px";
	}
	.duiSwitchText {
		width: 51px;
	}
	.duiSwitchTextRight {
		left: 42px;
	}
}
.duiSwArcShape2 {
	.duiSwArcShape2-styles;
}
