/* dui.mobile.TextArea */
.duiTextArea {
	padding: 4px 1px;
	border-width: 1px;
	border-style: inset;
	font-family: Helvetica;
	font-size: 13px;
	.duiTextArea-styles;
}

/* dui.mobile.ExpandingTextArea */
.duiExpandingTextArea {
	margin: 2px;
}
