/* dui.mobile.ToggleButton */
.duiToggleButton {
	background-image: url(compat/button-bg.png);
}
.duiToggleButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
.duiToggleButtonChecked {
	background-image: url(compat/button-chk-bg.png);
	&.duiToggleButtonSelected {
		background-image: url(compat/button-unsel-bg.png);
	}
}
.dj_gecko {
	.duiToggleButton {
		background-image: @dui-button-background-image-gecko;
	}
	.duiToggleButtonSelected {
		background-image: @dui-button-selected-background-image-gecko;
	}
	.duiToggleButtonChecked {
		background-image: @dui-button-checked-background-image-gecko;
		&:after {
			-moz-transform: rotate(45deg) skew(10deg);
			-moz-transform-origin: 50% 50%;
		}
		&.duiToggleButtonSelected {
			background-image: @dui-blue-button-selected-background-image-gecko;
		}
	}
}
.dj_ff3 {
	.duiToggleButton {
		-moz-border-radius: @default-button-border-radius;
	}
	.duiToggleButton.duiToggleButtonChecked::after {
		-moz-transform: translate(-25px,-6px) rotate(45deg) skew(10deg);
	}
}
.dj_ie {
	.duiToggleButtonChecked {
		&:after {
			top: 9px;
			left: 5px;
			width: 12px;
			border: none;
			background-image: url(compat/togglebutton-chk-mark-bg.png);
		}
	}
}
