/* dojox.mobile.ToolBarButton */
.dj_gecko {
	.duiToolBarButtonArrow {
		-moz-transform: scale(0.77, 1.05) rotate(45deg);
	}
	.duiHeading {
		.duiToolBarButtonHasLeftArrow .duiToolBarButtonArrow {
			.duiToolBarButtonHasLeftArrowInHeading-compat-gecko;
		}
		.duiToolBarButtonHasRightArrow .duiToolBarButtonArrow {
			.duiToolBarButtonHasRightArrowInHeading-compat-gecko;
		}
		.duiToolBarButtonBody {
			.duiToolBarButtonBodyInHeading-compat-gecko;
		}
	}
}
.dj_ff3 {
	.duiToolBarButtonArrow {
		-moz-border-radius: 1px;
	}
	.duiToolBarButtonBody {
		-moz-border-radius: @dui-tool-bar-button-body-border-radius;
	}
	.duiToolBarButtonHasLeftArrow .duiToolBarButtonBody {
		-moz-border-radius-topleft: 0;
		-moz-border-radius-bottomleft: 0;
	}
	.duiToolBarButtonHasRightArrow .duiToolBarButtonBody {
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 0;
	}
}
.dj_ie {
	.duiToolBarButtonLeftArrow {
		top: 0;
		left: -2px;
		width: 13px;
		height: 31px;
		border-style: none;
		border-radius: 0;
		background-image: url(compat/arrow-button-head.png);
	}
	.duiToolBarButtonSelected .duiToolBarButtonLeftArrow {
		background-image: url(compat/arrow-button-head-sel.png);
	}

	.duiToolBarButtonRightArrow {
		top: 0;
		right: -3px;
		width: 13px;
		height: 31px;
		border-style: none;
		border-radius: 0;
		background-image: url(compat/arrow-button-right-head.png);
	}
	.duiToolBarButtonSelected .duiToolBarButtonRightArrow {
		background-image: url(compat/arrow-button-right-head-sel.png);
	}
	
	.duiToolBarButtonBody {
		background-image: url(compat/arrow-button-bg.png);
		background-position: left bottom;
	}
	.duiToolBarButtonBodySelected {
		background-image: url(compat/arrow-button-bg-sel.png);
	}
	.duiToolBarButtonBody table {
		margin: 0;
	}
	.duiToolBarButtonHasLeftArrow .duiToolBarButtonBody {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.duiToolBarButtonHasRightArrow .duiToolBarButtonBody {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.dj_ie6 {
	.duiToolBarButton .duiToolBarButtonBody {
	    background-position: left top;
	}
}
