/* dojox.mobile.ToolBarButton */
.duiToolBarButton {
	display:inline-block;
	position: relative;
	cursor: pointer;
	.tap-highlight-color(rgba(255,255,255,0));
	margin: 6px;
	padding: 0 10px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	.duiToolBarButton-styles;
}
.duiToolBarButtonHasIcon, .duiToolBarButtonLightIcon {
	padding: 0;
}
.duiHeading {
	.duiToolBarButton {
		float: left;
	}
	span.duiToolBarButtonLightIcon {
		padding: 0;
	}
}
.duiToolBarButtonHasLeftArrow {
	padding-right: 0;
	padding-left: 10px;
}
.duiToolBarButtonHasRightArrow {
	padding-left: 0;
	padding-right: 10px;
}
.duiToolBarButtonArrow {
	position: absolute;
	top: 5px;
	width: 20px;
	height: 19px;
	.duiToolBarButtonArrow-styles;
}
.duiToolBarButtonHasLeftArrow .duiToolBarButtonArrow {
  .duiToolBarButtonArrowInLeftArrow-styles;
}
.duiToolBarButtonHasRightArrow .duiToolBarButtonArrow {
  .duiToolBarButtonArrowInRightArrow-styles;
}
.duiHeading {
	.duiToolBarButtonArrow {
		.duiToolBarButtonArrowInHeading-styles;
	}
	.duiToolBarButtonHasLeftArrow .duiToolBarButtonArrow {
		.duiToolBarButtonHasLeftArrowInHeading-styles;
	}
	.duiToolBarButtonHasRightArrow .duiToolBarButtonArrow {
		.duiToolBarButtonHasRightArrowInHeading-styles;
	}
}

.duiToolBarButtonBody {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: @dui-tool-bar-button-body-border-radius;
	.duiToolBarButtonBody-styles;
}
.duiToolBarButton .duiToolBarButtonBody {
	width: 100%;
}
.duiHeading .duiToolBarButtonBody {
	.duiToolBarButtonBodyInHeading-styles;
}
.duiToolBarButtonBody table {
	margin: 0 auto;
}
.duiToolBarButtonHasLeftArrow .duiToolBarButtonBody {
  .duiToolBarButtonBodyInLeftArrow-styles;
}
.duiToolBarButtonHasRightArrow .duiToolBarButtonBody {
  .duiToolBarButtonBodyInRightArrow-styles;
}
.duiToolBarButtonText .duiToolBarButtonIcon {
	padding-left: 10px;
}
.duiToolBarButtonText .duiToolBarButtonLabel {
	padding-right: 10px;
	height: 29px;
}
.duiToolBarButtonHasLeftArrow .duiToolBarButtonIcon {
	padding-left: 4px;
}
.duiToolBarButtonHasRightArrow .duiToolBarButtonLabel {
	padding-right: 4px;
}

.duiToolBarButtonIcon > div {
	height: 29px;
}
