/* dui.mobile.Tooltip */
.duiTooltip {
	background-image: none;
	.duiHeading {
		.duiTooltip-Heading-compat;
		.duiToolBarButton {
			.duiTooltip-Heading-ToolbarButton-compat;
		}
	}
}

.dj_ff3 {
	.duiTooltip {
		-moz-border-radius: @dui-tooltip-border-radius;
	}
}

.dj_ie9 {
	.duiTooltip .duiHeading {
		width: auto;
	}
}

.dj_ie6, .dj_ie7 {
	.duiTooltipBefore .duiTooltipArrow {
		right: 0;
	}
	.duiTooltipAbove .duiTooltipArrow {
		bottom: 0;
	}
	.duiTooltipBefore .duiTooltipInnerArrow {
		right: -1px;
	}
	.duiTooltipAbove .duiTooltipInnerArrow {
		bottom: -1px;
	}
	.duiTooltip {
		.duiHeading {
			padding: 0 9px 12px;
			border-top: 1px solid @heading-background-color;
			border-bottom: 1px solid @heading-background-color;
			width: auto;
			height: auto;
			overflow: visible;
			line-height: normal;
			.duiToolBarButton {
				margin: auto 6px;
			}
		}
	}
}
