/* dui.mobile.ValuePicker */
.duiValuePicker {
  height: 126px;
}
/* dui.mobile.ValuePickerSlot */
.duiValuePicker > .duiValuePickerSlot {
	float: left;
	.duiValuePickerSlot-style;
}
.duiValuePickerSlotButton {
	position: relative;
	height: 38px;
	.dui-value-picker-slot-button-background-image();
}
.duiValuePickerSlotPlusButton {
	border-top-left-radius: @dui-value-picker-slot-button-radius;
	border-top-right-radius: @dui-value-picker-slot-button-radius;
}

.duiValuePickerSlotMinusButton {
	border-bottom-left-radius: @dui-value-picker-slot-button-radius;
	border-bottom-right-radius: @dui-value-picker-slot-button-radius;
}

.duiValuePickerSlotButtonSelected {
	.default-button-selected-background-image();
}
.duiValuePickerSlotIcon {
	top: 5px;
	margin: 0 auto;
}
.duiValuePickerSlotInputArea {
	position: relative;
	height: 48px;
	border-top: 1px solid #7b797b;
	border-bottom: 1px solid #c6c3c6;
	.dui-value-picker-slot-input-area-background-image();
}
.duiValuePickerSlotInput {
	display: block;
	width: 90%;
	height: 90%;
	margin: 5% auto;
	padding: 0;
	text-align: center;
	border-style: none;
	background-color: transparent;
	.duiValuePickerSlot-input-style;
}

/* dui.mobile.ValuePickerTimePicker */
.duiValuePickerTimePicker > .duiToolBarButton {
	top: 45px;
}
