/* dui.mobile.ValuePicker */

.duiValuePickerSlotButton {
	background-image: url(compat/valuepicker-button-bg.png);
}
.duiValuePickerSlotButtonSelected {
	background-color: @default-button-selected-background-color;
}
.duiValuePickerSlotInputArea {
	background-color: #f7f7f7;
}

.dj_gecko {
	.duiValuePickerSlotButton {
		background-image: @dui-value-picker-slot-button-background-image-gecko;
	}
	.duiValuePickerSlotButtonSelected {
		background-image: @default-button-selected-background-image-gecko;
	}
	.duiValuePickerSlotInputArea {
		background-image: @dui-value-picker-slot-input-area-background-image-gecko;
	}
}
