.duiSwirl.duiOut {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: duiSwirlOut;
  animation-name: duiSwirlOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
.duiSwirl.duiIn {
  z-index: -100;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: duiSwirlIn;
  animation-name: duiSwirlIn;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
.duiSwirl.duiOut.duiReverse {
  -webkit-animation-name: duiSwirlOutReverse;
  animation-name: duiSwirlOutReverse;
}
@-webkit-keyframes duiSwirlOut {
  from {
    -webkit-transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(-360deg) scale(0);
  }
}
@keyframes duiSwirlOut {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(-360deg) scale(0);
  }
}
@-webkit-keyframes duiSwirlOutReverse {
  from {
    -webkit-transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(360deg) scale(0);
  }
}
@keyframes duiSwirlOutReverse {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(0);
  }
}
@-webkit-keyframes duiSwirlIn {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes duiSwirlIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
