@import "../../../../delite/themes/windows/variables.less";

@d-slider-handle-height: 1.1em;
@d-slider-handle-width: 0.5em;
@d-slider-height: 0.5em;

@d-slider-size: 100%;
@d-slider-halo-size: 12pt;
@d-slider-bar-border-width: 0.1em; // for a11y
@d-slider-bar-border-style: solid;
@d-slider-bar-border-color: transparent;
@d-slider-bar-size: 100%;
@d-slider-bar-thickness: 0.65em;
@d-slider-bar-border-radius: 0;
@d-slider-knob-size: 1.15em; // include border for a11y
@d-slider-knob-thickness: 0.65em; // include border for a11y
@d-slider-knob-border-width: 0.1em; // for a11y
@d-slider-knob-border-style: solid;
@d-slider-knob-border-color: transparent;
@d-slider-knob-border-radius: 0;
.d-slider-knob-background-image () { .default-button-background-image(); }

//
.d-slider-styles () {
}
.d-slider-bar-styles () {
}
.d-slider-remaining-bar-styles () {
  background-clip: content-box;
  background-color: @win-app-bar-color;
}
.d-slider-progress-bar-styles () {
  background-image: none;
  background-color: @win-accent-color;
}
.d-slider-handle-styles () {
  background-color: @win-foreground-color;
}

@import "../Slider_template";
