/* dui.mobile.Accordion */
.duiAccordionTitleSelected {
  background-color: #33b5e5;
}
.dj_gecko .duiAccordionTitle {
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
}
.dj_gecko .duiAccordionTitleSelected {
  background-color: #33b5e5;
}
.dj_ff3 .duiAccordionRoundRect {
  -moz-border-radius: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitle:first-child {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitleLast,
.dj_ff3 .duiAccordionRoundRect .duiAccordionPane:last-child {
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}
