/* dui.mobile.Accordion */
.duiAccordion {
  border-style: outset;
  border-width: 1px;
  border-style: none;
}
.duiAccordionRoundRect {
  margin: 7px 9px 16px 9px;
  padding: 0;
  border: 1px solid #222222;
  border-radius: 8px;
}
.duiAccordionRoundRect .duiAccordionTitle:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.duiAccordionRoundRect .duiAccordionTitleLast,
.duiAccordionRoundRect .duiAccordionPane:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.duiAccordionTitle {
  position: relative;
  height: 30px;
  width: 100%;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
  white-space: nowrap;
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
}
.duiAccordionTitle:first-child {
  border-top: none;
}
.duiAccordionTitleAnchor {
  display: block;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  cursor: pointer;
}
.duiAccordionIconParent {
  float: left;
  margin: 6px 4px 0 6px;
  line-height: normal;
}
.duiAccordionIconParent1 {
  display: block;
}
.duiAccordionIconParent2 {
  display: none;
}
.duiAccordionTitleSelected {
  background-color: #33b5e5;
}
.duiAccordionTitleSelected .duiAccordionTitleAnchor {
  color: #ffffff;
}
.duiAccordionTitleSelected .duiAccordionIconParent1 {
  display: none;
}
.duiAccordionTitleSelected .duiAccordionIconParent2 {
  display: block;
}
