@import "variables.less";
@import "../common/Button-compat.less";

.duiButton {
  background-image: none;
}
.duiButtonSelected {
  background-image: none;
}
.duiBlueButton {
  background-image: none;
}
.duiBlueButtonSelected {
  background-image: none;
}
.duiRedButton {
  background-image: none;
}
.duiRedButtonSelected {
  background-image: none;
}
