/* dui.mobile.Button */
.duiButton {
  background-image: url(compat/button-bg.png);
  background-repeat: repeat-x;
}
.duiButtonSelected {
  background-image: url(compat/button-sel-bg.png);
}
.duiBlueButton {
  background-image: url(compat/blue-button-bg.png);
}
.duiBlueButtonSelected {
  background-image: url(compat/blue-button-sel-bg.png);
}
.duiRedButton {
  background-image: url(compat/red-button-bg.png);
}
.duiRedButtonSelected {
  background-image: url(compat/red-button-sel-bg.png);
}
.dj_gecko .duiButton {
  background-image: none;
}
.dj_gecko .duiButtonSelected {
  background-image: none;
}
.dj_gecko .duiBlueButton {
  background-image: none;
}
.dj_gecko .duiBlueButtonSelected {
  background-image: none;
}
.dj_gecko .duiRedButton {
  background-image: none;
}
.dj_gecko .duiRedButtonSelected {
  background-image: none;
}
.dj_ff3 .duiButton {
  -moz-border-radius: 2px;
}
.duiButton {
  background-image: none;
}
.duiButtonSelected {
  background-image: none;
}
.duiBlueButton {
  background-image: none;
}
.duiBlueButtonSelected {
  background-image: none;
}
.duiRedButton {
  background-image: none;
}
.duiRedButtonSelected {
  background-image: none;
}
