@import "variables.less";
@import "../common/CheckBox.less";

.duiCheckBox:disabled{
  border-color: @holo-grey2;
}
.duiCheckBoxSelected {
  background-image: none;
  border-color: @holo-checkbox-selected-color;
  box-shadow: 0px 0px 1px 4px @holo-checkbox-checked-color;
  background-color: @holo-checkbox-checked-color;
  
}
.duiCheckBoxChecked,
.duiCheckBox:checked {
  background-image: none;
  
  &.duiCheckBoxSelected {
    background-image: none;
    border-color: @holo-checkbox-selected-color;
    box-shadow: 0px 0px 3px 4px @holo-checkbox-checked-color;
    background-color: @holo-checkbox-checked-color;
  }
}

.duiCheckBox:checked::after{
  border-color: @holo-checkbox-tick-color;
}

.duiCheckBox:disabled::after{
  border-color: @holo-grey2;
}
