.dj_gecko .duiColorBlue {
  background-image: none;
}
.dj_gecko .duiColorBlue45 {
  background-image: none;
}
.dj_gecko .duiColorDefault {
  background-image: none;
}
.dj_gecko .duiColorDefault45 {
  background-image: #333333;
}
.dj_gecko .duiColorDefaultSel {
  background-image: none;
}
.dj_gecko .duiColorDefaultSel45 {
  background-image: #33b5e5;
}
