html.mobile,
.mobile body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.mobile body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  font-family: Helvetica;
  font-size: 17px;
  color: #ffffff;
}
.duiBackground {
  background-color: #000000;
}
/* Button Colors */
.duiColorBlue {
  color: #ffffff;
  background-color: #366edf;
  background-image: none;
}
.duiColorBlue45 {
  background-image: none;
}
/* Default Button Colors */
.duiColorDefault {
  color: #ffffff;
  background-color: #333333;
  background-image: none;
}
.duiColorDefault45 {
  background-color: #333333;
}
.duiColorDefaultSel {
  color: #ffffff;
  background-color: #33b5e5;
  background-image: none;
}
.duiColorDefaultSel45 {
  background-color: #33b5e5;
}
.duiSpriteIcon {
  position: absolute;
}
.duiSpriteIconParent {
  position: relative;
  font-size: 1px;
}
.duiImageIcon {
  vertical-align: top;
}
