/* Single Column Layout */
/**********************************************************************************************************************/
/*** columns == 'auto' ***/
@media all and (max-width: 500px) {
  .duiFormLayout.duiFormLayoutAuto fieldset {
    padding-left: 0;
    padding-right: 0;
  }
  /* A gap between rows */
  .duiFormLayout.duiFormLayoutAuto > * + * {
    margin-top: 0.6em;
  }
  /* Text widgets */
  .duiFormLayout.duiFormLayoutAuto .duiTextArea,
  .duiFormLayout.duiFormLayoutAuto .duiExpandingTextArea,
  .duiFormLayout.duiFormLayoutAuto .duiTextBox,
  .duiFormLayout.duiFormLayoutAuto .duiSearchBox {
    width: 100%;
    box-sizing: border-box;
  }
}
/*** columns == 'single' ***/
.duiFormLayout.duiFormLayoutSingleCol fieldset {
  padding-left: 0;
  padding-right: 0;
}
/* A gap between rows */
.duiFormLayout.duiFormLayoutSingleCol > * + * {
  margin-top: 0.6em;
}
/* Text widgets */
.duiFormLayout.duiFormLayoutSingleCol .duiTextArea,
.duiFormLayout.duiFormLayoutSingleCol .duiExpandingTextArea,
.duiFormLayout.duiFormLayoutSingleCol .duiTextBox,
.duiFormLayout.duiFormLayoutSingleCol .duiSearchBox {
  width: 100%;
  box-sizing: border-box;
}
/* Two Columns Layout */
/**********************************************************************************************************************/
/*** columns == 'auto' ***/
@media all and (min-width: 500px) {
  /* Form layout selector*/
  .duiFormLayout.duiFormLayoutAuto {
    display: table;
    width: 100%;
  }
  /* Form rows */
  .duiFormLayout.duiFormLayoutAuto > * {
    display: table-row;
  }
  /* Form cells */
  .duiFormLayout.duiFormLayoutAuto > * > * {
    display: table-cell;
    vertical-align: top;
    padding: 0.5em 0;
  }
  /* Left cells */
  .duiFormLayout.duiFormLayoutAuto > * > *:first-child {
    width: 20%;
    padding-right: 0.5em;
  }
  /* duiFormLayoutRightAlign optional selector definition */
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child {
    text-align: right;
  }
  /* Force right margin of last elements of the right column, no way to select elements followed by a <br> */
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiButton:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiToggleButton:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiCheckBox:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiSwitch:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiRadioButton:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiTextArea:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiExpandingTextArea:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiTextBox:last-child,
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiSearchBox:last-child {
    margin-right: 0;
  }
  /* The Slider sticks to its bounds when margin=10px */
  .duiFormLayout.duiFormLayoutAuto.duiFormLayoutRightAlign > * > *:last-child > .duiSlider:last-child {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0px;
  }
  /* Text widgets */
  .duiFormLayout.duiFormLayoutAuto .duiTextArea,
  .duiFormLayout.duiFormLayoutAuto .duiExpandingTextArea,
  .duiFormLayout.duiFormLayoutAuto .duiTextBox,
  .duiFormLayout.duiFormLayoutAuto .duiSearchBox {
    width: 50%;
    box-sizing: border-box;
  }
}
/*** columns == 'two' ***/
/* Form layout selector*/
.duiFormLayout.duiFormLayoutTwoCol {
  display: table;
  width: 100%;
}
/* Form rows */
.duiFormLayout.duiFormLayoutTwoCol > * {
  display: table-row;
}
/* Form cells */
.duiFormLayout.duiFormLayoutTwoCol > * > * {
  display: table-cell;
  vertical-align: top;
  padding: 0.5em 0;
}
/* Left cells */
.duiFormLayout.duiFormLayoutTwoCol > * > *:first-child {
  width: 20%;
  padding-right: 0.5em;
}
/* duiFormLayoutRightAlign optional selector definition */
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child {
  text-align: right;
}
/* Force right margin of last elements of the right column, no way to select elements followed by a <br> */
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiButton:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiToggleButton:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiCheckBox:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiSwitch:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiRadioButton:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiTextArea:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiExpandingTextArea:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiTextBox:last-child,
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiSearchBox:last-child {
  margin-right: 0;
}
/* The Slider sticks to its bounds when margin=10px */
.duiFormLayout.duiFormLayoutTwoCol.duiFormLayoutRightAlign > * > *:last-child > .duiSlider:last-child {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0px;
}
/* Text widgets */
.duiFormLayout.duiFormLayoutTwoCol .duiTextArea,
.duiFormLayout.duiFormLayoutTwoCol .duiExpandingTextArea,
.duiFormLayout.duiFormLayoutTwoCol .duiTextBox,
.duiFormLayout.duiFormLayoutTwoCol .duiSearchBox {
  width: 50%;
  box-sizing: border-box;
}
/* Common Rules*/
/**********************************************************************************************************************/
.duiFormLayout fieldset {
  border: none;
  margin: 0;
}
/* Bold widget labels */
.duiFormLayout > * > *:first-child {
  font-weight: bold;
}
/* Whatever the screen width, force left margin of first elements and elements following a <br> */
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiButton:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiToggleButton:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiCheckBox:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiSwitch:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiRadioButton:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiTextArea:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiExpandingTextArea:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiTextBox:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiSearchBox:first-child,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiButton,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiToggleButton,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiCheckBox,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiSwitch,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiRadioButton,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiTextArea,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiExpandingTextArea,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiTextBox,
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > br + .duiSearchBox {
  margin-left: 0;
}
/* The Slider sticks to its bounds when margin=10px */
.duiFormLayout:not(.duiFormLayoutRightAlign) > * > *:last-child > .duiSlider:first-child {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
