/* dui.mobile.Heading */
.duiHeading {
  background-image: url(compat/heading-bg.png);
}
.duiHeadingSpanTitle {
  white-space: normal;
}
.dj_gecko .duiHeading {
  background-image: none;
}
.duiHeading {
  background-image: none;
}
