@import url("../common/domButtons/DomButtonGrayArrow.css");

@import url("../common/domButtons/DomButtonWhiteCheck.css");
/* dui.mobile.ListItem */
.duiListItem {
  position: relative;
  overflow: hidden;
  /* for focus frame */

  padding: 0 8px;
  height: 50px;
  list-style-type: none;
  line-height: 50px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #333538;
  margin-right: 7px;
  margin-left: 7px;
  font-size: 18px;
  color: #ffffff;
}
.duiListItem.duiVariableHeight {
  padding: 11px 8px;
  height: auto;
  line-height: normal;
}
.duiListItemSelected {
  color: #ffffff;
  background-color: #3578b1;
}
.duiListItemSelected .duiDomButton div {
  border-color: white;
}
.duiListItemLabelSelected {
  background-color: #048bf4;
}
.duiListItemChecked .duiListItemRightIcon {
  visibility: visible;
}
.duiListItemChecked .duiListItemUncheckIcon {
  position: absolute;
  visibility: hidden;
}
.duiListItemUnchecked .duiListItemRightIcon {
  visibility: hidden;
}
.duiListItemUnchecked .duiListItemUncheckIcon {
  visibility: visible;
}
.duiListItemDeleteIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 10.5px;
  margin-bottom: -10.5px;
  margin-right: 11px;
}
.duiListItemIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 10.5px;
  margin-bottom: -10.5px;
  margin-right: 11px;
}
.duiListItemRightIcon,
.duiListItemRightIcon2,
.duiListItemUncheckIcon {
  position: relative;
  float: right;
  line-height: normal;
  margin-top: 10.5px;
  margin-bottom: -10.5px;
}
.duiListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  margin-right: 4px;
  color: white;
  margin-top: 14px;
}
.duiListItemLabel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.duiVariableHeight .duiListItemLabel {
  white-space: normal;
}
.duiListItemSubText {
  font-size: 14px;
  color: gray;
}
.duiListItemLayoutLeft {
  position: relative;
  float: left;
  margin-right: 11px;
}
.duiListItemLayoutCenter {
  position: absolute;
  width: 100%;
  text-align: center;
}
.duiListItemLayoutRight {
  position: relative;
  float: right;
}
/* dui.mobile._EditableListMixin */
.duiListItemFloat {
  position: absolute;
  border: 1px solid gray;
  opacity: 0.5;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
