/* Progress Bar */
.duiProgressBar {
  background-color: #333333;
}
.duiProgressBarProgress {
  background-color: #33b5e5;
}
.dj_gecko .duiProgressBar {
  background-image: none;
  background-color: #333333;
}
.dj_gecko .duiProgressBarProgress {
  -moz-transition-property: width;
  -moz-transition-duration: 0.25s;
  background-image: none;
  background-color: #33b5e5;
}
