/* dojox.mobile.RoundRect */
.duiRoundRect {
  margin: 7px 9px 16px;
  padding: 8px;
  border: 1px solid #222222;
  border-radius: 14px;
  background-color: transparent;
  color: white;
}
.duiRoundRect.duiShadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
