/* dui.mobile.SimpleDialog */
.duiSimpleDialogDecoration {
  background-color: #404040;
}
.dj_gecko .duiSimpleDialogDecoration {
  background-color: rgba(64, 64, 64, 0.85);
}
.dj_ff3 .duiSimpleDialogDecoration {
  -moz-border-radius: 2px;
}
