@import "variables.less";
@import "../common/Slider.less";

.duiSlider {
  border-style: none;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  .duiSlider-styles;
}
.duiSliderH {
  width: 200px;

  height: 3px;
  background-color: @holo-slider-track-color;
  border-style: none;
}

.duiSliderV {
  height: 200px;
  width: 3px;
  background-color: @holo-slider-track-color;
  border-style: none;
  
}

.duiSliderProgressBar {
  border:radius: 0;
  background-image: none;
  background-color: @holo-color1;
  
  
}
.duiSliderHandle {
  .holo-slider-background-image();
  .duiSliderHandle-styles;
}

.duiSliderHandle:after {
  border-style: solid;
  background-image: none;
  .duiSliderHandle-styles;
}


