.mblStarRatingStarIcon {
  height: 40px;
  width: 40px;
  background-image: url('../common/images/yellow-stars-40.png');
  background-repeat: no-repeat;
}
.mblStarRatingEmptyStar {
  background-position: -40px 0px;
}
.mblStarRatingHalfStar {
  background-position: -80px 0px;
}
.mblStarRatingHalfStarRtl {
  background-position: -120px 0px;
}
