@import "variables.less";
@import "../common/Switch.less";

/* Default Shape */
.duiSwDefaultShape {
	.duiSwSquareShape-styles;
}

.duiSwitchBgLeft {
  background-color: @holo-switch-on-color;
  background-image: none;
}
.duiSwitchBgRight {
  background-color: @holo-switch-off-color;
  background-image: none;
  color: @holo-color;
}

.duiSwitchKnob{
  background-color: @holo-switch-knob-color;
  background-image: none;
  
}
