/* dojox.mobile.ToolBarButton */
.duiToolBarButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 6px;
  padding: 0 10px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  text-shadow: none;
}
.duiToolBarButtonHasIcon,
.duiToolBarButtonLightIcon {
  padding: 0;
}
.duiHeading .duiToolBarButton {
  float: left;
}
.duiHeading span.duiToolBarButtonLightIcon {
  padding: 0;
}
.duiToolBarButtonHasLeftArrow {
  padding-right: 0;
  padding-left: 10px;
}
.duiToolBarButtonHasRightArrow {
  padding-left: 0;
  padding-right: 10px;
}
.duiToolBarButtonArrow {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 19px;
  border-radius: 1px;
  -webkit-transform: scale(0.7, 1.05) rotate(45deg);
  transform: scale(0.7, 1.05) rotate(45deg);
  border: 1px solid #3a4655;
}
.duiToolBarButtonHasLeftArrow .duiToolBarButtonArrow {
  left: -1px;
}
.duiToolBarButtonHasRightArrow .duiToolBarButtonArrow {
  right: -1px;
}
.duiToolBarButtonBody {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  border: 1px solid #555555;
}
.duiToolBarButton .duiToolBarButtonBody {
  width: 100%;
}
.duiToolBarButtonBody table {
  margin: 0 auto;
}
.duiToolBarButtonHasLeftArrow .duiToolBarButtonBody {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.duiToolBarButtonHasRightArrow .duiToolBarButtonBody {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.duiToolBarButtonText .duiToolBarButtonIcon {
  padding-left: 10px;
}
.duiToolBarButtonText .duiToolBarButtonLabel {
  padding-right: 10px;
  height: 29px;
}
.duiToolBarButtonHasLeftArrow .duiToolBarButtonIcon {
  padding-left: 4px;
}
.duiToolBarButtonHasRightArrow .duiToolBarButtonLabel {
  padding-right: 4px;
}
.duiToolBarButtonIcon > div {
  height: 29px;
}
