/* dojox.mobile.ValuePicker */
.duiValuePickerSlotButton {
  background-image: url(compat/valuepicker-button-bg.png);
}
.duiValuePickerSlotButtonSelected {
  background-color: #33b5e5;
}
.duiValuePickerSlotInputArea {
  background-color: #f7f7f7;
}
.dj_gecko .duiValuePickerSlotButton {
  background-image: none;
}
.dj_gecko .duiValuePickerSlotButtonSelected {
  background-image: none;
}
.dj_gecko .duiValuePickerSlotInputArea {
  background-image: none;
}
.duiValuePickerSlotInputArea {
  background-color: transparent;
}
