@import url("../common/domButtons/DomButtonGrayPlus.css");

@import url("../common/domButtons/DomButtonGrayMinus.css");
/* dojox.mobile.ValuePicker */
.duiValuePicker {
  height: 126px;
}
/* dojox.mobile.ValuePickerSlot */
.duiValuePicker > .duiValuePickerSlot {
  float: left;
  margin: 0 5px;
}
.duiValuePickerSlotButton {
  position: relative;
  height: 38px;
  background-image: none;
}
.duiValuePickerSlotPlusButton {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.duiValuePickerSlotMinusButton {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.duiValuePickerSlotButtonSelected {
  background-image: none;
}
.duiValuePickerSlotIcon {
  top: 5px;
  margin: 0 auto;
}
.duiValuePickerSlotInputArea {
  position: relative;
  height: 48px;
  border-top: 1px solid #7b797b;
  border-bottom: 1px solid #c6c3c6;
  background-image: none;
}
.duiValuePickerSlotInput {
  display: block;
  width: 90%;
  height: 90%;
  margin: 5% auto;
  padding: 0;
  text-align: center;
  border-style: none;
  background-color: transparent;
  font-size: 28px;
  color: #ffffff;
}
/* dojox.mobile.ValuePickerTimePicker */
.duiValuePickerTimePicker > .duiToolBarButton {
  top: 45px;
}
.duiValuePickerSlotInputArea {
  border-top: 2px solid #33b5e5;
  border-bottom: 2px solid #33b5e5;
  background-image: none;
}
