@import url("../../../themes/common/transitions/slide.css");

@import url("../../../themes/common/transitions/flip.css");

@import url("../../../themes/common/transitions/fade.css");
/* dui.mobile.View */
.duiView {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
}
.duiView.duiIn {
  position: absolute;
}
.duiFixedHeaderBar {
  z-index: 1;
}
.duiFixedBottomBar {
  position: absolute !important;
  width: 100%;
  z-index: 1;
}
