/* dui.Calendar */
.duiCalendar thead {
  background-repeat: repeat-x;
  background-image: url(compat/calendar-month-bg.png);
}
.duiCalendarSelectedDate .duiCalendarDateLabel {
  background-repeat: repeat-x;
}
.duiCalendarDate:active .duiCalendarDateLabel {
  background-repeat: repeat-x;
}
.duiCalendarYearLabel {
  background-repeat: repeat-x;
  background-image: url(compat/calendar-year-bg.png);
}
.dj_gecko .duiCalendar .duiDropDownButton .duiButtonNode {
  -moz-box-shadow: 0 0 0 transparent;
}
.dj_gecko .duiCalendar thead {
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #ccccd1 100%);
}
.dj_gecko .duiCalendarYearLabel {
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #ccccd1 100%);
}
.dj_ff3 .duiCalendar {
  -moz-border-radius: 0;
}
