d-view-stack > div {
	padding: 0px 10px;
}

#createButton {
	margin-top: 15px;
}

#backButton {
	float: left;
}

.copyright {
	text-align: center;
	font-size: x-small;
	font-style: italic;
}

#kittenImage {
	display: block;
	margin: 15px auto;
}

.invite {
	font-size: 105%;
}

.header {
	height: 60px;
	line-height: 60px;
	margin: 0px;
	background-color: red;
	color: white;
	text-align: left;
	padding-left: 12px;
	font-size: 2em;
	font-weight: bold;
}

.header button {
	margin-top: 14px;
	margin-right: 12px;
}

a, a:visited {
	color: red;
}