.dj_gecko .duiColorBlue {
  background-image: -moz-linear-gradient(top, #7a9de9 0%, #366edf 50%, #215fdc 50%, #2362dd 100%);
}
.dj_gecko .duiColorBlue45 {
  background-image: -moz-linear-gradient(top left, #7a9de9 0%, #366edf 50%, #215fdc 50%, #2362dd 100%);
}
.dj_gecko .duiColorDefault {
  background-image: -moz-linear-gradient(top, #f7fbf7 0%, #ced3ce 50%, #cecfd6 100%);
}
.dj_gecko .duiColorDefault45 {
  background-image: -moz-linear-gradient(top left, #f7fbf7 0%, #ced3ce 50%, #cecfd6 100%);
}
.dj_gecko .duiColorDefaultSel {
  background-image: -moz-linear-gradient(top, #088eef 0%, #0869c6 50%, #0851ad 100%);
}
.dj_gecko .duiColorDefaultSel45 {
  background-image: -moz-linear-gradient(top left, #088eef 0%, #0869c6 50%, #0851ad 100%);
}
