/* dui.mobile.Heading */
.duiHeading {
  background-image: url(compat/heading-bg.png);
}
.duiHeadingSpanTitle {
  white-space: normal;
}
.dj_gecko .duiHeading {
  background-image: -moz-linear-gradient(top, #4a4d52 0%, #292c31 100%);
}
