@import url("../common/domButtons/DomButtonColorButtons.css");

@import url("../common/domButtons/DomButtonBlackCircleCross.css");
/* dui.mobile.IconContainer */
.duiIconContainer {
  margin: 20px 10px;
  padding: 0;
}
/* dui.mobile.IconItem */
.duiIconItem {
  position: relative;
  overflow: hidden;
  /* for focus frame */

  list-style-type: none;
  float: left;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.duiIconItemTerminator {
  list-style-type: none;
  clear: both;
}
.duiIconItemPane {
  list-style-type: none;
  background-color: white;
  color: black;
}
.duiIconArea {
  position: relative;
  height: 78px;
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 88px;
}
.duiIconArea img {
  vertical-align: middle;
}
.duiIconAreaInner {
  position: relative;
  height: 65px;
  line-height: 65px;
  text-align: center;
}
.duiIconItemDeleteIcon {
  position: absolute;
  top: -4px;
  left: 2px;
}
.duiIconItemSpriteIcon {
  position: absolute;
}
.duiContent {
  clear: both;
  padding-bottom: 20px;
}
table.duiClose {
  clear: both;
  cursor: pointer;
}
.duiVibrate {
  position: relative;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: duiVibrate;
  animation-name: duiVibrate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.duiCloseContent {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: duiShrink;
  animation-name: duiShrink;
  -webkit-transform: scale(0.01);
  transform: scale(0.01);
}
.duiCloseContent.duiShrink0 {
  -webkit-animation-name: duiShrink0;
  animation-name: duiShrink0;
}
.duiCloseContent.duiShrink1 {
  -webkit-animation-name: duiShrink1;
  animation-name: duiShrink1;
}
.duiCloseContent.duiShrink2 {
  -webkit-animation-name: duiShrink2;
  animation-name: duiShrink2;
}
.duiCloseContent.duiShrink3 {
  -webkit-animation-name: duiShrink3;
  animation-name: duiShrink3;
}
/* dui.mobile._IconItemPane */
.duiIconItemPaneHeading {
  position: relative;
  clear: both;
  overflow: hidden;
  margin-top: 0px;
  padding-left: 40px;
  height: 25px;
  border-top: 1px solid #f1f3f4;
  border-bottom: 1px solid #717d85;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e4e7), to(#b4bec6), color-stop(0.5, #c4ccd2), color-stop(0.5, #bfc8ce));
  background-image: linear-gradient(to bottom, #e0e4e7 0%, #c4ccd2 50%, #bfc8ce 50%, #b4bec6 100%);
  font-family: Helvetica;
  font-size: 14px;
  color: white;
  line-height: 26px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.duiIconItemPaneIcon {
  position: absolute;
  top: -2px;
  left: 1px;
}
@-webkit-keyframes duiVibrate {
  0% {
    -webkit-transform: rotate(-2deg);
    bottom: -1px;
    left: -1px;
  }
  25% {
    -webkit-transform: rotate(1deg);
    bottom: 2px;
    left: 1px;
  }
  50% {
    -webkit-transform: rotate(-1deg);
    bottom: -2px;
    left: -1px;
  }
  75% {
    -webkit-transform: rotate(2deg);
    bottom: 2px;
    left: 1px;
  }
  100% {
    -webkit-transform: rotate(-2deg);
    bottom: -1px;
    left: -1px;
  }
}
@keyframes duiVibrate {
  0% {
    transform: rotate(-2deg);
    bottom: -1px;
    left: -1px;
  }
  25% {
    transform: rotate(1deg);
    bottom: 2px;
    left: 1px;
  }
  50% {
    transform: rotate(-1deg);
    bottom: -2px;
    left: -1px;
  }
  75% {
    transform: rotate(2deg);
    bottom: 2px;
    left: 1px;
  }
  100% {
    transform: rotate(-2deg);
    bottom: -1px;
    left: -1px;
  }
}
@-webkit-keyframes duiShrink {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.01);
  }
}
@keyframes duiShrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.01);
  }
}
@-webkit-keyframes duiShrink0 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: translate(-40%, -70%) scale(0.01);
  }
}
@keyframes duiShrink0 {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(-40%, -70%) scale(0.01);
  }
}
@-webkit-keyframes duiShrink1 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: translate(-14%, -70%) scale(0.01);
  }
}
@keyframes duiShrink1 {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(-14%, -70%) scale(0.01);
  }
}
@-webkit-keyframes duiShrink2 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: translate(14%, -70%) scale(0.01);
  }
}
@keyframes duiShrink2 {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(14%, -70%) scale(0.01);
  }
}
@-webkit-keyframes duiShrink3 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: translate(40%, -70%) scale(0.01);
  }
}
@keyframes duiShrink3 {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(40%, -70%) scale(0.01);
  }
}
