/* dui.mobile.IconItem Rtl */
.duiIconItemRtl {
  float: right;
}
.duiIconItemRtl .duiIconItemDeleteIcon {
  right: 2px;
}
/* dui.mobile._IconItemPane Rtl*/
.duiIconItemPaneRtl .duiIconItemPaneHeading {
  padding-right: 40px;
}
.duiIconItemPaneRtl .duiIconItemPaneIcon {
  right: 1px;
}
