/* dojox.mobile.RoundRectList */
.dj_ff3 .duiRoundRectList {
  -moz-border-radius: 6px;
}
.dj_ff3 .duiRoundRectList .duiListItem:first-child {
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
}
.dj_ff3 .duiRoundRectList .duiListItem:last-child {
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
}
/* Round Corner */
.dj_ie .duiRoundRectList {
  position: relative;
}
.dj_ie .duiRoundCorner {
  background-color: #ffffff;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  border-style: solid;
  border-color: #c6c7c6;
  border-width: 0 1px;
}
.dj_ie .duiRoundRectContainer {
  padding: 3px 8px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #c6c7c6;
  border-width: 0 1px;
}
.dj_ie .duiRoundRectList .duiRoundRectContainer {
  margin: 0;
  padding: 0;
}
.dj_ie .duiRoundCorner0T {
  height: 0;
}
.dj_ie .duiRoundCorner1T {
  background-color: #c6c7c6;
  margin: 0 5px;
}
.dj_ie .duiRoundCorner2T {
  margin: 0 2px;
  border-width: 0 3px;
}
.dj_ie .duiRoundCorner3T {
  margin: 0 1px;
  border-width: 0 2px;
}
.dj_ie .duiRoundCorner4T {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner5T {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner0B {
  height: 0;
}
.dj_ie .duiRoundCorner1B {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner2B {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner3B {
  margin: 0 1px;
  border-width: 0 2px;
}
.dj_ie .duiRoundCorner4B {
  margin: 0 2px;
  border-width: 0 3px;
}
.dj_ie .duiRoundCorner5B {
  background-color: #c6c7c6;
  margin: 0 5px;
}
