@import url("TextBox-compat.css");
/* dui.mobile.SearchBox */
.duiSearchBox {
  height: auto;
}
/* CSS class for the parent DIV of the dui/mobile/SearchBox used for filtering a 
  dui/mobile/RoundRectList or subclass. This class is set by dui/mobile/FilteredListMixin 
  only if the mixin creates the SearchBox by itself. */
.duiFilteredRoundRectListSearchBox {
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  -moz-box-sizing: border-box;
}
.duiFilteredRoundRectListSearchBox > input {
  width: 100%;
}
/* CSS class for the parent DIV of the dui/mobile/SearchBox used for filtering a 
  dui/mobile/EdgeToEdgeList or subclass. This class is set by dui/mobile/FilteredListMixin 
  only if the mixin creates the SearchBox by itself. */
.duiFilteredEdgeToEdgeListSearchBox {
  width: 100%;
}
.duiFilteredEdgeToEdgeListSearchBox > input {
  width: 100%;
}
