/* dui.mobile.SimpleDialog */
.duiSimpleDialog {
  position: absolute;
  z-index: 100;
  margin: 0;
  text-align: center;
  outline: none;
  padding: 8px;
  width: 262px;
}
.duiSimpleDialogDecoration {
  border-radius: 6px;
  background-color: #000000;
  border: none;
  color: white;
}
.duiSimpleDialogContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.duiSimpleDialogCover {
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.duiSimpleDialogCloseBtn {
  position: absolute !important;
}
.duiSimpleDialogTitle {
  margin: 7px 0 14px;
  width: 262px;
}
.duiSimpleDialogText {
  margin: 7px 0 14px;
  width: 262px;
}
