/* dui.mobile.Switch */
/* Switch - common */
.dj_gecko .duiSwitchBg {
  -moz-box-sizing: border-box;
}
.dj_gecko .duiSwitchKnob {
  -moz-box-sizing: border-box;
}
.dj_gecko .duiSwitch .duiSwitchBgLeft {
  background-image: -moz-linear-gradient(top, #088eef 0%, #0869c6 50%, #0851ad 100%);
}
.dj_gecko .duiSwitch .duiSwitchBgRight {
  background-image: -moz-linear-gradient(top, #f7f3f7 0%, #ced3ce 50%, #cec5d6 100%);
}
.dj_gecko .duiSwitch .duiSwitchKnob {
  background-image: -moz-linear-gradient(top, #fafafa 0%, #bbbbbb 50%, #999999 100%);
}
.dj_ie .duiSwitchBg {
  border: none;
  background: none;
}
.dj_ie .duiSwitchBgLeft {
  background-repeat: no-repeat;
}
.dj_ie .duiSwitchBgRight {
  background-repeat: no-repeat;
}
.dj_ie .duiSwitchKnob {
  background: none;
  background-repeat: no-repeat;
  border: none;
}
/* Square Shape */
.duiSwSquareShape .duiSwitchBg {
  -moz-border-radius: 6px;
}
.duiSwSquareShape .duiSwitchBgLeft {
  background-image: url(compat/switch-square-l.gif);
}
.duiSwSquareShape .duiSwitchBgRight {
  background-image: url(compat/switch-square-r.gif);
}
.duiSwSquareShape .duiSwitchKnob {
  -moz-border-radius: 6px;
  background-image: url(compat/switch-square-k.gif);
}
/* Round Shape1 */
.duiSwRoundShape1 .duiSwitchBg {
  -moz-border-radius: 14px;
}
.duiSwRoundShape1 .duiSwitchBgLeft {
  background-image: url(compat/switch-round1-l.gif);
}
.duiSwRoundShape1 .duiSwitchBgRight {
  background-image: url(compat/switch-round1-r.gif);
}
.duiSwRoundShape1 .duiSwitchKnob {
  -moz-border-radius: 13px;
  background-image: url(compat/switch-round1-k.gif);
}
/* Round Shape2 */
.duiSwRoundShape2 .duiSwitchBg {
  -moz-border-radius: 14px;
}
.duiSwRoundShape2 .duiSwitchBgLeft {
  background-image: url(compat/switch-round2-l.gif);
}
.duiSwRoundShape2 .duiSwitchBgRight {
  background-image: url(compat/switch-round2-r.gif);
}
.duiSwRoundShape2 .duiSwitchKnob {
  -moz-border-radius: 13px;
  background-image: url(compat/switch-round2-k.gif);
}
/* Arc Shape1 */
.duiSwArcShape1 .duiSwitchBg {
  -moz-border-radius: 5px/14px;
}
.duiSwArcShape1 .duiSwitchBgLeft {
  background-image: url(compat/switch-arc1-l.gif);
}
.duiSwArcShape1 .duiSwitchBgRight {
  background-image: url(compat/switch-arc1-r.gif);
}
.duiSwArcShape1 .duiSwitchKnob {
  -moz-border-radius: 5px/13px;
  background-image: url(compat/switch-arc1-k.gif);
}
/* Switch - Arc Shape2 */
.duiSwArcShape2 .duiSwitchBg {
  -moz-border-radius: 5px/14px;
}
.duiSwArcShape2 .duiSwitchBgLeft {
  background-image: url(compat/switch-arc2-l.gif);
}
.duiSwArcShape2 .duiSwitchBgRight {
  background-image: url(compat/switch-arc2-r.gif);
}
.duiSwArcShape2 .duiSwitchKnob {
  -moz-border-radius: 5px/13px;
  background-image: url(compat/switch-arc2-k.gif);
}
/* Default Shape */
.duiSwDefaultShape .duiSwitchBg {
  -moz-border-radius: 6px;
}
.duiSwDefaultShape .duiSwitchBgLeft {
  background-image: url(compat/switch-square-l.gif);
}
.duiSwDefaultShape .duiSwitchBgRight {
  background-image: url(compat/switch-square-r.gif);
}
.duiSwDefaultShape .duiSwitchKnob {
  -moz-border-radius: 6px;
  background-image: url(compat/switch-square-k.gif);
}
