/* dui.mobile.Switch */
/* Switch - common */
.duiSwitch {
  margin: 0;
  position: relative;
  display: inline-block;
  height: 27px;
  line-height: 29px;
  overflow: hidden;
  text-align: left;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.duiListItem .duiSwitch {
  position: absolute;
  right: 12px;
  top: 16px;
}
.duiSwitchInner {
  position: absolute;
  top: 0;
  height: 27px;
}
.duiSwitchAnimation .duiSwitchInner {
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.duiSwitchOn .duiSwitchInner {
  left: 0;
}
.duiSwitchBg {
  position: absolute;
  top: 0;
  width: 94px;
  height: 27px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: rgba(176, 176, 176, 0.5) 1px inset;
}
.duiSwitchBgLeft {
  left: 0;
  color: white;
  background-color: #3f84eb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));
  background-image: linear-gradient(to bottom, #088eef 0%, #0869c6 50%, #0851ad 100%);
}
.duiSwitchBgRight {
  color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f3f7), to(#cec5d6), color-stop(0.5, #ced3ce));
  background-image: linear-gradient(to bottom, #f7f3f7 0%, #ced3ce 50%, #cec5d6 100%);
}
.duiSwitchKnob {
  position: absolute;
  top: 0;
  height: 27px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#999999), color-stop(0.5, #bbbbbb));
  background-image: linear-gradient(to bottom, #fafafa 0%, #bbbbbb 50%, #999999 100%);
  font-size: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: rgba(156, 172, 192, 0.5) 1px outset;
}
.duiSwitchText {
  position: relative;
  top: 0;
  width: 53px;
  height: 27px;
  padding: 0;
  line-height: 28px;
  text-align: center;
}
.duiSwitchTextLeft {
  left: 0;
}
.duiSwitchTextRight {
  left: 40px;
}
/* Square Shape */
.duiSwSquareShape {
  width: 94px;
}
.duiSwSquareShape.duiSwitchOff .duiSwitchInner {
  left: -53px;
}
.duiSwSquareShape .duiSwitchBg {
  border-radius: 6px;
}
.duiSwSquareShape .duiSwitchBgRight {
  left: 53px;
}
.duiSwSquareShape .duiSwitchKnob {
  left: 53px;
  width: 41px;
  border-radius: 6px;
}
.duiSwSquareShape .duiSwitchText {
  width: 53px;
}
.duiSwSquareShape .duiSwitchTextRight {
  left: 40px;
}
/* Round Shape1 */
.duiSwRoundShape1 {
  width: 77px;
}
.duiSwRoundShape1.duiSwitchOff .duiSwitchInner {
  left: -50px;
}
.duiSwRoundShape1 .duiSwitchBg {
  width: 77px;
  border-radius: 14px;
}
.duiSwRoundShape1 .duiSwitchBgRight {
  left: 50px;
}
.duiSwRoundShape1 .duiSwitchKnob {
  left: 50px;
  width: 27px;
  border-radius: 13px;
}
.duiSwRoundShape1 .duiSwitchText {
  width: 50px;
}
.duiSwRoundShape1 .duiSwitchTextRight {
  left: 26px;
}
/* Round Shape2 */
.duiSwRoundShape2 {
  width: 94px;
}
.duiSwRoundShape2.duiSwitchOff .duiSwitchInner {
  left: -51px;
}
.duiSwRoundShape2 .duiSwitchBg {
  border-radius: 14px;
}
.duiSwRoundShape2 .duiSwitchBgRight {
  left: 51px;
}
.duiSwRoundShape2 .duiSwitchKnob {
  left: 51px;
  width: 43px;
  border-radius: 13px;
}
.duiSwRoundShape2 .duiSwitchText {
  width: 51px;
}
.duiSwRoundShape2 .duiSwitchTextRight {
  left: 42px;
}
/* Arc Shape1 */
.duiSwArcShape1 {
  width: 77px;
}
.duiSwArcShape1.duiSwitchOff .duiSwitchInner {
  left: -50px;
}
.duiSwArcShape1 .duiSwitchBg {
  width: 77px;
  border-radius: 5px/14px;
}
.duiSwArcShape1 .duiSwitchBgRight {
  left: 50px;
}
.duiSwArcShape1 .duiSwitchKnob {
  left: 50px;
  width: 27px;
  border-radius: 5px/13px;
}
.duiSwArcShape1 .duiSwitchText {
  width: 50px;
}
.duiSwArcShape1 .duiSwitchTextRight {
  left: 26px;
}
/* Arc Shape2 */
.duiSwArcShape2 {
  width: 94px;
}
.duiSwArcShape2.duiSwitchOff .duiSwitchInner {
  left: -51px;
}
.duiSwArcShape2 .duiSwitchBg {
  border-radius: 5px/14px;
}
.duiSwArcShape2 .duiSwitchBgRight {
  left: 51px;
}
.duiSwArcShape2 .duiSwitchKnob {
  left: 51px;
  width: 43px;
  border-radius: 5px/13px;
}
.duiSwArcShape2 .duiSwitchText {
  width: 51px;
}
.duiSwArcShape2 .duiSwitchTextRight {
  left: 42px;
}
/* Default Shape */
.duiSwDefaultShape {
  width: 94px;
}
.duiSwDefaultShape.duiSwitchOff .duiSwitchInner {
  left: -53px;
}
.duiSwDefaultShape .duiSwitchBg {
  border-radius: 6px;
}
.duiSwDefaultShape .duiSwitchBgRight {
  left: 53px;
}
.duiSwDefaultShape .duiSwitchKnob {
  left: 53px;
  width: 41px;
  border-radius: 6px;
}
.duiSwDefaultShape .duiSwitchText {
  width: 53px;
}
.duiSwDefaultShape .duiSwitchTextRight {
  left: 40px;
}
