/* dui.Calendar */
.duiCalendar thead {
  background-repeat: repeat-x;
  background-color: #333333;
}
.duiCalendarSelectedDate .duiCalendarDateLabel {
  background-repeat: repeat-x;
  color: #33b5e5;
}
.duiCalendarDate:active .duiCalendarDateLabel {
  background-repeat: repeat-x;
}
.duiCalendarYearLabel {
  background-repeat: repeat-x;
  background-color: #333333;
}
.dj_gecko .duiCalendar .duiDropDownButton .duiButtonNode {
  -moz-box-shadow: 0 0 0 transparent;
}
.dj_gecko .duiCalendar thead {
  background-color: #333333;
}
.dj_gecko .duiCalendarSelectedDate .duiCalendarDateLabel {
  color: #33b5e5;
}
.dj_gecko .duiCalendarYearLabel {
  background-color: #333333;
}
.dj_ff3 .duiCalendar {
  -moz-border-radius: 0;
}
