// DnD
// These rules should apply for containers that are dir=rtl (either set directly, or inherited)
// but seems the best we can do is look for .d-rtl on an ancestor node.

.d-rtl .dojoDndHorizontal .dojoDndItemBefore {
	border-width: 0 2px 0 0;
	padding: 2px 0 2px 2px;
}
.d-rtl .dojoDndHorizontal .dojoDndItemAfter {
	border-width: 0 0 0 2px;
	padding: 2px 2px 2px 0;
}
