/* CSS for the ios theme */
@import url('../app.css');

.d-slider-h {
	width: 185px;
}

.d-slider-h .d-slider-remaining-bar {
	width: 100%;
}

.header {
	position: relative;
	margin: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 1;
	padding: 0;
	height: 42px;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 44px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), to(#6d84a2), color-stop(0.5, #889bb3), color-stop(0.5, #8195af));
	background-image: linear-gradient(to bottom, #b0bccd 0%, #889bb3 50%, #8195af 50%, #6d84a2 100%);
	border-top: 1px solid #cdd5df;
	border-bottom: 1px solid #2d3642;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
}

.header button {
	z-index: 2;
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	margin: 6px;
	padding: 0 10px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	color: #ffffff;
	background-color: #5877a2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#4a6c9b), color-stop(0.02, #8ea4c1), color-stop(0.5, #5877a2), color-stop(0.5, #476999));
	background-image: linear-gradient(to bottom, #222222 0%, #8ea4c1 2%, #5877a2 50%, #476999 50%, #4a6c9b 100%);
	overflow: hidden;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #2f3740 #405a7e #375073 #3a4755;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.305);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.305);
}

.header div {
	position: absolute;
	left: 0;
	width: 100%;
}
