.d-readonly *,
.d-disabled *,
.d-readonly,
.d-disabled {
  cursor: default;
}
.d-reset {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  line-height: normal;
  color: inherit;
}
.d-inline {
  display: inline-block;
  border: 0;
  padding: 0;
  vertical-align: middle;
}
.d-hidden,
[d-hidden=true],
[d-shown=false] {
  display: none;
}
.d-invisible,
[d-invisible=true],
[d-visible=false] {
  visibility: hidden;
}
.d-popup {
  position: absolute;
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-tooltip-dialog-popup {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.d-slider {
  display: inline-block;
  vertical-align: middle;
  border-collapse: separate;
  cursor: pointer;
  padding: 12pt;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.d-slider input {
  display: none;
}
.d-slider-h {
  width: 200px;
}
.d-slider-h .d-slider-container {
  width: 100%;
  min-width: 80px;
  height: 8px;
}
.d-slider-h .d-slider-container > * {
  left: 0;
}
.d-slider-h .d-slider-progress-bar {
  height: 100%;
  top: 0;
  float: none;
}
.d-slider-h .d-slider-handle {
  top: -7px;
  width: 20px;
  height: 20px;
}
.d-slider-v {
  height: 200px;
}
.d-slider-v .d-slider-container {
  height: 100%;
  min-height: 80px;
  width: 8px;
}
.d-slider-v .d-slider-container > * {
  top: 0;
}
.d-slider-v .d-slider-progress-bar {
  width: 100%;
  left: 0;
  display: block;
}
.d-slider-v .d-slider-handle {
  left: -7px;
  width: 20px;
  height: 20px;
}
.d-slider-handle {
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: outset;
  border-color: #9d9d9d;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  background: gray;
  background-clip: content-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#fafafa));
  background-image: linear-gradient(to bottom, #cccccc 0%, #fafafa 100%);
  outline: none;
}
.d-slider-h-htl .d-slider-handle-max,
.d-slider-h-lth .d-slider-handle-min {
  left: -10px;
}
.d-slider-h-htl .d-slider-handle-min,
.d-slider-h-lth .d-slider-handle-max {
  right: -10px;
}
.d-slider-v-lth .d-slider-handle-max,
.d-slider-v-htl .d-slider-handle-min {
  bottom: -10px;
}
.d-slider-v-lth .d-slider-handle-min,
.d-slider-v-htl .d-slider-handle-max {
  top: -10px;
}
.d-slider-bar {
  border-width: 1px;
  border-style: inset;
  border-color: #b0b0b0;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  background: none;
  background-clip: content-box;
}
.d-slider-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  vertical-align: middle;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#fdfdfd), color-stop(0.5, #eeeeee), color-stop(0.5, #f8f8f8));
  background-image: linear-gradient(to bottom, #cecece 0%, #eeeeee 50%, #f8f8f8 50%, #fdfdfd 100%);
}
.d-slider-container > * {
  position: absolute !important;
}
.d-slider-progress-bar {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-width: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2859b1), to(#75acfb), color-stop(0.5, #3f84eb), color-stop(0.5, #4c8eee));
  background-image: linear-gradient(to bottom, #2859b1 0%, #3f84eb 50%, #4c8eee 50%, #75acfb 100%);
}
.d-slider-transition {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  transition-duration: 400ms;
}
.dj_a11y .d-slider-handle:after {
  content: "\025A3";
  display: block;
  font-family: monospace;
  font-size: 20px;
}
.dj_a11y .d-slider-h .d-slider-handle {
  line-height: 20px;
}
.dj_a11y .d-slider-v .d-slider-handle {
  line-height: 20px;
}
.dj_a11y .d-slider .d-slider-handle {
  border-radius: 0;
}
