@import "../../../../delite/themes/ios/includes";

.d-button-styles () {
	.default-button-border-styles;
	color: black;
	font-size: 13px;
}
.d-button-selected-styles () {
	color: black;
}

@import "../Button_template";
