.d-button {
  padding: 15px 10px;
  border-style: outset;
  border-width: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cecece), color-stop(0.5, #f8f8f8), color-stop(0.5, #eeeeee));
  background-image: linear-gradient(to bottom, #fdfdfd 0%, #f8f8f8 50%, #eeeeee 50%, #cecece 100%);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-color: #9cacc0;
  border-radius: 5px;
  color: black;
  font-size: 13px;
}
.d-button-text {
  margin: 10px;
}
.d-button:active,
.d-button-selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#bfbfbf), color-stop(0.5, #ebebeb), color-stop(0.5, #dedede));
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #ebebeb 50%, #dedede 50%, #bfbfbf 100%);
  color: black;
}
.d-button[aria-disabled=true] {
  border-color: grey;
  background-image: none;
  color: grey;
  cursor: default;
}
