.d-panel {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow: auto;
  border-color: #dddddd;
}
.d-panel .d-panel-header {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.d-panel-primary {
  border-color: #428bca;
}
.d-panel-primary .d-panel-header {
  border-color: #428bca;
  color: #ffffff;
  background-color: #428bca;
}
.d-panel-success {
  border-color: #d6e9c6;
}
.d-panel-success .d-panel-header {
  border-color: #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
}
.d-panel-info {
  border-color: #bce8f1;
}
.d-panel-info .d-panel-header {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}
.d-panel-warning {
  border-color: #faebcc;
}
.d-panel-warning .d-panel-header {
  border-color: #faebcc;
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.d-panel-danger {
  border-color: #ebccd1;
}
.d-panel-danger .d-panel-header {
  border-color: #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}
