// Duplicated boostrap theme
@import "../../../../delite/themes/bootstrap/includes";

@d-slider-size: 200px;
@d-slider-halo-size: 16px;

@d-slider-bar-color: @progress-bg;
@d-slider-bar-thickness: 8px;
@d-slider-bar-border-width: 1px;
@d-slider-bar-border-style: inset;
@d-slider-bar-border-color: @btn-default-border;
@d-slider-bar-border-radius: @border-radius-base;

@d-slider-handle-size: 20px;
@d-slider-handle-color: @progress-bg;
@d-slider-handle-thickness: 20px;
@d-slider-handle-border-width: 1px;
@d-slider-handle-border-style: outset;
@d-slider-handle-border-color: @gray-light;
@d-slider-handle-border-radius: @border-radius-large;

@import "../Slider_template";
