@import "../../../../delite/themes/holodark/includes";

@d-slider-size: 200px;
@d-slider-halo-size: 12pt;
@d-slider-bar-border-width: 1px; // for a11y
@d-slider-bar-border-style: solid;
@d-slider-bar-border-color: transparent;
@d-slider-bar-size: 100%;
@d-slider-bar-thickness: 5px; // include border for a11y
@d-slider-bar-border-radius: 0;
@d-slider-knob-size: 20px; // include border for a11y
@d-slider-knob-thickness: 20px; // include border for a11y
@d-slider-knob-border-width: 1px; // for a11y
@d-slider-knob-border-style: solid;
@d-slider-knob-border-color: transparent;
@d-slider-knob-border-radius: 10em;

.d-slider-styles () {
}
.d-slider-bar-styles () {
}
.d-slider-container-styles () {
  background-color: @holo-slider-track-color;
}
.d-slider-progress-bar-styles () {
  background-color: @holo-color1;
}
.d-slider-handle-styles () {
  background-color: #33B5E5;
  border-color: #000000;
  outline: none;
}

@import "../Slider_template";