.d-side-pane {
  width: 15em;
  height: 100%;
  top: 0;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  touch-action: pan-y;
}
.-d-side-pane-animate {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.-d-side-pane-no-select {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.-d-side-pane-start {
  left: 0;
}
.-d-side-pane-end {
  right: 0;
}
.-d-side-pane-under {
  z-index: -1;
}
.-d-side-pane-ontop {
  z-index: 1;
}
.-d-side-pane-start.-d-side-pane-push.-d-side-pane-hidden,
.-d-side-pane-start.-d-side-pane-overlay.-d-side-pane-hidden {
  left: 0;
  transform: translate3d(-15em /* rtl:15em */, 0, 0);
}
.-d-side-pane-start.-d-side-pane-push.-d-side-pane-visible,
.-d-side-pane-start.-d-side-pane-overlay.-d-side-pane-visible {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.-d-side-pane-end.-d-side-pane-push.-d-side-pane-hidden,
.-d-side-pane-end.-d-side-pane-overlay.-d-side-pane-hidden {
  right: 0;
  transform: translate3d(15em /* rtl:-15em */, 0, 0);
}
.-d-side-pane-end.-d-side-pane-push.-d-side-pane-visible,
.-d-side-pane-end.-d-side-pane-overlay.-d-side-pane-visible {
  right: 0;
  transform: translate3d(0, 0, 0);
}
.-d-side-pane-start.-d-side-pane-translated {
  left: 0;
  transform: translate3d(15em /* rtl:-15em */, 0, 0);
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}
.-d-side-pane-start.-d-side-pane-nottranslated {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.-d-side-pane-end.-d-side-pane-translated {
  right: 0;
  transform: translate3d(-15em /* rtl:15em */, 0, 0);
}
.-d-side-pane-end.-d-side-pane-nottranslated {
  right: 0;
  transform: translate3d(0, 0, 0);
}
.-d-side-pane-end.-d-side-pane-reveal.-d-side-pane-visible,
.-d-side-pane.-d-side-pane-end-reveal.-d-side-pane-hidden {
  right: 0;
}
