@import "../../../../delite/themes/bootstrap/includes";

.d-panel-base() {
  .box-sizing(border-box);
  background-color: @panel-bg;
  border: 1px solid;
  .border-radius(@panel-border-radius);
  .box-shadow(0 1px 1px rgba(0,0,0,.05));
  .display-flex();
  align-items: stretch;
  .flex-direction-column();
  overflow: auto;
}

.d-panel-variant(@heading-color, @text-color, @border-color) {
  border-color: @border-color;
  .d-panel-header {
    border-color: @border-color;
    color: @text-color;
    background-color: @heading-color;
  }
}

.d-panel {
  .d-panel-base();
  .d-panel-variant(@panel-default-heading-bg, @panel-default-text, @panel-default-border);
}

.d-panel-primary {
  .d-panel-variant(@panel-primary-heading-bg, @panel-primary-text, @panel-primary-border);
}

.d-panel-success {
  .d-panel-variant(@panel-success-heading-bg, @panel-success-text, @panel-success-border);
}

.d-panel-info {
  .d-panel-variant(@panel-info-heading-bg, @panel-info-text, @panel-info-border);
}

.d-panel-warning {
  .d-panel-variant(@panel-warning-heading-bg, @panel-warning-text, @panel-warning-border);
}

.d-panel-danger {
  .d-panel-variant(@panel-danger-heading-bg, @panel-danger-text, @panel-danger-border);
}