// the default switch width. (only used in public d-switch-width css class)
@d-switch-w: 70px;

// the knob width
@d-switch-knob-w: 30px;

// the border radius
@d-switch-rounded-radius: @d-switch-knob-w / 2;
