@import "../../../delite/themes/common/mixins";

.d-linear-layout {
  .display-flex();
}

.d-linear-layout.-d-linear-layout-v {
  .flex-direction-column();
}

.fill {
	.flex(1);
	overflow: auto;
}

.height100 {
	height: 100%;
}

.width100 {
	width: 100%;
}