@import "../../../delite/themes/common/mixins";

.d-linear-layout {
	display: flex;
	align-items: stretch;

	> * {
		position: relative;
	}
}

.-d-linear-layout-v {
	flex-direction: column;
}

.fill {
	flex: 1;
}
