@import "../../../delite/themes/common/mixins";

.d-linear-layout {
  .display-flex();
}

.d-linear-layout.-d-linear-layout-v {
  .flex-direction-column();
}

.fill {
  .flex(1);
}

.-d-linear-layout-v > .fill{
  height: 100%;
}

.-d-linear-layout-h > .fill {
  width: 100%;
}

.height100 {
	height: 100%;
}

.width100 {
	width: 100%;
}