/* Dijit widget common icons*/

/*commonIcons_rtl.css is located in dui/icons

The 16 x 16px icons in these sprites are action and object type images which can be used in the following widgets: accordionContainer, menu, tab, titlepane, tree, and all button widgets and error validation contexts. */

.duiRtl .duiIconSave,
.duiRtl .duiIconPrint,
.duiRtl .duiIconCut,
.duiRtl .duiIconCopy,
.duiRtl .duiIconClear,
.duiRtl .duiIconDelete,
.duiRtl .duiIconUndo,
.duiRtl .duiIconEdit,
.duiRtl .duiIconNewTask,
.duiRtl .duiIconEditTask,
.duiRtl .duiIconEditProperty,
.duiRtl .duiIconTask,
.duiRtl .duiIconFilter,
.duiRtl .duiIconConfigure,
.duiRtl .duiIconSearch,
.duiRtl .duiIconApplication,
.duiRtl .duiIconBookmark,
.duiRtl .duiIconChart,
.duiRtl .duiIconConnector,
.duiRtl .duiIconDatabase,
.duiRtl .duiIconDocuments,
.duiRtl .duiIconMail,
.duiRtl .duiLeaf,
.duiRtl .duiIconFile,
.duiRtl .duiIconFunction,
.duiRtl .duiIconKey,
.duiRtl .duiIconPackage,
.duiRtl .duiIconSample,
.duiRtl .duiIconTable,
.duiRtl .duiIconUsers,
.duiRtl .duiFolderClosed,
.duiRtl .duiIconFolderClosed,
.duiRtl .duiFolderOpened,
.duiRtl .duiIconFolderOpen,
.duiRtl .duiIconError { 
	background-image: url('images/commonIconsObjActEnabled_rtl.png'); /* Contains both object and action icons in a sprite image for the enabled state.  */
	width: 16px;
	height: 16px;
}

.dj_ie6 .duiRtl .duiIconSave,
.dj_ie6 .duiRtl .duiIconPrint,
.dj_ie6 .duiRtl .duiIconCut,
.dj_ie6 .duiRtl .duiIconCopy,
.dj_ie6 .duiRtl .duiIconClear,
.dj_ie6 .duiRtl .duiIconDelete,
.dj_ie6 .duiRtl .duiIconUndo,
.dj_ie6 .duiRtl .duiIconEdit,
.dj_ie6 .duiRtl .duiIconNewTask,
.dj_ie6 .duiRtl .duiIconEditTask,
.dj_ie6 .duiRtl .duiIconEditProperty,
.dj_ie6 .duiRtl .duiIconTask,
.dj_ie6 .duiRtl .duiIconFilter,
.dj_ie6 .duiRtl .duiIconConfigure,
.dj_ie6 .duiRtl .duiIconSearch,
.dj_ie6 .duiRtl .duiIconApplication,
.dj_ie6 .duiRtl .duiIconBookmark,
.dj_ie6 .duiRtl .duiIconChart,
.dj_ie6 .duiRtl .duiIconConnector,
.dj_ie6 .duiRtl .duiIconDatabase,
.dj_ie6 .duiRtl .duiIconDocuments,
.dj_ie6 .duiRtl .duiIconMail,
.dj_ie6 .duiRtl .duiLeaf,
.dj_ie6 .duiRtl .duiIconFile,
.dj_ie6 .duiRtl .duiIconFunction,
.dj_ie6 .duiRtl .duiIconKey,
.dj_ie6 .duiRtl .duiIconPackage,
.dj_ie6 .duiRtl .duiIconSample,
.dj_ie6 .duiRtl .duiIconTable,
.dj_ie6 .duiRtl .duiIconUsers,
.dj_ie6 .duiRtl .duiFolderClosed,
.dj_ie6 .duiRtl .duiIconFolderClosed,
.dj_ie6 .duiRtl .duiFolderOpened,
.dj_ie6 .duiRtl .duiIconFolderOpen,
.dj_ie6 .duiRtl .duiIconError {
	background-image: url('images/commonIconsObjActEnabled8bit_rtl.png');
}

.duiRtl .duiDisabled .duiIconSave,
.duiRtl .duiDisabled .duiIconPrint,
.duiRtl .duiDisabled .duiIconCut,
.duiRtl .duiDisabled .duiIconCopy,
.duiRtl .duiDisabled .duiIconClear,
.duiRtl .duiDisabled .duiIconDelete,
.duiRtl .duiDisabled .duiIconUndo,
.duiRtl .duiDisabled .duiIconEdit,
.duiRtl .duiDisabled .duiIconNewTask,
.duiRtl .duiDisabled .duiIconEditTask,
.duiRtl .duiDisabled .duiIconEditProperty,
.duiRtl .duiDisabled .duiIconTask,
.duiRtl .duiDisabled .duiIconFilter,
.duiRtl .duiDisabled .duiIconConfigure,
.duiRtl .duiDisabled .duiIconSearch,
.duiRtl .duiDisabled .duiIconApplication,
.duiRtl .duiDisabled .duiIconBookmark,
.duiRtl .duiDisabled .duiIconChart,
.duiRtl .duiDisabled .duiIconConnector,
.duiRtl .duiDisabled .duiIconDatabase,
.duiRtl .duiDisabled .duiIconDocuments,
.duiRtl .duiDisabled .duiIconMail,
.duiRtl .duiDisabled .duiLeaf,
.duiRtl .duiDisabled .duiIconFile,
.duiRtl .duiDisabled .duiIconFunction,
.duiRtl .duiDisabled .duiIconKey,
.duiRtl .duiDisabled .duiIconPackage,
.duiRtl .duiDisabled .duiIconSample,
.duiRtl .duiDisabled .duiIconTable,
.duiRtl .duiDisabled .duiIconUsers,
.duiRtl .duiDisabled .duiFolderClosed,
.duiRtl .duiDisabled .duiIconFolderClosed,
.duiRtl .duiDisabled .duiFolderOpened,
.duiRtl .duiDisabled .duiIconFolderOpen,
.duiRtl .duiDisabled .duiIconError {
	background-image: url('images/commonIconsObjActDisabled_rtl.png'); /* Contains both object and action icons as a sprite image for the disabled state. These would be used by buttons and menus.   */
}
