/* Dijit Editor RTL icons*/

/*editorIcons_rtl.css is located in dui/images 

editorIcons_rtl.css contains references to the dui editor widget icons. There are 46 icons used to map to the related editor funtionality in the editor's toolbar.

*/


/* Editor */
.duiEditorRtl .duiEditorIcon {
	background-image: url('images/editorIconsEnabled_rtl.png'); /* editor icons sprite image for the enabled right to left state */
}
.duiEditorRtlDisabled .duiEditorIcon {
	background-image: url('images/editorIconsDisabled_rtl.png'); /* editor icons sprite image for the disabled right to left state */
}

/* Toolbar */
.duiToolbarRtl .duiToolbarSeparator {
	background-image: url('images/editorIconsEnabled_rtl.png');
}

/* took this information above from editorRtl.css - good or bad? */