/* Dijit Editor icons*/

/*editorIcons.css  is located in dui/images 

editorIcons.css contains references to the dui editor widget icons. There are 46 icons used to map to the related editor funtionality in the editor's toolbar.

*/


.duiEditorIcon {
	background-image: url('images/editorIconsEnabled.png'); /* editor icons sprite image for the enabled state */
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.duiDisabled .duiEditorIcon {
	background-image: url('images/editorIconsDisabled.png'); /* editor icons sprite image for the disabled state */
}


.duiEditorIconSep { background-position: 0; }
.duiEditorIconSave { background-position: -18px; }
.duiEditorIconPrint { background-position: -36px; }
.duiEditorIconCut { background-position: -54px; }
.duiEditorIconCopy { background-position: -72px; }
.duiEditorIconPaste { background-position: -90px; }
.duiEditorIconDelete { background-position: -108px; }
.duiEditorIconCancel { background-position: -126px; }
.duiEditorIconUndo { background-position: -144px; }
.duiEditorIconRedo { background-position: -162px; }
.duiEditorIconSelectAll { background-position: -180px; }
.duiEditorIconBold { background-position: -198px; }
.duiEditorIconItalic { background-position: -216px; }
.duiEditorIconUnderline { background-position: -234px; }
.duiEditorIconStrikethrough { background-position: -252px; }
.duiEditorIconSuperscript { background-position: -270px; }
.duiEditorIconSubscript { background-position: -288px; }
.duiEditorIconJustifyCenter { background-position: -306px; }
.duiEditorIconJustifyFull { background-position: -324px; }
.duiEditorIconJustifyLeft { background-position: -342px; }
.duiEditorIconJustifyRight { background-position: -360px; }
.duiEditorIconIndent { background-position: -378px; }
.duiEditorIconOutdent { background-position: -396px; }
.duiEditorIconListBulletIndent { background-position: -414px; }
.duiEditorIconListBulletOutdent { background-position: -432px; }
.duiEditorIconListNumIndent { background-position: -450px; }
.duiEditorIconListNumOutdent { background-position: -468px; }
.duiEditorIconTabIndent { background-position: -486px; }
.duiEditorIconLeftToRight { background-position: -504px; }
.duiEditorIconRightToLeft, .duiEditorIconToggleDir { background-position: -522px; }
.duiEditorIconBackColor { background-position: -540px; }
.duiEditorIconForeColor { background-position: -558px; }
.duiEditorIconHiliteColor { background-position: -576px; }
.duiEditorIconNewPage { background-position: -594px; }
.duiEditorIconInsertImage { background-position: -612px; }
.duiEditorIconInsertTable { background-position: -630px; }
.duiEditorIconSpace { background-position: -648px; }
.duiEditorIconInsertHorizontalRule { background-position: -666px; }
.duiEditorIconInsertOrderedList { background-position: -684px; }
.duiEditorIconInsertUnorderedList { background-position: -702px; }
.duiEditorIconCreateLink { background-position: -720px; }
.duiEditorIconUnlink { background-position: -738px; }
.duiEditorIconViewSource { background-position: -756px; }
.duiEditorIconRemoveFormat { background-position: -774px; }
.duiEditorIconFullScreen { background-position: -792px; }
.duiEditorIconWikiword { background-position: -810px; }
/* .duiEditorIconToggleDir { background-position: -540px; ;} - 03172010: This icon was not in dui.editor but is in dojox.editor. */

/* no longer in the editor toolbar:  .duiEditorIconToggleDir { background-position: -540px;  padding: 0; margin: 0; color:#555555;
									font-family:verdana,arial,sans-serif; font-weight: 800; font-size: 70%; */







