/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (duiAccordionInnerContainer)
 * and the title inside of it (duiAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. closed pane (and default styling): 
 * 		.duiAccordionInnerContainer - container for each accordion child
 * 		.duiAccordionTitle - title for each accordion child
 *
 * 2. active closed pane (ie, mouse down on a title bar)
 * 		.duiAccordionInnerContainer:active - for background-color, border
 * 		.duiAccordionInnerContainer:active duiAccordionTitle - for text color
 * 
 * 3. open pane (expanded child)
 *		.duiAccordionChildWrapper - wraps around the child widget (typically ContentPane)
 *			setting a margin so that there's blue trim all the way around the child
 *
 * 		These rules need to override the closed pane active:
 *
 * 		.duiAccordionInnerContainerSelected - for background-color, border
 * 		.duiAccordionInnerContainerSelected .duiAccordionTitle - for text color
 * 
 * 4. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.duiAccordionInnerContainer:hover, .duiAccordionInnerContainerSelected:active - for background-color, border
 * 		.duiAccordionInnerContainer:hover .duiAccordionTitle - for text color
 */
.duiAccordionContainer {
  border: 1px solid #b7b7b7;
  border-top: 0 !important;
}
.duiAccordionTitle {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.duiAccordionTitleSelected {
  cursor: default;
}
/* images off, high-contrast mode styles */
.duiAccordionTitle .arrowTextUp,
.duiAccordionTitle .arrowTextDown {
  display: none;
  font-size: 0.65em;
  font-weight: normal !important;
}
.dj_a11y .duiAccordionTitle .arrowTextUp,
.dj_a11y .duiAccordionTitleSelected .arrowTextDown {
  display: inline;
}
.dj_a11y .duiAccordionTitleSelected .arrowTextUp {
  display: none;
}
.duiAccordionChildWrapper {
  /* this is the node whose height is adjusted */

  overflow: hidden;
}
.duiAccordionContainer-child {
  /* children of AccordionContainer shouldn't have borders
 * b/c a border is already there from the TabContainer/StackContainer/AccordionContainer itself.
 */

  border: none !important;
}
.claro .duiAccordionContainer {
  border: none;
}
.claro .duiAccordionInnerContainer {
  background-color: #efefef;
  /* gray, for closed pane */

  border: solid 1px #b5bcc7;
  margin-bottom: 1px;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}
.claro .duiAccordionTitle {
  background-color: transparent;
  /* pick up color from duiAccordionInnerContainer */

  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 5px 7px 2px 7px;
  min-height: 17px;
  color: #494949;
}
.claro .duiAccordionContainer .duiAccordionChildWrapper {
  /* this extends the blue trim styling of the title bar to wrapping around the node.
	 * done by setting margin
	 */

  background-color: #ffffff;
  border: 1px solid #759dc0;
  margin: 0 2px 2px;
}
.claro .duiAccordionContainer .duiAccordionContainer-child {
  /* this is affecting the child widget itself */

  padding: 9px;
}
/* Hover state for closed pane */
.claro .duiAccordionInnerContainer:hover {
  border: 1px solid #759dc0;
  background-color: #abd6ff;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .duiAccordionInnerContainer:hover .duiAccordionTitle {
  color: #000000;
}
/* Active state for closed pane */
.claro .duiAccordionInnerContainer:active {
  border: 1px solid #759dc0;
  background-color: #7dbdfa;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.claro .duiAccordionInnerContainer:active .duiAccordionTitle {
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  color: #000000;
}
/* Open (a.k.a. selected) pane */
.claro .duiAccordionInnerContainerSelected {
  border-color: #759dc0;
  background-color: #cfe5fa;
}
.claro .duiAccordionInnerContainerSelected .duiAccordionTitle {
  color: #000000;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* avoid effect when clicking the title of the open pane */

}
