/* Accordion
 * 
 * Styling AccordionContainer basically means styling the accordion pane (duiAccordionInnerContainer)
 * and the title inside of it (duiAccordionTitle).   There are 4 basic states to style:
 * 
 * 1. closed pane (and default styling): 
 * 		.duiAccordionInnerContainer - container for each accordion child
 * 		.duiAccordionTitle - title for each accordion child
 *
 * 2. active closed pane (ie, mouse down on a title bar)
 * 		.duiAccordionInnerContainer:active - for background-color, border
 * 		.duiAccordionInnerContainer:active duiAccordionTitle - for text color
 * 
 * 3. open pane (expanded child)
 *		.duiAccordionChildWrapper - wraps around the child widget (typically ContentPane)
 *			setting a margin so that there's blue trim all the way around the child
 *
 * 		These rules need to override the closed pane active:
 *
 * 		.duiAccordionInnerContainerSelected - for background-color, border
 * 		.duiAccordionInnerContainerSelected .duiAccordionTitle - for text color
 * 
 * 4. hovered pane, open or closed
 * 		The selectors below affect hovering over both a closed pane (ie, hovering a title bar),
 * 		and hovering over an open pane.   Also, treat mouse down on an open pane as a hover:
 *
 * 		.duiAccordionInnerContainer:hover, .duiAccordionInnerContainerSelected:active - for background-color, border
 * 		.duiAccordionInnerContainer:hover .duiAccordionTitle - for text color
 */

@import "../variables";

// From dijit.css

.duiAccordionContainer {
	border:1px solid #b7b7b7;
	border-top:0 !important;
}
.duiAccordionTitle {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.duiAccordionTitleSelected {
	cursor: default;
}

/* images off, high-contrast mode styles */
.duiAccordionTitle .arrowTextUp,
.duiAccordionTitle .arrowTextDown {
	display: none;
	font-size: 0.65em;
	font-weight: normal !important;
}

.dj_a11y .duiAccordionTitle .arrowTextUp,
.dj_a11y .duiAccordionTitleSelected .arrowTextDown {
	display: inline;
}

.dj_a11y .duiAccordionTitleSelected .arrowTextUp {
	display: none;
}

.duiAccordionChildWrapper {
	/* this is the node whose height is adjusted */
	overflow: hidden;
}

.duiAccordionContainer-child {
	/* children of AccordionContainer shouldn't have borders
 * b/c a border is already there from the TabContainer/StackContainer/AccordionContainer itself.
 */
	border: none !important;
}

// Claro overrides
.claro .duiAccordionContainer {
	border:none;
}
.claro .duiAccordionInnerContainer {
	background-color: @unselected-background-color;	/* gray, for closed pane */
	border:solid 1px @border-color;
	margin-bottom:1px;
	.transition-property(background-color,border);
 	.transition-duration(.3s);
	.transition-timing-function(linear);
}
.claro .duiAccordionTitle {
	background-color: transparent;	/* pick up color from duiAccordionInnerContainer */
	.standard-gradient("../");
	padding: 5px 7px 2px 7px;
	min-height:17px;
	color:@unselected-text-color;
}

.claro .duiAccordionContainer .duiAccordionChildWrapper {
	/* this extends the blue trim styling of the title bar to wrapping around the node.
	 * done by setting margin
	 */
	background-color:@pane-background-color;
	border:1px solid @selected-border-color;
	margin: 0 2px 2px;
}
	
.claro .duiAccordionContainer .duiAccordionContainer-child {
	/* this is affecting the child widget itself */
	padding: 9px;
}

/* Hover state for closed pane */

.claro .duiAccordionInnerContainer:hover {
	border:1px solid @hovered-border-color;
	background-color:@hovered-background-color;
	.transition-duration(.2s);
}

.claro .duiAccordionInnerContainer:hover .duiAccordionTitle {
	color:@hovered-text-color;
}

/* Active state for closed pane */

.claro .duiAccordionInnerContainer:active {
	border:1px solid @selected-border-color;
	background-color:@pressed-background-color;
	.transition-duration(.1s);
}
.claro .duiAccordionInnerContainer:active .duiAccordionTitle {
	.active-gradient("../");
	color:@selected-text-color;
}

/* Open (a.k.a. selected) pane */

.claro .duiAccordionInnerContainerSelected {
	border-color:@selected-border-color;
	background-color: @selected-background-color;
}
.claro .duiAccordionInnerContainerSelected .duiAccordionTitle {
	color:@selected-text-color;
	.standard-gradient("../");	/* avoid effect when clicking the title of the open pane */
}

