/* ContentPane 
 *	
 * .duiContentPane
 * 	set padding for basic content pane
 * 	
 * Nested layouts:
 * 
 * .duiTabContainerTop-duiContentPane,
 * .duiTabContainerLeft-duiContentPane,
 * .duiTabContainerBottom-duiContentPane,
 * .duiTabContainerRight-duiContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .duiAccordionContainer-duiContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .duiSplitContainer-duiContentPane, 
 *	set background-color and padding of ContentPane nested within a SplitContainer 
 *
 * .duiBorderContainer-duiContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer 
 */
.duiContentPane {
  display: block;
  overflow: auto;
  /* if we don't have this (or overflow:hidden), then Widget.resizeTo() doesn't make sense for ContentPane */

  -webkit-overflow-scrolling: touch;
}
.duiContentPaneSingleChild {
  /*
	 * if the ContentPane holds a single layout widget child which is being sized to match the content pane,
	 * then the ContentPane should never get a scrollbar (but it does due to browser bugs, see #9449
	 */

  overflow: hidden;
}
.duiContentPaneLoading .duiIconLoading,
.duiContentPaneError .duiIconError {
  margin-right: 9px;
}
.claro .duiContentPane {
  padding: 8px;
}
/* nested layouts */
.claro .duiTabContainerTop-duiContentPane,
.claro .duiTabContainerLeft-duiContentPane,
.claro .duiTabContainerBottom-duiContentPane,
.claro .duiTabContainerRight-duiContentPane,
.claro .duiAccordionContainer-duiContentPane {
  background-color: #ffffff;
  padding: 8px;
}
.claro .duiSplitContainer-duiContentPane,
.claro .duiBorderContainer-duiContentPane {
  background-color: #ffffff;
  padding: 8px;
}
