.duiTabControllerRtl .nowrapTabStrip {
  text-align: right;
  /* just in case ancestor has non-standard setting */

}
.duiTabRtl .duiTabCloseButton {
  margin-left: 0;
  margin-right: 1em;
}
.claro .duiTabContainerTop-tabs .duiTabRtl,
.claro .duiTabContainerBottom-tabs .duiTabRtl {
  margin-right: 0;
  margin-left: 1px;
}
