@import "../Toaster_template";
.d-toaster-inner {
	margin: .1em auto;
}
.d-toaster-message {
	background:rgba(11,11,11,.9);
	border-radius:3px;
	color:white;
	margin:.3em;
	padding:.5em;
	text-align:center;
}
.d-toaster-is-visible {
	visibility:visible;
	opacity: 1;
}
.d-toaster-dismiss {
	margin-left:1.7em;
	color:white;
	opacity:.5;
}
