@import "../../../../delite/themes/holodark/includes";

@star-icon-size: 40px;
@star-icon-full: "\2605";
@star-icon-full-color: @holo-color1;
@star-icon-empty: "\2605";
@star-icon-empty-color: @holo-grey3;
@star-icon-readonly-color: gray;
@star-icon-disabled-color: gray;

@import "../StarRating_template";
