@import "variables.less";
@import "../common/Accordion.less";

.duiAccordionPane {
	margin-top: -5px;
	padding-left: 50px;
	background-color: @win-control-bg-color;
	overflow: hidden;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 2px;
		border-left: 2px solid @win-foreground-color;
		left: 40px;
		z-index: -1;
	}
}

.duiAccordionTitleLabel:active {
	color: @win-accent-color;
}

.duiAccordionIconParent {
	margin-left: 0px;
}

.duiAccordionRoundRect {
	border: none;
}
