.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dojox.mobile.Accordion */
.duiAccordionTitleSelected {
  background-color: #e2e2e2;
}
.dj_ff3 .duiAccordionRoundRect {
  -moz-border-radius: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitle:first-child {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitleLast,
.dj_ff3 .duiAccordionRoundRect .duiAccordionPane:last-child {
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}
