.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dojox.mobile.Accordion */
.duiAccordion {
  border-style: outset;
  border-width: 1px;
  border: none;
}
.duiAccordionRoundRect {
  margin: 7px 9px 16px 9px;
  padding: 0;
  border: 1px solid #cccccc;
  border-radius: 8px;
}
.duiAccordionRoundRect .duiAccordionTitle:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.duiAccordionRoundRect .duiAccordionTitleLast,
.duiAccordionRoundRect .duiAccordionPane:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.duiAccordionTitle {
  position: relative;
  height: 30px;
  width: 100%;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  background-image: none;
  font-weight: normal;
  color: #ffffff;
  font-size: 15pt;
  margin-top: 8px;
  margin-bottom: 8px;
}
.duiAccordionTitle:first-child {
  border-top: none;
}
.duiAccordionTitleAnchor {
  display: block;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  cursor: pointer;
}
.duiAccordionIconParent {
  float: left;
  margin: 6px 4px 0 6px;
  line-height: normal;
}
.duiAccordionIconParent1 {
  display: block;
}
.duiAccordionIconParent2 {
  display: none;
}
.duiAccordionTitleSelected {
  border: none;
}
.duiAccordionTitleSelected .duiAccordionIconParent1 {
  display: none;
}
.duiAccordionTitleSelected .duiAccordionIconParent2 {
  display: block;
}
.duiAccordionPane {
  margin-top: -5px;
  padding-left: 50px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
.duiAccordionPane:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  border-left: 2px solid #ffffff;
  left: 40px;
  z-index: -1;
}
.duiAccordionTitleLabel:active {
  color: Highlight;
}
.duiAccordionIconParent {
  margin-left: 0px;
}
.duiAccordionRoundRect {
  border: none;
}
