.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.Button */
.duiButton {
  background-image: url(compat/button-bg.png);
  background-repeat: repeat-x;
}
.duiButtonSelected {
  background-image: url(compat/button-sel-bg.png);
}
.duiBlueButton {
  background-image: url(compat/blue-button-bg.png);
}
.duiBlueButtonSelected {
  background-image: url(compat/blue-button-sel-bg.png);
}
.duiRedButton {
  background-image: url(compat/red-button-bg.png);
}
.duiRedButtonSelected {
  background-image: url(compat/red-button-sel-bg.png);
}
.dj_gecko .duiButton {
  background-image: none;
}
.dj_gecko .duiButtonSelected {
  background-image: '';
}
.dj_gecko .duiBlueButton {
  background-image: -moz-linear-gradient(top, #7a9de9 0%, #2362dd 100%);
}
.dj_gecko .duiBlueButtonSelected {
  background-image: '';
}
.dj_gecko .duiRedButton {
  background-image: none;
}
.dj_gecko .duiRedButtonSelected {
  background-image: '';
}
.dj_ff3 .duiButton {
  -moz-border-radius: 0;
}
