.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.CheckBox */
.duiCheckBox {
  background-image: url(compat/button-bg.png);
}
.duiCheckBoxSelected {
  background-image: url(compat/button-sel-bg.png);
}
.duiCheckBoxChecked,
.duiCheckBox:checked {
  background-image: url(compat/button-chk-bg.png);
}
.duiCheckBoxChecked.duiCheckBoxSelected,
.duiCheckBox:checked.duiCheckBoxSelected {
  background-image: url(compat/button-unsel-bg.png);
}
.dj_gecko .duiCheckBox {
  background-image: none;
  -moz-appearance: none;
}
.dj_gecko .duiCheckBoxSelected {
  background-image: '';
}
.dj_gecko .duiCheckBoxChecked,
.dj_gecko .duiCheckBox:checked {
  background-image: none;
}
.dj_gecko .duiCheckBoxChecked::after,
.dj_gecko .duiCheckBox:checked::after {
  -moz-transform: rotate(45deg);
  -moz-transform-origin: 50% 50%;
}
.dj_gecko .duiCheckBoxChecked.duiCheckBoxSelected,
.dj_gecko .duiCheckBox:checked.duiCheckBoxSelected {
  background-image: '';
}
.dj_ff3 .duiCheckBox {
  -moz-border-radius: 0;
}
