@import "variables.less";
@import "../common/ComboBox.less";

.duiComboBoxMenuPopup {
	background-color: @win-dialog-color;
	color: @win-foreground-color;
	width: 100%;
	height: calc(~'100% - @{dui-combo-box-padding-top}') !important;
	padding: @dui-combo-box-padding-top 0 0 0;
	left: 0px !important;
	-ms-touch-action: none;

  &:before {
		content: 'CHOOSE AN ITEM';
		position: absolute;
		top: @dui-combo-box-title-top;
		left: @default-padding-left;
		font-weight: 600;
	}
}

.duiComboBoxMenu > div {
	width: 100%;
}

.duiComboBoxMenuItem:active {
	color: @win-accent-color;
}
