@import "variables.less";
@import "../common/Heading.less";

h1, h2, h3, h4, h5, h6 {
	line-height: normal;
	font-weight: 400;
	margin: 0;
}

h1.duiHeading {
	font-size: @win-font-size-huge;
}

h2.duiHeading {
	font-size: @win-font-size-extra-large;
}

h3.duiHeading {
	font-size: @win-font-size-large;
}

h4.duiHeading {
	font-size: @win-font-size-medium-large;
}

h5.duiHeading {
	font-size: @win-font-size-medium;
}

h6.duiHeading {
	font-size: @win-font-size-normal;
}

.duiHeading {
	& .duiToolBarButton ~ .duiHeadingDivTitle {
		text-align: center;
	}

	& .duiToolBarButton.duiToolBarButtonHasRightArrow {
		float: right;
	}
}
