.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.IconMenu */
.duiIconMenu {
  background-color: #a0a0a0;
}
.duiIconMenuItemSel {
  background-color: Highlight;
}
.dj_gecko .duiIconMenu {
  background-color: rgba(160, 160, 160, 0.85);
}
.dj_gecko .duiIconMenuItem {
  -moz-box-sizing: border-box;
}
.dj_ff3 .duiIconMenu {
  -moz-border-radius: 3px;
}
.dj_ff3 .duiIconMenuItemIcon img {
  border: 1px solid red;
}
.dj_ff3 .duiIconMenuItemFirstRow.duiIconMenuItemFirstColumn {
  -moz-border-top-left-radius: 3px;
}
.dj_ff3 .duiIconMenuItemFirstRow.duiIconMenuItemLastColumn {
  -moz-border-top-right-radius: 3px;
}
.dj_ff3 .duiIconMenuItemLastRow.duiIconMenuItemFirstColumn {
  -moz-border-bottom-left-radius: 3px;
}
.dj_ff3 .duiIconMenuItemLastRow.duiIconMenuItemLastColumn {
  -moz-border-bottom-right-radius: 3px;
}
