.duiIconMenuItemRtl {
  float: right;
}
.duiIconMenuItemRtl.duiIconMenuItemFirstColumn {
  border-right: none;
  border-left: 1px solid rgba(192, 192, 192, 0.85);
}
.duiIconMenuItemRtl.duiIconMenuItemFirstRow.duiIconMenuItemFirstColumn {
  border-top-right-radius: 3px;
  border-top-left-radius: 0px;
}
.duiIconMenuItemRtl.duiIconMenuItemFirstRow.duiIconMenuItemLastColumn {
  border-top-right-radius: 0px;
  border-top-left-radius: 3px;
}
.duiIconMenuItemRtl.duiIconMenuItemLastRow.duiIconMenuItemFirstColumn {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0px;
}
.duiIconMenuItemRtl.duiIconMenuItemLastRow.duiIconMenuItemLastColumn {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3px;
}
