@import url("../common/domButtons/DomButtonGrayArrow.css");
@import url("../common/domButtons/DomButtonDarkBlueCheck.css");

@import "variables.less";
@import "../common/ListItem.less";

.duiListItem {
	.default-vertical-margin;

	& .duiListItemLabel {
		&:active {
			color: @win-accent-color;
		}

		&:first-child {
			margin-left: @dui-list-item-height + 10px;
			overflow: visible;

			&:before {
				content: '';
				width: @dui-list-item-height;
				height: @dui-list-item-height;
				background-color: @win-app-bar-color;
				position: absolute;
				margin-left: -@dui-list-item-height - 10px;
		  }
		}
	}

	& .duiListItemIcon {
		height: @dui-list-item-height;
		width: @dui-list-item-height;
		margin: 0 10px 0 0;
	}

	& .duiListItemEmptyIcon {
		padding-top: @dui-list-item-height;
		background-color: @win-app-bar-color;
	}
}
