@import url("../common/domButtons/DomButtonGrayArrow.css");

@import url("../common/domButtons/DomButtonDarkBlueCheck.css");
.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.ListItem */
.duiListItem {
  position: relative;
  overflow: hidden;
  /* for focus frame */

  padding: 0 8px;
  height: 43px;
  list-style-type: none;
  line-height: 43px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 15pt;
  padding: 0;
}
.duiListItem.duiVariableHeight {
  padding: 11px 8px;
  height: auto;
  line-height: normal;
}
.duiListItemSelected {
  color: Highlight;
}
.duiListItemSelected .duiDomButton div {
  border-color: white;
}
.duiListItemLabelSelected {
  background-color: #048bf4;
}
.duiListItemChecked {
  color: #314e84;
}
.duiListItemChecked .duiListItemRightIcon {
  visibility: visible;
}
.duiListItemChecked .duiListItemUncheckIcon {
  position: absolute;
  visibility: hidden;
}
.duiListItemUnchecked .duiListItemRightIcon {
  visibility: hidden;
}
.duiListItemUnchecked .duiListItemUncheckIcon {
  visibility: visible;
}
.duiListItemDeleteIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.duiListItemIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.duiListItemRightIcon,
.duiListItemRightIcon2,
.duiListItemUncheckIcon {
  position: relative;
  float: right;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
}
.duiListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  margin-right: 4px;
  color: black;
  margin-top: 12px;
}
.duiListItemLabel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.duiVariableHeight .duiListItemLabel {
  white-space: normal;
}
.duiListItemSubText {
  font-size: 14px;
  color: gray;
}
.duiListItemLayoutLeft {
  position: relative;
  float: left;
  margin-right: 11px;
}
.duiListItemLayoutCenter {
  position: absolute;
  width: 100%;
  text-align: center;
}
.duiListItemLayoutRight {
  position: relative;
  float: right;
}
/* dui.mobile._EditableListMixin */
.duiListItemFloat {
  position: absolute;
  border: 1px solid gray;
  opacity: 0.5;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.duiListItem {
  margin-top: 8px;
  margin-bottom: 8px;
}
.duiListItem .duiListItemLabel:active {
  color: Highlight;
}
.duiListItem .duiListItemLabel:first-child {
  margin-left: 53px;
  overflow: visible;
}
.duiListItem .duiListItemLabel:first-child:before {
  content: '';
  width: 43px;
  height: 43px;
  background-color: #1f1f1f;
  position: absolute;
  margin-left: -53px;
}
.duiListItem .duiListItemIcon {
  height: 43px;
  width: 43px;
  margin: 0 10px 0 0;
}
.duiListItem .duiListItemEmptyIcon {
  padding-top: 43px;
  background-color: #1f1f1f;
}
