.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.Overlay */
.duiOverlay {
  text-align: center;
}
.dj_gecko .duiOverlay {
  text-align: -moz-center;
}
.dj_ie9 .duiOverlay > *,
.dj_ie8 .duiOverlay > * {
  margin: 0 auto;
}
.dj_ie6 .duiOverlay {
  *position: absolute;
}
