.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.ProgressBar */
.duiProgressBar {
  position: relative;
  height: 3px;
  background-color: transparent;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
}
.duiProgressBarProgress {
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  height: 3px;
  border: none;
  background-color: Highlight;
}
.duiProgressBarNotStarted {
  border-left: none;
  border-right: none;
}
.duiProgressBarMsg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  top: 3px;
}
.duiProgressBar:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: Highlight;
  opacity: 0.2;
}
.duiProgressBar[disabled]:before {
  background-color: #808080;
}
.duiProgressBar[disabled] .duiProgressBarProgress {
  background-color: #808080;
}
.duiProgressBar[disabled] .duiProgressBarMsg {
  color: #808080;
}
