@import "variables.less";
@import "../common/ProgressBar.less";

.duiProgressBar {
	&:before {
		content: '';
		position: absolute;
		height: @dui-progressBar-height;
		width: 100%;
		background-color: @win-accent-color;
		opacity: 0.2;
	}
}

.duiProgressBar[disabled] {
	&:before{
		background-color: @win-disabled-color;
	}

	.duiProgressBarProgress {
		background-color: @win-disabled-color;
	}

	.duiProgressBarMsg {
		color: @win-disabled-color;
	}
}
