.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* Progress Indicator */
.dj_ie .duiProg {
  width: 4px;
  height: 36px;
}
.dj_ie .duiProg0 {
  left: 0px;
}
.dj_ie .duiProg1 {
  left: 8px;
}
.dj_ie .duiProg2 {
  left: 16px;
}
.dj_ie .duiProg3 {
  left: 24px;
}
.dj_ie .duiProg4 {
  left: 32px;
}
.dj_ie .duiProg5 {
  left: 40px;
}
.dj_ie .duiProg6 {
  left: 48px;
}
.dj_ie .duiProg7 {
  left: 56px;
}
.dj_ie .duiProg8 {
  left: 64px;
}
.dj_ie .duiProg9 {
  left: 72px;
}
.dj_ie .duiProg10 {
  left: 80px;
}
.dj_ie .duiProg11 {
  left: 80px;
}
.dj_gecko .duiProgressIndicatorCenter .duiProgContainer {
  -moz-transform-origin: 50% 0;
}
.dj_gecko .duiProg {
  -moz-transform-origin: 0 2px;
}
.dj_gecko .duiProg0 {
  -moz-transform: translate(18px, 10px) rotate(-90.1deg);
}
.dj_gecko .duiProg1 {
  -moz-transform: translate(22px, 11px) rotate(-60deg);
}
.dj_gecko .duiProg2 {
  -moz-transform: translate(25px, 14px) rotate(-30deg);
}
.dj_gecko .duiProg3 {
  -moz-transform: translate(26px, 18px) rotate(0deg);
}
.dj_gecko .duiProg4 {
  -moz-transform: translate(25px, 22px) rotate(30deg);
}
.dj_gecko .duiProg5 {
  -moz-transform: translate(22px, 25px) rotate(60deg);
}
.dj_gecko .duiProg6 {
  -moz-transform: translate(18px, 26px) rotate(90.1deg);
}
.dj_gecko .duiProg7 {
  -moz-transform: translate(14px, 25px) rotate(120deg);
}
.dj_gecko .duiProg8 {
  -moz-transform: translate(11px, 22px) rotate(150deg);
}
.dj_gecko .duiProg9 {
  -moz-transform: translate(10px, 18px) rotate(180deg);
}
.dj_gecko .duiProg10 {
  -moz-transform: translate(11px, 14px) rotate(210deg);
}
.dj_gecko .duiProg11 {
  -moz-transform: translate(14px, 11px) rotate(240deg);
}
