.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.RadioButton */
.duiRadioButton {
  background-image: url(compat/button-bg.png);
}
.duiRadioButtonChecked,
.duiRadioButton:checked {
  background-image: url(compat/button-chk-bg.png);
}
.duiRadioButtonChecked.duiRadioButtonSelected,
.duiRadioButton:checked.duiRadioButtonSelected {
  background-image: url(compat/blue-button-sel-bg.png);
}
.dj_gecko .duiRadioButton {
  background-image: none;
  -moz-appearance: none;
}
.dj_gecko .duiRadioButtonChecked,
.dj_gecko .duiRadioButton:checked {
  background-image: none;
}
.dj_gecko .duiRadioButtonChecked::after,
.dj_gecko .duiRadioButton:checked::after {
  -moz-transform: rotate(45deg);
  -moz-transform-origin: 50% 50%;
}
.dj_gecko .duiRadioButtonChecked.duiRadioButtonSelected,
.dj_gecko .duiRadioButton:checked.duiRadioButtonSelected {
  background-image: '';
}
.dj_ff3 .duiRadioButton {
  -moz-border-radius: 0.5em;
}
