@import "variables.less";
@import "../common/RoundRectList.less";

.duiRoundRectList {
	padding: 0;
	border: none;
	background-color: transparent;
	margin: 0px;

	& .duiListItem {
		border-radius: 0px !important;
	}
}
