@import "variables.less";
@import "../common/ScrollablePane.less";

.duiScrollableView:not(.duiView) {
	padding: 0px;
}

.duiView.duiScrollableView .duiScrollableViewContainer {
	min-width: calc(~'100% - @{default-padding-left} - @{default-padding-right}') !important;
	width: auto !important;
}