@import "variables.less";
@import "../common/Slider.less";

.duiSlider {
	> div:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: @win-app-bar-color;
	}

	.duiSliderProgressBar {
		background-color: @win-accent-color;
	}

	& .duiSliderTouchBox {
		left: 0px;
		top: -4px;
		padding: 4px 0px;
	}
}

.duiSlider[disabled] {
	> div:before {
		opacity: 0.5;
	}

	.duiSliderProgressBar {
		background-color: @win-disabled-color;
	}
}

.duiSliderV {
	> div {
		min-height: 100px;
	};
	.duiSlider-size(@dui-slider-height, 100%);

	& .duiSliderHandle {
		.duiSliderHandle-markup("V");
	}
}

.duiSliderH {
	min-width: 100px;
	.duiSlider-size(100%, @dui-slider-height);

	& .duiSliderHandle {
		.duiSliderHandle-markup("H");
	}
}
