.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dojox.mobile.Slider */
.duiSlider {
  background-image: url(compat/slider-h-bg.png);
  background-repeat: repeat-x;
}
.duiSliderProgressBar {
  background-image: url(compat/slider-h-bar-bg.png);
  background-repeat: repeat-x;
}
.duiSliderHandle {
  background-image: url(compat/slider-handle-bg.png);
}
.duiSliderV {
  background-color: #e2e2e2;
  background-image: none;
}
.duiSliderV .duiSliderProgressBar {
  background-color: Highlight;
  background-image: none;
}
.dj_gecko .duiSlider {
  background-image: none;
  -moz-user-select: none;
  -moz-box-sizing: content-box;
}
.dj_gecko .duiSliderProgressBar {
  background-image: none;
}
.dj_gecko .duiSliderHandle {
  background-image: none;
}
.dj_ff3 .duiSlider {
  -moz-border-radius: 0;
}
.dj_ff3 .duiSliderProgressBar {
  -moz-border-radius: 0;
}
.dj_ff3 .duiSliderHandle {
  -moz-border-radius: 0;
}
