.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dojox.mobile.Slider */
.duiSlider {
  margin: 15px;
  border-style: inset;
  border-width: 1px;
  border-radius: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
}
.duiSliderH {
  width: 200px;
  height: 8px;
}
.duiSliderH .duiSliderProgressBar {
  height: 100%;
}
.duiSliderH .duiSliderHandle {
  top: 50%;
}
.duiSliderV {
  height: 200px;
  width: 8px;
}
.duiSliderV .duiSliderProgressBar {
  width: 100%;
}
.duiSliderV .duiSliderHandle {
  left: 50%;
}
.duiSliderProgressBar {
  border-radius: 0;
}
.duiSliderHandle {
  margin: -10px 0 0 -10px;
  width: 18px;
  height: 18px;
  border-style: outset;
  border-width: 1px;
  border-radius: 0;
  border: none;
  background-color: #ffffff;
}
.duiSliderTransition {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.duiSliderTouchBox {
  margin: 0;
  padding: 12pt;
  left: -12pt;
  top: -12pt;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.duiSlider > div:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
}
.duiSlider .duiSliderProgressBar {
  background-color: Highlight;
}
.duiSlider .duiSliderTouchBox {
  left: 0px;
  top: -4px;
  padding: 4px 0px;
}
.duiSlider[disabled] > div:before {
  opacity: 0.5;
}
.duiSlider[disabled] .duiSliderProgressBar {
  background-color: #808080;
}
.duiSliderV {
  width: 0.5em !important;
  height: 100% !important;
}
.duiSliderV > div {
  min-height: 100px;
}
.duiSliderV .duiSliderHandle {
  height: 0.5em;
  width: 1.1em;
  margin-top: -4px;
  margin-left: -8px;
}
.duiSliderH {
  min-width: 100px;
  width: 100% !important;
  height: 0.5em !important;
}
.duiSliderH .duiSliderHandle {
  height: 1.1em;
  width: 0.5em;
  margin-top: -8px;
  margin-left: -4px;
}
