.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dojox.mobile.Switch */
/* Switch - common */
.duiSwitch {
  margin: 0;
  position: relative;
  display: inline-block;
  height: 27px;
  line-height: 29px;
  overflow: hidden;
  text-align: left;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.duiListItem .duiSwitch {
  position: absolute;
  right: 12px;
  top: 8px;
}
.duiSwitchInner {
  position: absolute;
  top: 0;
  height: 27px;
}
.duiSwitchAnimation .duiSwitchInner {
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.duiSwitchOn .duiSwitchInner {
  left: 0;
}
.duiSwitchBg {
  position: absolute;
  top: 0;
  width: 94px;
  height: 27px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}
.duiSwitchBgLeft {
  left: 0;
  color: white;
  background-color: #3f84eb;
}
.duiSwitchBgRight {
  color: #7f7f7f;
}
.duiSwitchKnob {
  position: absolute;
  top: 0;
  height: 27px;
  font-size: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #000000;
  background-color: #ffffff;
  width: 18px !important;
  z-index: 3;
  border-radius: 0 !important;
}
.duiSwitchText {
  position: relative;
  top: 0;
  width: 53px;
  height: 27px;
  padding: 0;
  line-height: 28px;
  text-align: center;
}
.duiSwitchTextLeft {
  left: 0;
}
.duiSwitchTextRight {
  left: 40px;
}
/* Square Shape */
.duiSwSquareShape {
  width: 94px;
}
.duiSwSquareShape.duiSwitchOff .duiSwitchInner {
  left: -53px;
}
.duiSwSquareShape .duiSwitchBg {
  border-radius: 2px;
}
.duiSwSquareShape .duiSwitchBgRight {
  left: 53px;
}
.duiSwSquareShape .duiSwitchKnob {
  left: 53px;
  width: 41px;
  border-radius: 2px;
}
.duiSwSquareShape .duiSwitchText {
  width: 53px;
}
.duiSwSquareShape .duiSwitchTextRight {
  left: 40px;
}
/* Round Shape1 */
.duiSwRoundShape1 {
  width: 77px;
}
.duiSwRoundShape1.duiSwitchOff .duiSwitchInner {
  left: -50px;
}
.duiSwRoundShape1 .duiSwitchBg {
  width: 77px;
  border-radius: 14px;
}
.duiSwRoundShape1 .duiSwitchBgRight {
  left: 50px;
}
.duiSwRoundShape1 .duiSwitchKnob {
  left: 50px;
  width: 27px;
  border-radius: 13px;
}
.duiSwRoundShape1 .duiSwitchText {
  width: 50px;
}
.duiSwRoundShape1 .duiSwitchTextRight {
  left: 26px;
}
/* Round Shape2 */
.duiSwRoundShape2 {
  width: 94px;
}
.duiSwRoundShape2.duiSwitchOff .duiSwitchInner {
  left: -51px;
}
.duiSwRoundShape2 .duiSwitchBg {
  border-radius: 14px;
}
.duiSwRoundShape2 .duiSwitchBgRight {
  left: 51px;
}
.duiSwRoundShape2 .duiSwitchKnob {
  left: 51px;
  width: 43px;
  border-radius: 13px;
}
.duiSwRoundShape2 .duiSwitchText {
  width: 51px;
}
.duiSwRoundShape2 .duiSwitchTextRight {
  left: 42px;
}
/* Arc Shape1 */
.duiSwArcShape1 {
  width: 77px;
}
.duiSwArcShape1.duiSwitchOff .duiSwitchInner {
  left: -50px;
}
.duiSwArcShape1 .duiSwitchBg {
  width: 77px;
  border-radius: 5px/14px;
}
.duiSwArcShape1 .duiSwitchBgRight {
  left: 50px;
}
.duiSwArcShape1 .duiSwitchKnob {
  left: 50px;
  width: 27px;
  border-radius: 5px/13px;
}
.duiSwArcShape1 .duiSwitchText {
  width: 50px;
}
.duiSwArcShape1 .duiSwitchTextRight {
  left: 26px;
}
/* Arc Shape2 */
.duiSwArcShape2 {
  width: 94px;
}
.duiSwArcShape2.duiSwitchOff .duiSwitchInner {
  left: -51px;
}
.duiSwArcShape2 .duiSwitchBg {
  border-radius: 5px/14px;
}
.duiSwArcShape2 .duiSwitchBgRight {
  left: 51px;
}
.duiSwArcShape2 .duiSwitchKnob {
  left: 51px;
  width: 43px;
  border-radius: 5px/13px;
}
.duiSwArcShape2 .duiSwitchText {
  width: 51px;
}
.duiSwArcShape2 .duiSwitchTextRight {
  left: 42px;
}
/* Default Shape */
.duiSwDefaultShape {
  width: 94px;
}
.duiSwDefaultShape.duiSwitchOff .duiSwitchInner {
  left: -53px;
}
.duiSwDefaultShape .duiSwitchBg {
  border-radius: 2px;
}
.duiSwDefaultShape .duiSwitchBgRight {
  left: 53px;
}
.duiSwDefaultShape .duiSwitchKnob {
  left: 53px;
  width: 41px;
  border-radius: 2px;
}
.duiSwDefaultShape .duiSwitchText {
  width: 53px;
}
.duiSwDefaultShape .duiSwitchTextRight {
  left: 40px;
}
.duiSwitchBgLeft {
  background-color: Highlight;
  height: 14px;
  margin: auto 4px;
  top: 50%;
  bottom: 50%;
  border-radius: 0 !important;
  width: 45px !important;
  z-index: 1;
}
.duiSwitch {
  width: 65px;
  float: right;
  display: block;
  clear: right;
}
.duiSwitch:before {
  content: '';
  width: 85%;
  height: 65%;
  position: absolute;
  border: 2px solid #ffffff;
  margin: auto 0;
  top: 50%;
  bottom: 50%;
  z-index: 2;
}
.duiSwitch.duiSwitchOn .duiSwitchKnob {
  left: 45px !important;
}
.duiSwitch .duiSwitchInner {
  width: 100%;
}
.duiSwitch[disabled] .duiSwitchKnob,
.duiSwitch[disabled] .duiSwitchBgLeft {
  background-color: #808080;
}
.duiSwitch[disabled]:before {
  border-color: #808080;
}
.duiSwitchText {
  display: none !important;
}
.duiSwitchLabel {
  color: #ffffff;
  position: relative;
  float: left;
  clear: both;
  margin: 3px 0;
}
.duiSwitchContainer {
  width: 100%;
  min-height: 27px;
  margin-top: 8px;
  margin-bottom: 8px;
}
