.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dui.mobile.ToggleButton */
.duiToggleButton {
  background-image: url(compat/button-bg.png);
}
.duiToggleButtonSelected {
  background-image: url(compat/button-sel-bg.png);
}
.duiToggleButtonChecked {
  background-image: url(compat/button-chk-bg.png);
}
.duiToggleButtonChecked.duiToggleButtonSelected {
  background-image: url(compat/button-unsel-bg.png);
}
.dj_gecko .duiToggleButton {
  background-image: none;
}
.dj_gecko .duiToggleButtonSelected {
  background-image: '';
}
.dj_gecko .duiToggleButtonChecked {
  background-image: none;
}
.dj_gecko .duiToggleButtonChecked:after {
  -moz-transform: rotate(45deg) skew(10deg);
  -moz-transform-origin: 50% 50%;
}
.dj_gecko .duiToggleButtonChecked.duiToggleButtonSelected {
  background-image: '';
}
.dj_ff3 .duiToggleButton {
  -moz-border-radius: 0;
}
.dj_ff3 .duiToggleButton.duiToggleButtonChecked::after {
  -moz-transform: translate(-25px, -6px) rotate(45deg) skew(10deg);
}
.dj_ie .duiToggleButtonChecked:after {
  top: 9px;
  left: 5px;
  width: 12px;
  border: none;
  background-image: url(compat/togglebutton-chk-mark-bg.png);
}
