@import "variables.less";
@import "../common/Tooltip.less";

.duiOpener {
	background-color: @win-dialog-color;
	width: calc(~"100% - @{default-padding-right} - @{default-padding-left}");
	height: calc(~'100% - 50px');
	border: none;
	top: 0px !important;
	left: 0 !important;
	margin: 0 !important;
	position: fixed;
	padding: 50px @default-padding-right 0 @default-padding-left;
	opacity: 1;
	-ms-touch-action: none;

	& .duiTooltipAnchor,
	& .duiOpenerUnderlay {
		display: none;
	}

	& .duiHeading {
		min-height: 50px;
		position: absolute;
		bottom: 0px;
		text-transform: uppercase;
		font-size: @win-font-size-normal;
		width: calc(~"100% - @{default-padding-right} - @{default-padding-left}");
		z-index:3;

		& .duiHeadingDivTitle {
			text-align: left;
			position: fixed;
			top: 0px;
			width: auto;
			padding-left: @default-padding-left;
		}

		& ~ .duiScrollableView {
			height: calc(~"100% - 60px") !important;
		}

		& .duiButton,
		& .duiToolBarButton {
			bottom: 10px;
			border: 2px solid @win-foreground-color;
			position: absolute;
			width: 100%;
			max-width: 45%;
			padding: 0px;
			&:nth-of-type(odd) {
				left: 0px;
			}

			&:nth-of-type(even) {
				left: auto !important;
				right: 0px;
			}
		}

	}

}

.duiOpener .dijitColorPalette {
	width: calc(~"100% - @{default-padding-right} - @{default-padding-left}");
	height: calc(~'100% - 50px');

	table {
		width: 100%;
		height: 100%;
		padding: 0px !important;
	}

	tbody {
		width: 100%;

		height: 100%;
		position: absolute;
	}

	tr {
		display: -ms-flexbox;
		-ms-flex: 1;
		-ms-flex-align: center;
	}

	td {
		-ms-flex:1;
		display: inline-block;
	}

	.dijitPaletteImg {
		border: none !important;
		padding: 2px !important;
	}

	.dijitColorPaletteSwatch {
		border-radius: 0px!important;
		border: 2px solid transparent;
	}

	.dijitPaletteCellSelected {
		.dijitPaletteImg {
			margin: 2px 0px !important;
		}
		.dijitColorPaletteSwatch {
			border: 2px solid @win-accent-color !important;
		}
	}
}

@media screen and (orientation: landscape) {
  .dijitColorPalette tbody {
	  display: -ms-flexbox;
	  -ms-flex-direction: column;
  }

}

.duiTooltip:not(.duiOpener) {
	&.duiTooltipAbove {
		& .duiSpinWheel {
			bottom: auto;
		}
	}

	&.duiTooltipBelow {
		& .duiSpinWheel {
			top: auto;
		}
	}

	&.duiTooltipBefore {
		& .duiSpinWheel {
			left: 0px;
		}
	}

	&.duiTooltipAfter {
		& .duiSpinWheel {
			left: auto;
			right: 0px;
		}
	}
}
