@import "variables.less";
@import "../common/ToolBarButton.less";

.duiToolBarButton{
	border: @default-border-width solid @win-foreground-color;
}

.duiToolBarButtonHasLeftArrow,
.duiToolBarButtonHasRightArrow {
  .duiToolBarButtonHasArrow-styles;
	  & * {
		  display: none;
	  }

	  &:active {
		  background-color: @win-accent-color;
	  }
}

.duiToolBarButtonHasRightArrow {
	transform:rotate(180deg);
}
