@import url("../common/domButtons/DomButtonGrayPlus.css");
@import url("../common/domButtons/DomButtonGrayMinus.css");

@import "variables.less";
@import "../common/ValuePicker.less";

.duiValuePicker {
	.default-vertical-margin;
}

.duiValuePickerSlot {
	border: 2px solid @win-foreground-color;

	&:first-child {
		margin-left: 0px !important;
	}
}

.duiValuePickerSlotInputArea {
	border-top: 2px solid @win-foreground-color;
	border-bottom: 2px solid @win-foreground-color;
}

.duiValuePickerSlotInput {
	color: @win-foreground-color;
}

.duiValuePickerSlotButton {
	color: @win-foreground-color;
	border-radius: 0px;

	& .duiValuePickerSlotIcon {
		width: 100%;
		height: 100%;
		top: 0px;
		display: -ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;

		&:active {
			background-color: @win-accent-color;
		}
	}

	& > div > div {
		position: relative;
		background-color: @win-foreground-color;
		left: 0px;
		top: 0px;

		& > div {
			background-color: @win-foreground-color;
		}
	}
}
