.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* dojox.mobile.ValuePicker */
.duiValuePickerSlotButton {
  background-image: url(compat/valuepicker-button-bg.png);
}
.duiValuePickerSlotButtonSelected {
  background-color: Highlight;
}
.duiValuePickerSlotInputArea {
  background-color: #f7f7f7;
}
.dj_gecko .duiValuePickerSlotButton {
  background-image: none;
}
.dj_gecko .duiValuePickerSlotButtonSelected {
  background-image: none;
}
.dj_gecko .duiValuePickerSlotInputArea {
  background-image: none;
}
