/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.duiCheckBox|.duiCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.duiToggleButton|.duiToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.duiCheckBoxChecked - for checked background-color|image
 * 		.duiToggleButtonChecked - for border, background-color|image, display and width|height
 *
 * 4. :hover state
 * 		.duiCheckBox:hover|.duiCheckBoxChecked:hover - for background image
 *
 * 5. Disabled state
 * 		.duiCheckBoxDisabled|.duiCheckBoxCheckedDisabled - for background image
 */

@import "../variables";

// From dijit.css

.duiCheckBox,
.duiRadio,
.duiCheckBoxInput {
	padding: 0;
	border: 0;
	width: 16px;
	height: 16px;
	background-position:center center;
	background-repeat:no-repeat;
	overflow: hidden;
}

.duiCheckBox input,
.duiRadio input {
	margin: 0;
	padding: 0;
	display: block;
}

.duiCheckBoxInput {
	/* place the actual input on top, but all-but-invisible */
	opacity: 0.01;
}

.dj_ie .duiCheckBoxInput {
	filter: alpha(opacity=0);
}

.dj_a11y .duiCheckBox,
.dj_a11y .duiRadio {
	/* in a11y mode we display the native checkbox (not the icon), so don't restrict the size */
	width: auto !important;
	height: auto !important;
}
.dj_a11y .duiCheckBoxInput {
	opacity: 1;
	filter: none;
	width: auto;
	height: auto;
}

.dj_a11y .duiFocusedLabel {
	/* for checkboxes or radio buttons in high contrast mode, use border rather than outline to indicate focus (outline does not work in FF)*/
	border: 1px dotted;
	outline: 0px !important;
}


// Claro overrides
.claro .duiToggleButton .duiCheckBoxIcon {
	background-image: url("../@{image-checkmark}");
}

.claro .duiCheckBox,
.claro .duiCheckBoxIcon		/* inside a toggle button */	{
	background-image: url("../@{image-form-checkbox-and-radios}"); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 15px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}

.claro .duiCheckBox,
.claro .duiToggleButton .duiCheckBoxIcon {
	/* unchecked */
	background-position: -15px;
}

.claro .duiCheckBoxChecked,
.claro .duiToggleButtonChecked .duiCheckBoxIcon {
	/* checked */
	background-position: -0;
}

.claro .duiCheckBoxDisabled {
	/* disabled */
	background-position: -75px;
}

.claro .duiCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -60px;
}

.claro .duiCheckBox:hover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -45px;
}

.claro .duiCheckBoxChecked:hover {
	/* hovering over an checked enabled checkbox */
	background-position: -30px;
}


