/* claro/form/Common_rtl.css */
.dijitRtl .dijitPlaceHolder {
  left: auto;
  right: 0;
}
.dj_ie .dijitTextBoxRtl .dijitInputContainer {
  clear: right;
}
.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitComboBoxRtl .dijitArrowButtonContainer {
  /* combobox and spinner: line between the input area and the drop down button */

  border-right-width: 1px !important;
  border-left-width: 0 !important;
}
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitValidationTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitArrowButtonContainer {
  float: left;
}
div.dijitNumberTextBoxRtl {
  text-align: right;
}
.claro .dijitTextBoxRtlError .dijitValidationContainer {
  border-left-width: 0;
  border-right-width: 1px;
}
