/* claro/form/Common_rtl.css */
.duiRtl .duiPlaceHolder {
  left: auto;
  right: 0;
}
.dj_ie .duiTextBoxRtl .duiInputContainer {
  clear: right;
}
.duiTextBoxRtl .duiValidationContainer,
.duiTextBoxRtl .duiSpinnerButtonContainer,
.duiComboBoxRtl .duiArrowButtonContainer {
  /* combobox and spinner: line between the input area and the drop down button */

  border-right-width: 1px !important;
  border-left-width: 0 !important;
}
.duiTextBoxRtl .duiSpinnerButtonContainer,
.duiValidationTextBoxRtl .duiValidationContainer,
.duiTextBoxRtl .duiArrowButtonContainer {
  float: left;
}
div.duiNumberTextBoxRtl {
  text-align: right;
}
.claro .duiTextBoxRtlError .duiValidationContainer {
  border-left-width: 0;
  border-right-width: 1px;
}
