/* NumberSpinner - namespace "duiSpinner"
 * 
 * Styling NumberSpinner mainly includes:
 * 
 * 1. Arrows
 * 		Outer containers: .duiSpinnerButtonContainer|.duiSpinnerButtonInner  - for border, padding and position
 * 		Arrows: .duiArrowButton|.duiUpArrowButton.|duiDownArrowButton
 * 		Inner container: .duiArrowButtonInner - for border, padding, width|height and background image
 * 
 * 2. :hover state
 * 		.duiUpArrowButton:hover|.duiDownArrowButton:hover .*  - for background color|image
 * 
 * 3. :active state
 * 		.duiUpArrowButton:active|.duiDownArrowButton:active .*  - for border, padding, margin and background color|image
 * 
 * 4. Focused state
 * 		.duiSpinnerFocused .* - for background color|image
 * 
 * 5. Disabled state
 * 		.duiSpinnerDisabled .* - for background color|image
 */
.duiSpinner div.duiArrowButtonInner {
  display: block;
  /* override previous rule */

}
.dj_webkit .duiSpinner .duiSpinnerButtonContainer {
  /* apparent WebKit bug where messing with the font coupled with line-height:normal X 2 (duiReset & duiButtonNode)
	can be different than just a single line-height:normal, visible in InlineEditBox/Spinner */

  line-height: inherit;
}
.duiSpinner .duiSpinnerButtonContainer {
  /* dividing line between input area and up/down button(s)  */

  border-width: 0 0 0 1px !important;
  /* !important needed due to wayward ".theme .duiButtonNode" rules */

}
.duiSpinner .duiSpinnerButtonContainer .duiButtonNode {
  /* dividing line between input area and up/down button(s) for ComboBox and Spinner */

  border-width: 0;
}
.dj_ie .dj_a11y .duiSpinner .duiSpinnerButtonContainer .duiButtonNode {
  clear: both;
  /* IE workaround */

}
.duiTextBox .duiSpinnerButtonContainer {
  width: 1em;
  position: relative !important;
  overflow: hidden;
}
.duiSpinner .duiSpinnerButtonInner {
  width: 1em;
  visibility: hidden !important;
  /* just a sizing element */

  overflow-x: hidden;
}
.duiSpinnerButtonContainer .duiButtonNode {
  border-width: 0;
}
.dj_a11y .duiSpinnerButtonContainer .duiButtonNode {
  border-width: 0px !important;
  border-style: solid !important;
}
.dj_a11y .duiTextBox .duiSpinnerButtonContainer,
.dj_a11y .duiSpinner .duiArrowButtonInner,
.dj_a11y .duiSpinnerButtonContainer input {
  width: 1em !important;
}
.dj_a11y .duiSpinner .duiArrowButtonInner {
  margin: 0 auto !important;
  /* should auto-center */

}
.dj_ie .dj_a11y .duiSpinner .duiArrowButtonInner .duiInputField {
  padding-left: 0.3em !important;
  padding-right: 0.3em !important;
  margin-left: 0.3em !important;
  margin-right: 0.3em !important;
  width: 1.4em !important;
}
.duiSpinner .duiSpinnerButtonContainer .duiArrowButton {
  /* note: .duiInputLayoutContainer makes this rule override .duiArrowButton settings
	 * for dui.form.Button
	 */

  padding: 0;
  position: absolute !important;
  right: 0;
  float: none;
  height: 50%;
  width: 100%;
  bottom: auto;
  left: 0;
  right: auto;
}
.dj_a11y .duiSpinnerButtonContainer .duiArrowButton {
  overflow: visible !important;
}
.duiSpinner .duiSpinnerButtonContainer .duiDownArrowButton {
  top: 50%;
  border-top-width: 1px !important;
}
.duiSpinner .duiSpinnerButtonContainer .duiUpArrowButton {
  top: 0;
}
.duiSpinner .duiArrowButtonInner {
  margin: auto;
  overflow-x: hidden;
  height: 100% !important;
}
.duiSpinner .duiArrowButtonInner .duiInputField {
  -moz-transform: scale(0.5);
  -moz-transform-origin: center top;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: center top;
  -o-transform: scale(0.5);
  -o-transform-origin: center top;
  transform: scale(0.5);
  transform-origin: left top;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  visibility: hidden;
}
.dj_ie .duiSpinner .duiArrowButtonInner .duiInputField {
  zoom: 50%;
  /* emulate transform: scale(0.5) */

}
.duiSpinner .duiSpinnerButtonContainer .duiArrowButtonInner {
  overflow: hidden;
}
.dj_a11y .duiSpinner .duiSpinnerButtonContainer .duiArrowButton {
  width: 100%;
}
.dj_a11y .duiSpinner .duiArrowButtonInner .duiInputField {
  vertical-align: top;
  visibility: visible;
}
.dj_a11y .duiSpinnerButtonContainer {
  width: 1em;
}
/* images off, high-contrast mode styles */
.dj_a11y .duiSpinnerButtonContainer {
  opacity: 1 !important;
  background-color: white !important;
}
.claro .duiSpinnerButtonContainer {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0 2px;
}
.claro .duiSpinnerButtonContainer .duiSpinnerButtonInner {
  border-width: 1px 0;
  /* reserve space to match the claro combobox button border with border and not padding to make IE happier */

  border-style: solid none;
}
/* button */
.claro .duiSpinner .duiArrowButton {
  width: auto;
  background-color: #efefef;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  overflow: hidden;
}
.claro .duiSpinner .duiSpinnerButtonInner {
  width: 15px;
}
/* up & down button icons */
.claro .duiSpinner .duiArrowButtonInner {
  border: solid 1px #ffffff;
  border-bottom-width: 0;
  /* 2 top borders = 1 top+bottom border in ComboBox */

  background-image: url("../form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 15px;
  padding-left: 1px;
  padding-right: 1px;
  /* for up arrow */

  background-position: -139px center;
  /* override button.css (TODO: move to Common.css since ComboBox needs this too) */

  display: block;
  margin: -1px 0 -1px 0;
  /* compensate for inner border */

}
.claro .duiSpinner .duiDownArrowButton .duiArrowButtonInner {
  background-position: -34px;
}
.claro .duiSpinner .duiArrowButtonInner .duiInputField {
  padding: 0;
}
/** hover & focused status **/
.claro .duiUpArrowButton:active,
.claro .duiDownArrowButton:active {
  background-color: #abd6ff;
}
.claro .duiSpinner .duiUpArrowButton:hover,
.claro .duiSpinner .duiDownArrowButton:hover,
.claro .duiSpinnerFocused .duiArrowButton {
  background-color: #abd6ff;
}
.claro .duiSpinner .duiUpArrowButton:hover .duiArrowButtonInner {
  background-position: -174px;
}
.claro .duiSpinner .duiDownArrowButton:hover .duiArrowButtonInner {
  background-position: -69px;
}
.claro .duiSpinnerFocused {
  background-color: #ffffff;
  background-image: none;
}
/* mouse down status */
.claro .duiSpinner .duiDownArrowButton:active,
.claro .duiSpinner .duiUpArrowButton:active {
  background-color: #7dbefa;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
}
.claro .duiSpinner .duiUpArrowButton:active .duiArrowButtonInner,
.claro .duiSpinner .duiDownArrowButton:active .duiArrowButtonInner {
  /* hide inner border while button is depressed */

  border: 0;
  padding: 1px;
  margin-right: 2px;
  margin-bottom: 1px;
}
.claro .duiSpinner .duiUpArrowButton:active .duiArrowButtonInner {
  background-position: -173px;
}
.claro .duiSpinner .duiDownArrowButton:active .duiArrowButtonInner {
  background-position: -68px;
}
/* disabled */
.claro .duiSpinnerDisabled .duiArrowButtonInner {
  background-color: #efefef;
}
.claro .duiSpinnerDisabled .duiUpArrowButton .duiArrowButtonInner {
  background-position: -104px;
}
.claro .duiSpinnerDisabled .duiDownArrowButton .duiArrowButtonInner {
  background-position: 1px;
}
