/* RadioButton
 * 
 * Styling RadioButton mainly includes:
 * 
 * 1. Containers
 * 		.duiRadio|.duiRadioIcon - for border, padding, width|height and background image
 * 
 * 2. RadioButton within ToggleButton
 * 		.duiToggleButton|.duiToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.duiRadioChecked - for checked background-color|image
 * 		.duiToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. :hover state
 * 		.duiRadio:hover|.duiRadioChecked:hover - for background image
 * 
 * 5. Disabled state
 * 		.duiRadioDisabled|.duiRadioCheckedDisabled - for background image
 */
.claro .duiToggleButton .duiRadio,
.claro .duiToggleButton .duiRadioIcon {
  background-image: url("../form/images/checkboxRadioButtonStates.png");
}
.claro .duiRadio,
.claro .duiRadioIcon {
  /* inside a toggle button */

  background-image: url("../form/images/checkboxRadioButtonStates.png");
  /* checkbox sprite image */

  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0 2px 0 0;
  padding: 0;
}
.claro .duiRadio {
  /* unselected */

  background-position: -105px;
}
.claro .duiToggleButton .duiRadioIcon {
  /* unselected */

  background-position: -107px;
}
.claro .duiRadioDisabled {
  /* unselected and disabled */

  background-position: -165px;
}
.claro .duiRadio:hover {
  /* hovering over an unselected enabled radio button */

  background-position: -135px;
}
.claro .duiRadioChecked {
  background-position: -90px;
}
.claro .duiToggleButtonChecked .duiRadioIcon {
  background-position: -92px;
}
.claro .duiRadioChecked:hover {
  background-position: -120px;
}
.claro .duiRadioCheckedDisabled {
  /* selected but disabled */

  background-position: -150px;
}
