/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (duiSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.duiSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.duiSliderLeftBumper - bar at the left of horizontal slider
 * 		.duiSliderRightBumper - bar at the right of horizontal slider
 * 		.duiSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.duiSliderTopBumper - bar at the top of vertical slider
 * 		.duiSliderBottomBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.duiSlider:hover .duiSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.duiSliderFocused .duiSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.duiSliderDisabled .duiSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.duiSliderImageHandleH / .duiSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.duiSlider:hover .duiSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.duiSliderFocused .duiSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.duiSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.duiSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.duiSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.duiSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.duiSlider:hover .duiSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.duiSlider:active .duiSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.duiSliderDisabled .duiSliderDecrementIconH - styles for the icons in disabled slider
 * 		.duiSliderReadOnly .duiSliderIncrementIconV - styles for the icons in read-only slider
 */

@import "../variables";

// From dijit.css

/* Slider */

.duiSliderMoveable {
	z-index:99;
	position:absolute !important;
	display:block;
	vertical-align:middle;
}

.duiSliderMoveableH {
	right:0;
}
.duiSliderMoveableV {
	right:50%;
}

.dj_a11y div.duiSliderImageHandle,
.duiSliderImageHandle {
	margin:0;
	padding:0;
	position:relative !important;
	border:8px solid gray;
	width:0;
	height:0;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.dj_a11y .duiSliderFocused .duiSliderImageHandle {
	border:4px solid #000;
	height:8px;
	width:8px;
}

.duiSliderImageHandleV {
	top:-8px;
	right: -50%;
}

.duiSliderImageHandleH {
	left:50%;
	top:-5px;
	vertical-align:top;
}

.duiSliderBar {
	border-style:solid;
	border-color:black;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.duiSliderBarContainerV {
	position:relative;
	height:100%;
	z-index:1;
}

.duiSliderBarContainerH {
	position:relative;
	z-index:1;
}

.duiSliderBarH {
	height:4px;
	border-width:1px 0;
}

.duiSliderBarV {
	width:4px;
	border-width:0 1px;
}

.duiSliderProgressBar {
	background-color:red;
	z-index:1;
}

.duiSliderProgressBarV {
	position:static !important;
	height:0;
	vertical-align:top;
	text-align:left;
}

.duiSliderProgressBarH {
	position:absolute !important;
	width:0;
	vertical-align:middle;
	overflow:visible;
}

.duiSliderRemainingBar {
	overflow:hidden;
	background-color:transparent;
	z-index:1;
}

.duiSliderRemainingBarV {
	height:100%;
	text-align:left;
}

.duiSliderRemainingBarH {
	width:100% !important;
}

/* the slider bumper is the space consumed by the slider handle when it hangs over an edge */
.duiSliderBumper {
	overflow:hidden;
	z-index:1;
}

.duiSliderBumperV {
	width:4px;
	height:8px;
	border-width:0 1px;
}

.duiSliderBumperH {
	width:8px;
	height:4px;
	border-width:1px 0;
}

.duiSliderBottomBumper,
.duiSliderLeftBumper {
	background-color:red;
}

.duiSliderTopBumper,
.duiSliderRightBumper {
	background-color:transparent;
}

.duiSliderDecoration {
	text-align:center;
}

.duiSliderDecorationH {
	width: 100%;
}

.duiSliderDecorationV {
	height: 100%;
	white-space: nowrap;
}

.duiSliderButton {
	font-family:monospace;
	margin:0;
	padding:0;
	display:block;
}

.dj_a11y .duiSliderButtonInner {
	visibility:visible !important;
}

.duiSliderButtonContainer {
	text-align:center;
	height:0;	/* ??? */
}
.duiSliderButtonContainer * {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.duiSlider .duiButtonNode {
	padding:0;
	display:block;
}

.duiRuleContainer {
	position:relative;
	overflow:visible;
}

.duiRuleContainerV {
	height:100%;
	line-height:0;
	float:left;
	text-align:left;
}

.dj_opera .duiRuleContainerV {
	line-height:2%;
}

.dj_ie .duiRuleContainerV {
	line-height:normal;
}

.dj_gecko .duiRuleContainerV {
	margin:0 0 1px 0; /* mozilla bug workaround for float:left,height:100% block elements */
}

.duiRuleMark {
	position:absolute;
	border:1px solid black;
	line-height:0;
	height:100%;
}

.duiRuleMarkH {
	width:0;
	border-top-width:0 !important;
	border-bottom-width:0 !important;
	border-left-width:0 !important;
}

.duiRuleLabelContainer {
	position:absolute;
}

.duiRuleLabelContainerH {
	text-align:center;
	display:inline-block;
}

.duiRuleLabelH {
	position:relative;
	left:-50%;
}

.duiRuleLabelV {
	/* so that long labels don't overflow to multiple rows, or overwrite slider itself */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.duiRuleMarkV {
	height:0;
	border-right-width:0 !important;
	border-bottom-width:0 !important;
	border-left-width:0 !important;
	width:100%;
	left:0;
}

.dj_ie .duiRuleLabelContainerV {
	margin-top:-.55em;
}

.dj_a11y .duiSliderReadOnly,
.dj_a11y .duiSliderDisabled {
	opacity:0.6;
}
.dj_ie .dj_a11y .duiSliderReadOnly .duiSliderBar,
.dj_ie .dj_a11y .duiSliderDisabled .duiSliderBar {
	filter: alpha(opacity=40);
}

/* + and - Slider buttons: override theme settings to display icons */
.dj_a11y .duiSlider .duiSliderButtonContainer div {
	font-family: monospace; /* otherwise hyphen is larger and more vertically centered */
	font-size: 1em;
	line-height: 1em;
	height: auto;
	width: auto;
	margin: 0 4px;
}

// Claro overrides
.claro .duiSliderBar {
	border-style: solid;
	outline: 1px;
}
.claro .duiSliderFocused .duiSliderBar {
	border-color: @focused-border-color;
}
.claro .duiSlider:hover .duiSliderBar {
	border-color: @hovered-border-color;
}
.claro .duiSliderDisabled .duiSliderBar {
	background-image: none;
	border-color: @disabled-border-color;
}
.claro .duiRuleLabelsContainer {
	color: @text-color;
}

/* Horizontal Slider */

.claro .duiRuleLabelsContainerH {
	padding: 2px 0;
}
.claro .duiSlider .duiSliderProgressBarH,
.claro .duiSlider .duiSliderLeftBumper{
	border-color: @border-color;
	background-color: @slider-fullbar-background-color;
	.alpha-white-gradient (top, 1,0px, 1,1px, 0,2px);
}
.claro .duiSlider .duiSliderRemainingBarH,
.claro .duiSlider .duiSliderRightBumper{
	border-color: @border-color;
	background-color: @slider-remainingbar-background-color;
}
.claro .duiSliderRightBumper {
	border-right: solid 1px @border-color;
}
.claro .duiSliderLeftBumper {
	border-left: solid 1px @border-color;
}
.claro .duiSlider:hover .duiSliderProgressBarH,
.claro .duiSlider:hover .duiSliderLeftBumper{
	background-color: @slider-hovered-fullbar-background-color;
	border-color: @hovered-border-color;
}
.claro .duiSlider:hover .duiSliderRemainingBarH,
.claro .duiSlider:hover .duiSliderRightBumper{
	background-color: @slider-hovered-remainingbar-background-color;
	border-color: @hovered-border-color;
}
.claro .duiSliderFocused .duiSliderProgressBarH,
.claro .duiSliderFocused .duiSliderLeftBumper{
	background-color: @slider-focused-fullbar-background-color;
	border-color: @focused-border-color;
	.box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
}
.claro .duiSliderFocused .duiSliderRemainingBarH,
.claro .duiSliderFocused .duiSliderRightBumper{
	background-color: @slider-focused-remainingbar-background-color;
	border-color: @focused-border-color;
	.box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
}
.claro .duiSliderDisabled .duiSliderProgressBarH,
.claro .duiSliderDisabled .duiSliderLeftBumper{
	background-color: @disabled-border-color;		/* left side of slider, fill matches border */
	background-image:none;
}
.claro .duiSliderDisabled .duiSliderRemainingBarH,
.claro .duiSliderDisabled .duiSliderRightBumper{
	background-color: @disabled-background-color;
}

/* Vertical Slider */

.claro .duiRuleLabelsContainerV {
	padding: 0 2px;
}
.claro .duiSlider .duiSliderProgressBarV,
.claro .duiSlider .duiSliderBottomBumper{
	border-color: @border-color;
	background-color: @slider-fullbar-background-color;
	.alpha-white-gradient (left, 1,0px, 0,1px);
}
.claro .duiSlider .duiSliderRemainingBarV,
.claro .duiSlider .duiSliderTopBumper{
	border-color: @border-color;
	background-color: @slider-remainingbar-background-color;
}
.claro .duiSliderBottomBumper {
	border-bottom: solid 1px @border-color;
}
.claro .duiSliderTopBumper {
	border-top: solid 1px @border-color;
}
.claro .duiSlider:hover .duiSliderProgressBarV,
.claro .duiSlider:hover .duiSliderBottomBumper{
	background-color: @slider-hovered-fullbar-background-color;
	border-color: @hovered-border-color;
}
.claro .duiSlider:hover .duiSliderRemainingBarV,
.claro .duiSlider:hover .duiSliderTopBumper{
	background-color: @slider-hovered-remainingbar-background-color;
	border-color: @hovered-border-color;
}
.claro .duiSliderFocused .duiSliderProgressBarV,
.claro .duiSliderFocused .duiSliderBottomBumper{
	background-color: @slider-focused-fullbar-background-color;
	border-color: @focused-border-color;
	.box-shadow(inset 1px 0px 1px rgba(0, 0, 0, 0.2));
}
.claro .duiSliderFocused .duiSliderRemainingBarV,
.claro .duiSliderFocused .duiSliderTopBumper{
	background-color: @slider-focused-remainingbar-background-color;
	border-color: @focused-border-color;
	.box-shadow(inset 1px 0px 1px rgba(0, 0, 0, 0.2));
}
.claro .duiSliderDisabled .duiSliderProgressBarV,
.claro .duiSliderDisabled .duiSliderBottomBumper{
	background-color: @disabled-border-color;	/* bottom side of slider, fill matches border */
}
.claro .duiSliderDisabled .duiSliderRemainingBarV,
.claro .duiSliderDisabled .duiSliderTopBumper{
	background-color: @disabled-background-color;
}


/* ------- Thumbs ------- */

.claro .duiSliderImageHandleH {
	border: 0;
	width: 18px;
	height: 16px;
	background-image: url("../@{image-form-slider-thumbs}");
	background-repeat:no-repeat;
	background-position:0 0;
}
.claro .duiSlider:hover .duiSliderImageHandleH {
	background-position:-18px 0;
}
.claro .duiSliderFocused .duiSliderImageHandleH {
	background-position:-36px 0;
}
.claro .duiSliderProgressBarH .duiSliderThumb:hover{
	background-position:-36px 0;
}
.claro .duiSliderProgressBarH .duiSliderThumb:active{
	background-position:-36px 0;
}
.claro .duiSliderReadOnly .duiSliderImageHandleH,
.claro .duiSliderDisabled .duiSliderImageHandleH {
	background-position:-54px 0;
}
.claro .duiSliderImageHandleV {
	border: 0;
	width: 18px;
	height: 16px;
	background-image: url("../@{image-form-slider-thumbs}");
	background-repeat:no-repeat;
	background-position:-289px 0;
}
.claro .duiSlider:hover .duiSliderImageHandleV {
	background-position:-307px 0;
}
.claro .duiSliderFocused .duiSliderImageHandleV {
	background-position:-325px 0;
}
.claro .duiSliderProgressBarV .duiSliderThumb:hover{
	background-position:-325px 0;
}
.claro .duiSliderProgressBarV .duiSliderThumb:active{
	background-position:-325px 0;
}
.claro .duiSliderReadOnly .duiSliderImageHandleV,
.claro .duiSliderDisabled .duiSliderImageHandleV {
	background-position:-343px 0;
}

/* ---- Increment/Decrement Buttons ---- */

.claro .duiSliderButtonContainerH{
	padding: 1px 3px 1px 2px;
}
.claro .duiSliderButtonContainerV{
	padding: 3px 1px 2px 1px;
}
.claro .duiSliderDecrementIconH,
.claro .duiSliderIncrementIconH,
.claro .duiSliderDecrementIconV,
.claro .duiSliderIncrementIconV {
	background-image: url("../@{image-form-common-arrows}");
	background-repeat:no-repeat;
	background-color: @arrowbutton-background-color;
	.border-radius(2px);
	border: solid 1px @border-color;
	font-size: 1px;
}
.claro .duiSliderDecrementIconH,
.claro .duiSliderIncrementIconH {
	height: 12px;
	width: 9px;
}
.claro .duiSliderDecrementIconV,
.claro .duiSliderIncrementIconV {
	height: 9px;
	width: 12px;
}
.claro .duiSlider:active .duiSliderDecrementIconH,
.claro .duiSlider:active .duiSliderIncrementIconH,
.claro .duiSlider:active .duiSliderDecrementIconV,
.claro .duiSlider:active .duiSliderIncrementIconV,
.claro .duiSlider:hover .duiSliderDecrementIconH,
.claro .duiSlider:hover .duiSliderIncrementIconH,
.claro .duiSlider:hover .duiSliderDecrementIconV,
.claro .duiSlider:hover .duiSliderIncrementIconV {
	/* duiSlider:active should be treated as duiSlider:hover since "clicking the slider" has no meaning */
	border: solid 1px @hovered-border-color;
	background-color: @slider-hoveredButton-background-color;
}

.claro .duiSliderDecrementIconH {
	background-position:-357px 50%;
}
.claro .duiSlider:active .duiSliderDecrementIconH
.claro .duiSlider:hover .duiSliderDecrementIconH {
	background-position:-393px 50%;
}
.claro .duiSliderIncrementIconH {
	background-position:-251px 50%;
}
.claro .duiSlider:active .duiSliderIncrementIconH
.claro .duiSlider:hover .duiSliderIncrementIconH {
	background-position:-283px 50%;
}
.claro .duiSliderDecrementIconV {
	background-position:-38px 50%;
}
.claro .duiSlider:active .duiSliderDecrementIconV
.claro .duiSlider:hover .duiSliderDecrementIconV {
	background-position:-73px 50%;
}
.claro .duiSliderIncrementIconV {
	background-position:-143px 49%;
}
.claro .duiSlider:active .duiSliderIncrementIconV
.claro .duiSlider:hover .duiSliderIncrementIconV {
	background-position:-178px 49%;
}
.claro .duiSliderButtonContainerV .duiSliderDecrementButton:hover,
.claro .duiSliderButtonContainerH .duiSliderDecrementButton:hover,
.claro .duiSliderButtonContainerV .duiSliderIncrementButton:hover,
.claro .duiSliderButtonContainerH .duiSliderIncrementButton:hover {
	background-color: @slider-button-hovered-background-color;
}
.claro .duiSliderButtonContainerV .duiSliderDecrementButton:active,
.claro .duiSliderButtonContainerH .duiSliderDecrementButton:active,
.claro .duiSliderButtonContainerV .duiSliderIncrementButton:active,
.claro .duiSliderButtonContainerH .duiSliderIncrementButton:active {
	background-color: @slider-button-pressed-background-color;
	border-color:@pressed-border-color;
}
.claro .duiSliderButtonInner {
	visibility: hidden;
}
.claro .duiSliderDisabled .duiSliderBar{
	border-color: @disabled-border-color;
}
.claro .duiSliderReadOnly *,.claro .duiSliderDisabled * {
	border-color: @disabled-border-color;
	color: @disabled-text-color;
}
.claro .duiSliderReadOnly .duiSliderDecrementIconH,
.claro .duiSliderDisabled .duiSliderDecrementIconH {
	background-position:-321px 50%;
	background-color:@disabled-background-color;
}
.claro .duiSliderReadOnly .duiSliderIncrementIconH,
.claro .duiSliderDisabled .duiSliderIncrementIconH {
	background-position:-215px 50%;
	background-color:@disabled-background-color;
}
.claro .duiSliderReadOnly .duiSliderDecrementIconV,
.claro .duiSliderDisabled .duiSliderDecrementIconV {
	background-position:-3px 49%;
	background-color:@disabled-background-color;
}
.claro .duiSliderReadOnly .duiSliderIncrementIconV,
.claro .duiSliderDisabled .duiSliderIncrementIconV {
	background-position:-107px 49%;
	background-color:@disabled-background-color;
}
