@import "../variables";

// From dijit_rtl.css
.duiSliderRtl .duiSliderImageHandleV {
	left:auto;
}

.duiSliderRtl .duiSliderImageHandleH {
	left:-50%;
}

.duiSliderRtl .duiSliderMoveableH {
	right:auto;
	left:0;
}

.duiSliderRtl .duiRuleContainerV {
	float:right;
}

.dj_ie .duiSliderRtl .duiRuleContainerV {
	text-align:right;
}

.dj_ie .duiSliderRtl .duiRuleLabelV {
	text-align:left;
}

.dj_ie .duiSliderRtl .duiRuleLabelH {
	zoom:1;
}

.duiSliderRtl .duiSliderProgressBarH {
	/* workarounds for IE and FF */
	float:right;
	right:0;
	left:auto;
}

// Claro overrides
.claro .duiSliderRtl .duiSliderProgressBarH,
.claro .duiSliderRtl .duiSliderRemainingBarH,
.claro .duiSliderRtl .duiSliderLeftBumper,
.claro .duiSliderRtl .duiSliderRightBumper,
.claro .duiSliderRtl .duiSliderTopBumper {
	background-position: top right;
}

.claro .duiSliderRtl .duiSliderProgressBarV,
.claro .duiSliderRtl .duiSliderRemainingBarV,
.claro .duiSliderRtl .duiSliderBottomBumper {
	background-position: bottom right;
}

.claro .duiSliderRtl .duiSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}

.claro .duiSliderRtl .duiSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}

.claro .duiSliderRtl .duiSliderIncrementIconH {
	background-position:-357px 50%;
}

.claro .duiSliderRtl .duiSliderDecrementIconH {
	background-position:-251px 50%;
}
