/* === Red Circle Arrow Buttons ==*/
.duiDomButtonRedCircleArrow {
	background-image: url(compat/duiDomButtonRedCircleArrow.png);
	background-repeat: no-repeat;
}

.duiDomButtonRedCircleArrow > div {
	display: none;
}
