/* === Check Button ==*/
.duiDomButtonWhiteCheck, .duiDomButtonCheck {
	background-image: url(compat/duiDomButtonWhiteCheck.png);
	background-repeat: no-repeat;
}
.duiDomButtonWhiteCheck div, .duiDomButtonCheck div {
	display: none;
}
