/* === Down Arrow Button ==*/
.duiDomButtonWhiteDownArrow {
	background-image: url(compat/duiDomButtonWhiteDownArrow.png);
	background-repeat: no-repeat;
}
.duiDomButtonWhiteDownArrow div {
	display: none;
}
