/* === Minus and Plus Buttons ==*/
.duiDomButtonBlueMinus {
	background-image: url(compat/duiDomButtonBlueMinus.png);
	background-repeat: no-repeat;
}
.duiDomButtonBlueMinus div {
	display: none;
}

.duiDomButtonBluePlus {
	background-image: url(compat/duiDomButtonBluePlus.png);
	background-repeat: no-repeat;
}
.duiDomButtonBluePlus div {
	display: none;
}

.duiDomButtonDarkBlueMinus {
	background-image: url(compat/duiDomButtonDarkBlueMinus.png);
	background-repeat: no-repeat;
}
.duiDomButtonDarkBlueMinus div {
	display: none;
}

.duiDomButtonDarkBluePlus {
	background-image: url(compat/duiDomButtonDarkBluePlus.png);
	background-repeat: no-repeat;
}
.duiDomButtonDarkBluePlus div {
	display: none;
}

.duiDomButtonRedMinus {
	background-image: url(compat/duiDomButtonRedMinus.png);
	background-repeat: no-repeat;
}
.duiDomButtonRedMinus div {
	display: none;
}

.duiDomButtonRedPlus {
	background-image: url(compat/duiDomButtonRedPlus.png);
	background-repeat: no-repeat;
}
.duiDomButtonRedPlus div {
	display: none;
}
