/* === Up Arrow Button ==*/
.duiDomButtonWhiteUpArrow {
	background-image: url(compat/duiDomButtonWhiteUpArrow.png);
	background-repeat: no-repeat;
}
.duiDomButtonWhiteUpArrow div {
	display: none;
}
