/* === Red Cross Button ==*/
.duiDomButtonRedCross, .duiDomButtonCross {
	background-image: url(compat/duiDomButtonRedCross.png);
	background-repeat: no-repeat;
}
.duiDomButtonRedCross div, .duiDomButtonCross div {
	display: none;
}
