@import "../common/css3.less";

@holo-color: white;
@holo-base-color: black;
@holo-grey1: #222222;
@holo-grey2: #333333;
@holo-grey3: #4F4F4F;

@holo-color1: #33B5E5;

@holo-checkbox-border-color: #5C5C5C;
@holo-checkbox-selected-color: #99BBCA;
@holo-checkbox-tick-color: #61C6EB;
@holo-checkbox-checked-color: #1F5366;

@holo-switch-on-color: #0C86AF;
@holo-switch-off-color: @holo-grey2;
@holo-switch-knob-color: #606060;

@holo-slider-thumb-color: rgba(31, 83, 102, 0.8);

@holo-slider-background-image-gecko: -moz-linear-gradient(top, @holo-color1 0%, @holo-slider-thumb-color 100%);
@holo-slider-track-color: #292929;

@default-blue-button-color: white;
@default-blue-button-background-color: #366edf;
.default-blue-button-background-image () { 
  background-image: none;
}

@default-blue-button-background-image-gecko: none;

.dui-color-blue-45 () { 
  background-image: none;  
}


.dui-color-default-45 () { background-color: @holo-grey2; }
.dui-color-default-sel-45 () {background-color: @holo-color1; }

@dui-color-blue-45-gecko: none;
@dui-color-default-45-gecko: @holo-grey2;
@dui-color-default-sel-45-gecko: @holo-color1;

@default-button-color: @holo-color;
@default-button-background-color: @holo-grey2;
.default-button-background-image() {background-image: none};
@default-button-background-image-gecko: none;
@default-button-border-radius: 2px;

@default-button-selected-color: white;
@default-button-selected-background-color: @holo-color1;
.default-button-selected-background-image () {background-image: none;}
@default-button-selected-background-image-gecko: none;

@default-selected-color: white;
@default-selected-background-color: #3578b1;
@default-selected-background-image: none;
@default-selected-background-image-gecko: none;

@heading-background-color: #8c8a8c;
.heading-background-image () { background-image: none; }
@heading-background-image-gecko: none;
@heading-border-top-color: #cdd5df;
@heading-border-bottom-color: #2d3642;

.default-button-border-styles () {
	background-image: none;
	background-color: #333333;
	border-style: none;
	border-top-style: solid;
	border-top-color: rgba(85,85,85,0.9);
	border-top-width: 1px;
	border-radius: 2px;
}

// background styles of form controls
.dui-button-background-image () { .default-button-border-styles; }

.dui-button-selected-background-image () { .default-button-selected-background-image(); }
.dui-blue-button-background-image () { .default-blue-button-background-image(); }
.dui-blue-button-selected-background-image () { .default-button-selected-background-image(); }
.dui-red-button-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#fa9d58, #ee4115, 0.5, #ff4d25, 0.5, #ed4d15);}

.dui-red-button-selected-background-image () { .default-button-selected-background-image(); }
.dui-button-checked-background-image () { background-color: transparent; }

// background styles of form controls (for gecko)
@dui-button-background-image-gecko: none;
@dui-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@dui-blue-button-background-image-gecko: @default-blue-button-background-image-gecko;
@dui-blue-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@dui-red-button-background-image-gecko: none;
@dui-red-button-selected-background-image-gecko: none;
@dui-button-checked-background-image-gecko: none;

// common.less
.mobile-body-styles () {
	font-family: Helvetica;
	font-size: 17px;
	color: @holo-color;
}

.duiBackground-styles () {
	background-color: @holo-base-color;
}

.duiView-styles () {
	color: white;
}

.duiColorBlue-styles () {
	color: @default-blue-button-color;
	background-color: @default-blue-button-background-color;
	.default-blue-button-background-image();
}
.duiColorDefault-styles () {
	color: @holo-color;
	background-color: @default-button-background-color;
	.default-button-background-image();
}
.duiColorDefaultSel-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color;
	.default-button-selected-background-image();
}
