@import "../../../../delite/themes/bootstrap/common";

@star-icon-disabled-sprite: url("../../images/grey-stars-40.png");
@star-icon-sprite: url("../../images/yellow-stars-40.png");
@star-icon-size: 40px;

@import "../StarRating_template";
