@import "../../../../delite/themes/ios/includes";

@star-icon-size: 40px;
@star-icon-full: "\2605";
@star-icon-full-color: yellow;
@star-icon-empty: "\2605";
@star-icon-empty-color: #F8F8F8;
@star-icon-readonly-color: gray;
@star-icon-disabled-color: gray;

@import "../StarRating_template";
