.d-progress-indicator {
	display: inline-block;
	visibility: hidden;
	vertical-align: middle;
	background-color: transparent;
	.touch-callout("none");
	.user-select("none");
	.d-progress-indicator-styles;
}

.d-progress-indicator-lines {
	.d-progress-indicator-lines-styles;
}


.d-progress-indicator text {
	.d-progress-indicator-msg-styles;
}
