@import "../../../../delite/themes/holodark/includes";

.d-checkbox-styles () {
	margin: -0.5em 3px 0.3em 4px;
}

.d-checkbox-active-styles () {
	border-color: @holo-checkbox-selected-color;
	box-shadow: 0px 0px 1px 4px @holo-checkbox-checked-color;
	background-color: @holo-checkbox-checked-color;
}

.d-checkbox-focused () {
	outline: thin dotted;
	//WebKit
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.d-checkbox-before-styles () {
	border-color: @holo-checkbox-border-color;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	background-color: transparent;
	background-image: none;
	height: 1em;
	width: 1em;
}

@d-checkbox-disabled-color: @holo-grey2;

.d-checkbox-checked-before-styles () {
	color: @holo-checkbox-tick-color;
	background-color: transparent;
	background-image: none;
}

.d-checkbox-before-disabled-styles () {
	color: @holo-grey2;
	background-image: linear-gradient(to bottom, #f6f6f6 0%, #eeeeee 100%);
}

.d-checkbox-input-styles () {
	width:1em;
	height:1em;
	margin: 0px;
}

@import "../Checkbox_template";
