@import "../../../../delite/themes/blackberry/variables";

.d-button-styles () {
  .default-button-border-styles;
  color: black;
  font-size: 16px;
}
.d-button-selected-styles () {
  color: white;
}
.d-button-blue-styles () {
  color: white;
}
.d-button-red-styles () {
  color: white;
}

@import "../Button_template";
