.d-boilerplate-textbox {
  display: inline-block;
  border: solid black 1px;
  padding: 2px 10px;
}
.d-boilerplate-textbox .d-input-container-node {
  display: inline-block;
}
.d-boilerplate-textbox .d-input-container-node * {
  border: none;
  padding: 0;
  text-align: right;
  font-family: monospace;
  font-size: inherit;
  height: 20px;
  line-height: 20px;
}
.d-boilerplate-textbox .d-input-container-node input:focus {
  color: white;
  background: #9bcbff;
  outline: none;
}
.d-boilerplate-textbox .d-input-container-node d-btb-boilerplate {
  margin: 0 2px;
}
.d-boilerplate-textbox .d-input-container-node .d-btb-field {
  display: inline-block;
  position: relative;
}
.d-boilerplate-textbox .d-input-container-node .d-btb-field input {
  width: 100%;
}
.d-boilerplate-textbox .d-input-container-node input::-ms-clear {
  display: none;
}
.d-boilerplate-textbox .d-input-container-node input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.d-webkit .d-boilerplate-textbox.d-focused {
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 5px;
}
.d-ff.d-mac .d-boilerplate-textbox.d-focused {
  outline-offset: -2px;
  outline: #9bcbff auto 2px;
}
