.d-swap-view {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  touch-action: pan-y;
}
.-d-swap-view-drag {
  overflow-x: hidden;
  overflow-y: hidden;
}
