.d-toaster-inner {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}
.d-toaster-inner {
  position: fixed;
}
.d-toaster-placement-default .d-toaster-inner {
  left: 20%;
  bottom: 10%;
  width: 60%;
}
.d-toaster-placement-tl .d-toaster-inner {
  left: 0;
  top: 0;
}
.d-toaster-placement-tc .d-toaster-inner {
  left: 20%;
  top: 0;
  width: 60%;
}
@media only screen and (max-width: 500px) {
  .d-toaster-placement-tc .d-toaster-inner {
    left: 0%;
    width: 100%;
  }
}
.d-toaster-placement-tr .d-toaster-inner {
  right: 0;
  top: 0;
}
.d-toaster-placement-br .d-toaster-inner {
  right: 0;
  bottom: 0;
}
.d-toaster-placement-bc .d-toaster-inner {
  left: 20%;
  bottom: 0;
  width: 60%;
}
@media only screen and (max-width: 500px) {
  .d-toaster-placement-bc .d-toaster-inner {
    left: 0%;
    width: 100%;
  }
}
.d-toaster-placement-bl .d-toaster-inner {
  left: 0;
  bottom: 0;
}
button.d-toaster-dismiss::before {
  content: "\00D7";
}
button.d-toaster-dismiss {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}
.d-toaster-message {
  position: relative;
  display: block;
}
.d-toaster-initial {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: linear;
}
.d-toaster-fadein {
  opacity: 1;
  transition-duration: 700ms;
}
.d-toaster-fadeout {
  opacity: 0;
  transition-duration: 1000ms;
}
@-webkit-keyframes d-toaster-swipeout {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes d-toaster-swipeout {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
.d-toaster-swipeout {
  -webkit-animation-name: d-toaster-swipeout;
  animation-name: d-toaster-swipeout;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.d-toaster-inner {
  margin: .1em auto;
}
.d-toaster-message {
  background: rgba(11, 11, 11, 0.9);
  border-radius: 3px;
  color: white;
  margin: .3em;
  padding: .5em;
  text-align: center;
}
.d-toaster-is-visible {
  visibility: visible;
  opacity: 1;
}
.d-toaster-dismiss {
  margin-left: 1.7em;
  color: white;
  opacity: .5;
}
