@import "../../../../delite/themes/ios/includes";

/* For now, reuse the bootstrap less variables and functions*/
@import "../../../../delite/themes/bootstrap/includes";
@import "../../../../delite/themes/bootstrap/variables.less";

@import "../Select_template";

@d-select-border-size: 1px;

.d-select-styles() {
	border: @d-select-border-size solid @input-border; 
	border-radius: @input-border-radius;
	color: @input-color;
	font-size: @font-size-base;
	line-height: @line-height-base;
}

.d-select-inner-styles() {
	padding: @padding-base-vertical @padding-base-horizontal;
	margin: -@d-select-border-size; /* to compensate the border on d-select */
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
}

.d-select-focus {
	.tab-focus(); /* defined in delite/themes/bootstrap/mixins.less */
}
