.duiRevealv {
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.duiRevealv.duiTransition {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.duiRevealv.duiOut {
  -webkit-transform: translate3d(0px, 0%, 0px) !important;
  transform: translate3d(0px, 0%, 0px) !important;
}
.duiRevealv.duiOut.duiTransition {
  -webkit-transform: translate3d(0px, -100%, 0px) !important;
  transform: translate3d(0px, -100%, 0px) !important;
}
.duiRevealv.duiOut.duiReverse.duiTransition {
  -webkit-transform: translate3d(0px, 100%, 0px) !important;
  transform: translate3d(0px, 100%, 0px) !important;
}
.duiRevealv.duiIn {
  z-index: -100;
  -webkit-transform: translate3d(0px, 0%, -1px) !important;
  transform: translate3d(0px, 0%, -1px) !important;
}
.duiRevealv.duiIn.duiTransition {
  -webkit-transform: translate3d(0px, 0%, 0px) !important;
  transform: translate3d(0px, 0%, 0px) !important;
}
.dj_android.dj_tablet .duiRevealv.duiTransition {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
