/* Wrapping the select in a span avoids rounding the select element itself,
  thus avoids a different rendering on FF and IE than in Chrome on desktop. */
.d-select {
	/* Do not hardcode a height because this would misbehave multi-select */
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	overflow: hidden; /* clip for the rounding */
	.d-select-styles;
}

.d-select-inner {
	height: inherit;
	width: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	.d-select-inner-styles;
	
	&[disabled],
	fieldset[disabled] & {
		opacity: 0.5;
	}
}
