@import "../../../../delite/themes/ios/includes";
@import "../variables";

.d-switch-on-styles() {
	.background-image-linear-gradient-top-bottom-2-stops(#2859b1, #75acfb, 0.5, #3f84eb, 0.5, #4c8eee);
	color: white;
	font-weight: bold;
}
.d-switch-off-styles() {
	.background-image-linear-gradient-top-bottom-2-stops(#cecece, #fdfdfd, 0.5, #eeeeee, 0.5, #f8f8f8);
	color: #7f7f7f;
	font-weight: bold;
}
.d-switch-knob-styles() {
	box-shadow: 0 1px 6px darken(#eee, 37%);
	.background-image-linear-gradient-top-bottom(#cccccc, #fafafa);
}
.d-switch-styles() {
	border: 1px solid darken(#eee, 25%);
}
.d-switch-focused-styles() {
	.box-shadow(0 0 8px rgba(102,175,233,.6));
	border-color: rgba(102,175,233,1);
}

@import "../Switch_template.less";
