/* if you link this style sheet, dui/themes/dijit.css must be imported. */
/* dui.Calendar */
.duiCalendar {
  padding: 0;
  width: 320px;
  border-radius: 0;
  text-align: center;
  border: 1px solid #c0c0c0;
}
.duiCalendar thead {
  border-color: inherit;
  vertical-align: middle;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
  background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 100%);
}
.duiCalendarMonthLabel {
  padding: 0 4px;
  font-family: Helvetica;
  text-shadow: rgba(247, 247, 247, 0.6) 0 1px 0px;
  color: #000000;
  font-size: 16px;
}
.duiCalendarMonthMenu .duiCalendarMonthLabel {
  background-color: #f2f2f2;
  color: #000000;
}
.duiCalendar .duiDropDownButton .duiButtonNode {
  padding: 0 3px 0 2px;
  border: none;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.duiArrowButtonInner {
  display: none;
}
.duiCalendarMonthContainer th {
  border-right: 1px solid transparent;
}
.duiCalendarIncrementControl {
  width: 0;
  height: 0;
  border: 6px solid transparent !important;
}
.duiCalendarDecrease {
  border-left-width: 0 !important;
  border-right: 6px solid #9b9b9b !important;
}
.duiCalendarIncrease {
  border-right-width: 0 !important;
  border-left: 6px solid #9b9b9b !important;
}
.duiA11ySideArrow {
  display: none;
}
.duiCalendarDayLabelTemplate {
  border-right: 1px solid transparent;
  text-align: center;
  text-shadow: rgba(247, 247, 247, 0.6) 0px 1px 0px;
  background-color: #f6f6f6;
  font-size: 12px;
  color: #000000;
}
.duiCalendarDateTemplate {
  border-bottom: 1px solid lightGrey;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #000000;
}
.duiCalendarDateTemplate:last-child {
  border-right: none;
}
.duiCalendarDateTemplate .duiCalendarDateLabel {
  padding: 3px 5px 3px 4px;
  display: block;
  text-decoration: none;
  border: none;
}
.duiCalendarPreviousMonth .duiCalendarDateLabel,
.duiCalendarNextMonth .duiCalendarDateLabel {
  color: lightGrey;
}
.duiCalendarDate:hover .duiCalendarDateLabel {
  color: grey;
}
.duiCalendarSelectedDate .duiCalendarDateLabel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a4a4a4));
  background-image: linear-gradient(to bottom, #e2e2e2 0%, #a4a4a4 100%);
  color: #000000;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}
.duiCalendarDate:active .duiCalendarDateLabel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#999999));
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #999999 100%);
}
.duiCalendarYearLabel {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
  background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 100%);
}
.duiCalendarSelectedYear {
  font-family: Helvetica;
  text-shadow: rgba(247, 247, 247, 0.6) 0px 1px 0px;
  color: #000000;
  font-size: 16px;
}
.duiCalendarNextYear,
.duiCalendarPreviousYear {
  text-shadow: rgba(247, 247, 247, 0.6) 0px 1px 0px;
  padding: 1px 6px 3px 6px;
  color: #000000;
  font-size: 12px;
}
