/* For now, reuse the bootstrap less variables and functions*/
.d-combobox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  /* Setting pointer cursor on root node, input node, and arrow pseudo-element */
  /* is needed such that the cursor works in all desktop browsers for both */
  /* the input and the arrow.*/
  cursor: pointer;
  color: #555555;
  font-size: 14px;
  line-height: 1.428571429;
}
.d-combobox::after {
  /* dropdown arrow */
  content: "\25BC";
  display: inline-block;
  position: absolute;
  padding: 0;
  cursor: pointer;
  line-height: normal;
  font-size: .7em;
  right: 1em;
  top: 50%;
  height: 1em;
  margin-top: -0.6em;
}
.d-combobox::after[disabled] {
  cursor: auto;
}
.d-combobox.d-rtl::after {
  left: 1em;
  /* restore default */
  right: auto;
}
.d-combobox[disabled] {
  cursor: auto;
  opacity: 0.5;
}
.d-combo-popup {
  /* Needed for the correct layout of its LinearLayout child */
  display: block;
}
/* Applies to both the input inside the root node and the input */
/* conditionally present inside the popup */
.d-combobox-input {
  padding: 6px 1.7em 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
}
.d-combobox-input:focus {
  /* defined in delite/themes/bootstrap/mixins.less */
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.d-combobox-input[disabled],
fieldset[disabled] .d-combobox-input {
  opacity: 0.5;
  cursor: auto;
}
/* Applies to the input inside the root node but does not apply */
/* to the input conditionally present inside the popup */
.d-combobox .d-combobox-input {
  height: 100%;
  vertical-align: inherit;
  cursor: pointer;
  /* Necessary for Safari on iOS to avoid misplacement of the dropdown arrow */
  /* due to the presence of the hidden input which stores the submitted value.*/
  margin: 0;
}
.d-combobox .d-combobox-list-hidden {
  display: none;
}
.d-combobox-list .d-active-descendant {
  /* defined in delite/themes/bootstrap/mixins.less */
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
