/* For now, reuse the bootstrap less variables and functions*/
.d-combobox {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #555555;
  font-size: 14px;
  line-height: 1.428571429;
}
.d-combobox::after {
  content: "\25BC";
  padding: 0;
  position: relative;
  pointer-events: none;
  /* allow clicks to pass through */
  font-size: .7em;
  right: 1.7em;
}
.d-combobox-input {
  height: inherit;
}
.d-combobox-input[disabled],
fieldset[disabled] .d-combobox-input {
  opacity: 0.5;
}
.d-combobox-input,
.d-combobox-popup-input {
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.d-combobox .d-combobox-list-hidden {
  display: none;
}
.d-combobox-list > .d-list-container {
  position: relative;
  height: auto;
  width: auto;
}
.d-combobox-focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  /* defined in delite/themes/bootstrap/mixins.less */
}
.d-combobox-list .d-active-descendant {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  /* defined in delite/themes/bootstrap/mixins.less */
}
