<h1 data-dojo-type="dojox/mobile/Heading" back="Back" id="imageViewHeader">
	ImageView Widget
</h1>

<div 
	data-dojo-type="dojox/mobile/app.ImageView"
	id="imageView" 
	style="width:300px; height: 300px;">
</div>
<div>
	Zoom
	<button id="decZoom" data-dojo-type="dojox/mobile/Button">--</button>
	<button id="incZoom" data-dojo-type="dojox/mobile/Button">++</button>
	<button id="resetZoom" data-dojo-type="dojox/mobile/Button">Reset</button>
	<button id="toggleZoom" data-dojo-type="dojox/mobile/Button">Toggle</button>
</div>
<div>
	Pan
	<button id="panLeft" data-dojo-type="dojox/mobile/Button">&lt;</button>
	<button id="panRight" data-dojo-type="dojox/mobile/Button">&gt;</button>
	<button id="panUp" data-dojo-type="dojox/mobile/Button">^</button>
	<button id="panDown" data-dojo-type="dojox/mobile/Button">v</button>
</div>
