@import "variables.less";

// These declarations are from claro/variables.less
// TODO: adjust to match the theme
@primary-color: #cfe5fa;													// Base color for entire theme
@text-color: #000;													// Text color for enabled widgets

@container-background-color:#fff;										// Backgrounds for various content areas such as TitlePane, ContentPane and Inputs (if changed, adjust selected tab to match)
@border-color: spin(desaturate(darken(@primary-color, 15), 67), 8);						// Border color for (enabled, unhovered) TextBox, Slider, Accordion, BorderContainer, TabContainer
@base-border-color: spin(desaturate(darken(@primary-color, 29), 44), -1);		// Augmented and used directly by variables to create border colors for various widgets
@minor-selected-color: spin(saturate(darken(@primary-color, 6), 19), 0);						// Color for various arrows and buttons

@hovered-border-color: @base-border-color;								// Hover of textbox, tab label, BorderContainer splitter, Calendar, etc.
@hovered-background-color: @minor-selected-color;	// Background color for hover of Button, MenuBar, Accordion pane, Calendar... anything that has a (non-white) color to start with and gets darker on hover
@hovered-text-color: @text-color;										// Used for title of select Accordion pane, label of select tab, hovered Menu item, etc.

@selected-border-color: @base-border-color;  							// Selected AccordionPane, tab of nested TabContainer (but plain TabContainer is special)
@selected-background-color: @primary-color;								// Selected Accordion pane, nested tab label, Tree row
@selected-text-color: @text-color;										// title of selected Accordion pane, label of selected tab, hovered Menu item, etc.

@dnd-avatar-background-color: @container-background-color;					// Background color of little Dialog-type box indicating dragged items
@dnd-avatar-header-background-color: #f58383;		// Title bar for dragged items
@dnd-avatar-candrop-header-background-color: #97e68d;// Title bar for dragged items when they can be dropped
@dnd-dropseparator-color: @base-border-color;					// Color of line indicating that user is about to drop between items A & B
@image-dnd: "images/dnd.png";

@import "../dnd_template";
