// You can customize this theme by changing lightColor/darkColor and run the 'compile' script in ../utils.
// See ../utils/README for more informations on compiling themes.

@lightColor: #FFFFFF; // The base color of the theme
@darkColor: #000000;  // Mainly used for text and some borders

// Selected button gradient colors
@lightColor02: darken(@lightColor, 40%);
@lightColor03: darken(@lightColor, 26.5%);

// Background color of form controls, TabBar(segmented), dui Calendar thread and year label
@lightColor04: darken(@lightColor, 11.5%);

// Button background color
@lightColor05: darken(@lightColor, 35.5%);

// Background color of Heading, Overlay, bubble Tooltip and Calendar day label
@lightColor06: darken(@lightColor, 3.5%);

// Background color of Heading and bubble Tooltip
@lightColor07: darken(@lightColor, 13%);

// Background colors of ValuePicker slot
@lightColor08: darken(@lightColor, 26%);
@lightColor09: darken(@lightColor, 3%);
@lightColor10: darken(@lightColor, 16%);

// Background colors of ValuePicker input area
@lightColor11: darken(@lightColor, 2%);

// Border color of Button (bottom), Toolbar button (top left right), Toolbar button arrow, Switch, Slider handle,
// standard and segmented TabBar buttons, Tooltip arrow, Accordion, IconMenu (compat), dui Calendar increase/decrease buttons
@lightColor12: darken(@lightColor, 39.2%);

// Background color of View, Switch (left part), Accordion's title, SearchBox's cancel button,
// Border color of Button (top, left, right), Heading (top, bottom), RoundRect, ListItem, RadioButton, Slider,
// Accordion's selected title (bottom), SimpleDialog's title (bottom), dui Calendar.
@lightColor13: darken(@lightColor, 24.8%);

// Background color of dui Calendar month menu label.
@lightColor14: darken(@lightColor, 5%);

// Color of ListItem subtext, TabBar background gradient (barType=tabBar, tallBar)
@darkColor02: lighten(@darkColor, 17.5%);

// Background color of TabBar's button (barType=tabBar).
@darkColor03: lighten(@darkColor, 28.2%);

// Background color of TabBar's selected button (barType=tabBar).
@darkColor04: lighten(@darkColor, 14%);

// Text color of checked ListItem. Background color of TabBar's button (barType=tabBar).
@darkColor05: lighten(@darkColor, 25%);

// Border color of ToolBar's body (bottom), ToolBar's button arrow (right and bottom), Switch knob (bottom).
@darkColor06: lighten(@darkColor, 46.2%);

// Blue and red colors
@blueColor: #048bf4;
@blueColor02: lighten(@blueColor, 15%);
@redColor: #ee4115;
@redColor02: #fa9d58;



@import "../common/css3.less";

@default-blue-button-color: @lightColor;
@default-blue-button-background-color: @blueColor;
.default-blue-button-background-image () { .background-image-linear-gradient-top-bottom(@blueColor02, @blueColor); }
@default-blue-button-background-image-gecko: -moz-linear-gradient(top, @blueColor02 0%, @blueColor 100%);

.dui-color-blue-45 () { .background-image-linear-gradient-top-left-bottom-right(@blueColor, @blueColor02); }
.dui-color-default-45 () { .background-image-linear-gradient-top-left-bottom-right(@lightColor04, @lightColor05); }
.dui-color-default-sel-45 () { .background-image-linear-gradient-top-left-bottom-right(@lightColor03, @lightColor02); }

@dui-color-blue-45-gecko: -moz-linear-gradient(top left, @blueColor 0%, @blueColor02 100%);
@dui-color-default-45-gecko: -moz-linear-gradient(top left, @lightColor04 0%, @lightColor05 100%);
@dui-color-default-sel-45-gecko: -moz-linear-gradient(top left, @lightColor03 0%, @lightColor02 100%);

@default-button-color: @darkColor;
@default-button-background-color: @lightColor05;
.default-button-background-image () { .background-image-linear-gradient-top-bottom(@lightColor04, @lightColor05); }
@default-button-background-image-gecko: -moz-linear-gradient(top, @lightColor04 0%, @lightColor05 100%);
@default-button-border-radius: 0;

@default-button-selected-color: @lightColor;
@default-button-selected-background-color: @lightColor02;
.default-button-selected-background-image () { .background-image-linear-gradient-top-bottom(@lightColor03, @lightColor02); }
@default-button-selected-background-image-gecko: -moz-linear-gradient(top, @lightColor03 0%, @lightColor02 100%);

@default-selected-color: @lightColor;
@default-selected-background-color: @default-button-selected-background-color;
.default-selected-background-image () { .default-button-selected-background-image(); }
@default-selected-background-image-gecko: @default-button-selected-background-image-gecko;

@heading-background-color: @lightColor07;
.heading-background-image () { .background-image-linear-gradient-top-bottom(@lightColor06, @lightColor07); }
@heading-background-image-gecko: -moz-linear-gradient(top, @lightColor06 0%, @lightColor07 100%);
@heading-border-top-color: @lightColor13;
@heading-border-bottom-color: @lightColor13;

.default-button-border-styles () {
	border: 1px solid @lightColor13;
	border-bottom-color: @lightColor12;
	border-radius: @default-button-border-radius;
}

// background styles of form controls
.dui-button-background-image () { .background-image-linear-gradient-top-bottom(@lightColor, @lightColor04); }
.dui-button-selected-background-image () { .default-selected-background-image(); }
.dui-blue-button-background-image () { .default-blue-button-background-image(); }
.dui-blue-button-selected-background-image () { .default-selected-background-image(); }
.dui-red-button-background-image () { .background-image-linear-gradient-top-bottom(@redColor02, @redColor); }
.dui-red-button-selected-background-image () { .default-selected-background-image(); }
.dui-button-checked-background-image () { .dui-button-background-image(); }

// background styles of form controls (for gecko)
@dui-button-background-image-gecko: -moz-linear-gradient(top, @lightColor 0%, @lightColor04 100%);
@dui-button-selected-background-image-gecko: @default-selected-background-image-gecko;
@dui-blue-button-background-image-gecko: @default-blue-button-background-image-gecko;
@dui-blue-button-selected-background-image-gecko: @default-selected-background-image-gecko;
@dui-red-button-background-image-gecko: -moz-linear-gradient(top, @redColor02 0%, @redColor 100%);
@dui-red-button-selected-background-image-gecko: @default-selected-background-image-gecko;
@dui-button-checked-background-image-gecko: @dui-button-background-image-gecko;

// common.less
.mobile-body-styles () {
	font-family: Helvetica;
	font-size: 17px;
	color: @darkColor;
}

.duiBackground-styles () {
	background-color: @lightColor13;
}

.duiView-styles () {
	color: @darkColor;
}

.duiColorBlue-styles () {
	color: @default-blue-button-color;
	background-color: @default-blue-button-background-color;
	.default-blue-button-background-image();
}
.duiColorDefault-styles () {
	color: @default-button-color;
	background-color: @default-button-background-color;
	.default-button-background-image();
}
.duiColorDefaultSel-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color;
	.default-button-selected-background-image();
}
