@import "../../../../delite/themes/holodark/includes";
@import "../variables";

.d-switch-on-styles() {
	background-color: @holo-switch-on-color;
	background-image: none;
	color: @holo-color;
}
.d-switch-off-styles() {
	background-color: @holo-switch-off-color;
	background-image: none;
	color: @holo-color;
}
.d-switch-knob-styles() {
	box-shadow: 0 1px 6px black;
	background-color: @holo-switch-knob-color;
	background-image: none;
}
.d-switch-styles() {}
.d-switch-focused-styles() {
	.box-shadow(0 0 8px rgba(102,175,233,.6));
	border-color: rgba(102,175,233,1);
}

@d-switch-rounded-radius: 0px;

@import "../Switch_template.less";
