.d-view-indicator {
  display: block;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
.d-view-indicator * {
  display: inline-block;
}
.d-view-indicator .-d-view-indicator-dot {
  width: 0.75em;
  height: 0.75em;
  -moz-border-radius: 0.375em;
  border-radius: 0.375em;
  margin: 0.5em;
  background-color: #999999;
}
.d-view-indicator .-d-view-indicator-dot-selected {
  background-color: #ffffff;
}
.d-view-indicator .-d-view-indicator-dot::before {
  color: transparent;
  content: "\25CB";
}
.d-view-indicator .-d-view-indicator-dot-selected::before {
  content: "\25CF";
}
