.d-view-indicator {
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
.d-view-indicator,
.d-view-indicator * {
  display: inline-block;
}
.d-view-indicator .-d-view-indicator-dot {
  width: 6px;
  height: 6px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 6px;
  margin: 6px;
  background-color: #999999;
}
.d-view-indicator .-d-view-indicator-dot-selected {
  background-color: #ffffff;
}
.d-view-indicator .-d-view-indicator-dot::before {
  font-size: 14px;
  color: transparent;
  content: "\25CB";
}
.d-view-indicator .-d-view-indicator-dot-selected::before {
  content: "\25CF";
}
