/* dojox.mobile.Accordion */
.duiAccordionTitle {
  background-color: #f0f2f3;
}
.duiAccordionTitleSelected {
  background-color: #7796ac;
}
.dj_gecko .duiAccordionTitle {
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f0f2f3 20%, #e1e5e8 100%);
}
.dj_gecko .duiAccordionTitleSelected {
  background-image: -moz-linear-gradient(top, #97afc0 0%, #7796ac 20%, #46708e 100%);
}
.dj_ff3 .duiAccordionRoundRect {
  -moz-border-radius: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitle:first-child {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitleLast,
.dj_ff3 .duiAccordionRoundRect .duiAccordionPane:last-child {
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}
