.duiIconMenuItemRtl {
  float: right;
}
.duiIconMenuItemRtl.duiIconMenuItemFirstColumn {
  border-right: none;
  border-left: 1px solid #6b6c6f;
}
.duiIconMenuItemRtl.duiIconMenuItemFirstRow.duiIconMenuItemFirstColumn {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}
.duiIconMenuItemRtl.duiIconMenuItemFirstRow.duiIconMenuItemLastColumn {
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
}
.duiIconMenuItemRtl.duiIconMenuItemLastRow.duiIconMenuItemFirstColumn {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}
.duiIconMenuItemRtl.duiIconMenuItemLastRow.duiIconMenuItemLastColumn {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}
