/* dui.widget.Heading */
.dj_tablet .duiHeading {
	background-image: url(compat/ipad-heading-bg.png);
}
.dj_gecko.dj_tablet .duiHeading {
	background-image: -moz-linear-gradient(top, #f3f4f6 0%, #a7abb8 100%);
}

/* dui.mobile.ToolBarButton */
.dj_ie.dj_tablet .duiToolBarButtonHasLeftArrow .duiToolBarButtonLeftArrow {
	background-image: url(compat/ipad-arrow-button-head.png);
}
.dj_ie.dj_tablet .duiToolBarButtonHasRightArrow .duiToolBarButtonRightArrow {
	background-image: url(compat/ipad-arrow-button-right-head.png);
}
.dj_ie.dj_tablet .duiToolBarButtonBody {
	background-image: url(compat/ipad-arrow-button-bg.png);
}
.dj_ie.dj_tablet .duiToolBarButtonSelected .duiToolBarButtonLeftArrow {
	background-image: url(compat/ipad-arrow-button-head-sel.png);
}
.dj_ie.dj_tablet .duiToolBarButtonSelected .duiToolBarButtonRightArrow {
	background-image: url(compat/ipad-arrow-button-right-head-sel.png);
}
.dj_ie.dj_tablet .duiToolBarButtonSelected .duiToolBarButtonBody {
	background-image: url(compat/ipad-arrow-button-sel-bg.png);
}

/* dui.mobile.TabBar */
.dj_tablet .duiTabBarSegmentedControl,
.dj_tablet .duiTabBarStandardTab,
.dj_tablet .duiTabBarSegmentedControl .duiTabBarButton {
	background-image: url(compat/ipad-heading-bg.png);
}
.dj_tablet .duiTabBarSegmentedControl .duiTabBarButtonSelected {
	background-image: url(compat/ipad-arrow-button-bg.png);
}
.dj_tablet .duiTabBarStandardTab .duiTabBarButtonSelected {
	background-color: #f3f4f6;
	background-image: none;
}
.dj_gecko.dj_tablet .duiTabBarSegmentedControl,
.dj_gecko.dj_tablet .duiTabBarStandardTab,
.dj_gecko.dj_tablet .duiTabBarSegmentedControl .duiTabBarButton {
	background-image: -moz-linear-gradient(top, #f3f4f6 0%, #a7abb8 100%);
}
.dj_gecko.dj_tablet .duiTabBarSegmentedControl .duiTabBarButtonSelected {
	background-image: -moz-linear-gradient(top, #b1b5bb 0%, #6a727d 100%);
}
.dj_gecko.dj_tablet .duiTabBarStandardTab .duiTabBarButton {
	background-image: -moz-linear-gradient(top, #f0f0f2 0%, #959da0 100%);
}
.dj_gecko.dj_tablet .duiTabBarStandardTab .duiTabBarButtonSelected {
	background-image: -moz-linear-gradient(top, #f3f4f6 0%, #f2f3f7 100%);
}


/* Default Button Colors */
.dj_tablet .duiColorDefault {
	background-color: #8b919a;
}
.dj_gecko.dj_tablet .duiColorDefault {
	background-image: -moz-linear-gradient(top, #b1b5bb 0%, #6a727d 100%);
}

.dj_gecko.dj_tablet .duiColorDefault45 {
	background-image: -moz-linear-gradient(top left, #b1b5bb 0%, #6a727d 100%);
}
.dj_tablet .duiColorDefaultSel {
	background-color: #515761;
}
.dj_gecko.dj_tablet .duiColorDefaultSel {
	background-image: -moz-linear-gradient(top, #7a7e85 0%, #303845 100%);
}

.dj_gecko.dj_tablet .duiColorDefaultSel45 {
	background-image: -moz-linear-gradient(top left, #7a7e85 0%, #303845 100%);
}