@import url("iphone.css");

.alertDialog {
	width: 100%;
	padding-left: 2px;
	padding-right: 2px;
	z-index: 1000;
}

.alertDialogBody {
	border: 1px solid #adaaad;
	border-radius: 10px;
	/* 1.8 removed */
	background-color: white;
	margin-left: 2px;
	margin-right: 4px;
}

.alertTitle {
	height: 42px;
	margin: 0px;
	padding: 0px;
	background-color: #889bb3;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), to(#6d84a2), color-stop(0.5, #889bb3), color-stop(0.5, #8195af));
	border-top: 1px solid #cdd5df;
	border-bottom: 1px solid #2d3642;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 44px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.alertText {
	text-align: center;
}

.alertBtns {
	padding: 5px;
	text-align: center;
}

.alertBtns .duiButton {
	width: 100%;
	margin-top: 5px;
}

.alertDialog.duiOut {
	position: absolute;
}

.alertDialog.duiIn {
	position: absolute;
}

.duiSlidev.duiOut {
	-webkit-animation-duration: .4s;
	-webkit-animation-name: duiSlideOut;
	-webkit-animation-timing-function: linear;
	-webkit-transform: translateY(-100%);
}
.duiSlidev.duiIn {
	-webkit-animation-duration: .4s;
	-webkit-animation-name: duiSlideIn;
	-webkit-animation-timing-function: linear;
	-webkit-transform: translateY(0px);
}
.duiSlidev.duiOut.duiReverse {
	-webkit-animation-name: duiSlideOutReverse;
}
.duiSlidev.duiIn.duiReverse {
	-webkit-animation-name: duiSlideInReverse;
}

.dialogUnderlayWrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	background: transparent !important;
	visibility: visible;
	height: 100%;
	width: 100%;
}

.dialogUnderlay {
	background-color: #eee;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.list .row {
	padding: 10px;
	border-bottom: 1px solid #444;
	position: relative;
	background-color: white;
	z-index: 6; /* Must be greater than the .buttons z-index */
}
.list .row.duiListItem {
	padding: 0px;
}

.list .row.last {
	border-bottom: none;
}

.list .row.hold {
	background-color: #ddd;
}

.list .buttons {
	position: absolute;
	text-align: center;
	padding-top: 10px;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.list .buttons .duiButton {
}

.list .buttons .deleteBtn {
	background-color: red;

}
.list .buttons .cancelBtn {
	margin-left: 10px;
	background-color: blue;
}

.row.collapsed {
	-webkit-animation-name: collapse-vert;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes collapse-vert {
	from {
		height: 100%;
		padding: 10px;
	}
	to {
		height: 0px;
		padding: 0px;
	}
}

.listSelector {
	position: absolute;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #666;
	background-color: #ccc;
	color: #333;
	z-index: 1000;
}
.listSelectorRow {
	padding: 10px;
	border-bottom: 1px solid #666;
	white-space: nowrap;
}
.listSelectorRow-selected {
	background-color: #666;
	color: #ccc;
}

.listSelectorRow.last {
 	border-bottom: none;
}

.duiImageView, .duiImageView canvas {
	width: 100%;
	height: 100%;
}

.duiPillar {
	display: none;
}

/* Form Input Styles */

input {
	-webkit-text-size-adjust: 140%;
}


/* ImageThumbView styles */
.duiImageThumbView {
	position: relative;
	-webkit-transition-property: height;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-delay: 0;
}

.duiImageThumbView .duiThumb {
	width: 100px;
	min-height: 100px;
	display: inline-block;
	z-index: 2;
	position: absolute;
}

.duiImageThumbView.animated .duiThumb {
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-duration: 1.3s, 1s;
	-webkit-transition-delay: 0, 0;
}

.duiImageThumbView .duiThumb.hidden {
	z-index: 1;
	opacity: 0;
}
.duiImageThumbView .duiThumbInner {
	width: 102px;
	height: 102px;
	position: relative;
}

.duiImageThumbView .duiThumbOverlay {
	width: 102px;
	height: 102px;
	background: url(images/thumb-overlay.png) center top no-repeat;
	position: absolute;
	z-index: 20;
	overflow: hidden;
}
.duiImageThumbView .duiThumb.selected .duiThumbOverlay {
	background-position: center bottom;
}
.duiImageThumbView .duiThumbInner .duiThumbMask {
	width: 90px;
	height: 90px;
	overflow: hidden;
	padding-left: 6px;
	padding-top: 5px;
	z-index: 10;
}
.duiImageThumbView .duiThumbInner .duiThumbMask img {
	left: 0px;
	top: 0px;
	width: 90px;
	height: 90px;
}

.duiImageThumbView .duiThumbInner .duiThumbMask .duiThumbSrc {
	left: 6px;
	top: 5px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	-webkit-background-size: 100% 100%;
	border-radius: 5px;
	width: 90px;
	height: 90px;
	z-index: 5;
}

.duiImageThumbView .duiThumbMask div {
	left: 0px;
	top: 0px;
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
}
.duiImageThumbView .duiThumb:hover,
.duiImageThumbView .duiThumb.selected {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Large Images */
.duiImageThumbView.large .duiThumb {
	width: 150px;
	min-height: 150px;
}

.duiImageThumbView.large .duiThumbInner{
	width: 152px;
	height: 152px;
}

.duiImageThumbView.large .duiThumbOverlay {
	background: url(images/thumb-overlay-large.png) center top no-repeat;
	width: 152px;
	height: 152px;
}
.duiImageThumbView.large .duiThumbInner .duiThumbMask,
.duiImageThumbView.large .duiThumbInner .duiThumbMask img,
.duiImageThumbView.large .duiThumbInner .duiThumbMask .duiThumbSrc,
.duiImageThumbView.large .duiThumbMask div {
	width: 133px;
	height: 133px;
}

.duiImageThumbView.large .duiThumbInner .duiThumbMask .duiThumbSrc {
	left: 9px;
	top: 7px;
}
/* Small Images */
.duiImageThumbView.small .duiThumb {
	width: 75px;
	min-height: 75px;
}

.duiImageThumbView.small .duiThumbInner{
	width: 77px;
	height: 77px;
}

.duiImageThumbView.small .duiThumbOverlay {
	background: url(images/thumb-overlay-small.png) center top no-repeat;
	width: 77px;
	height: 77px;
}
.duiImageThumbView.small .duiThumbInner .duiThumbMask,
.duiImageThumbView.small .duiThumbInner .duiThumbMask img,
.duiImageThumbView.small .duiThumbInner .duiThumbMask .duiThumbSrc,
.duiImageThumbView.small .duiThumbMask div {
	width: 70px;
	height: 70px;
}

.duiImageThumbView.small .duiThumbInner .duiThumbMask .duiThumbSrc {
	left: 4px;
	top: 3px;
}

.duiImageThumbView .duiThumbLabel {
	font-size: smaller;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}