@import url("../common/domButtons/DomButtonGrayArrow.css");

@import url("../common/domButtons/DomButtonDarkBlueCheck.css");
/* dojox.mobile.ListItem */
.duiListItem {
  position: relative;
  overflow: hidden;
  /* for focus frame */

  padding: 0 8px;
  height: 43px;
  list-style-type: none;
  line-height: 43px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #adaaad;
  font-weight: bold;
  color: black;
}
.duiListItem.duiVariableHeight {
  padding: 11px 8px;
  height: auto;
  line-height: normal;
}
.duiListItemSelected {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#048bf4), to(#005ce5));
  background-image: linear-gradient(to bottom, #048bf4 0%, #005ce5 100%);
}
.duiListItemSelected .duiDomButton div {
  border-color: white;
}
.duiListItemLabelSelected {
  background-color: #048bf4;
}
.duiListItemChecked {
  color: #314e84;
}
.duiListItemChecked .duiListItemRightIcon {
  visibility: visible;
}
.duiListItemChecked .duiListItemUncheckIcon {
  position: absolute;
  visibility: hidden;
}
.duiListItemUnchecked .duiListItemRightIcon {
  visibility: hidden;
}
.duiListItemUnchecked .duiListItemUncheckIcon {
  visibility: visible;
}
.duiListItemDeleteIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.duiListItemIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
  margin-right: 11px;
}
.duiListItemRightIcon,
.duiListItemRightIcon2,
.duiListItemUncheckIcon {
  position: relative;
  float: right;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
}
.duiListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  margin-right: 4px;
  color: #324f85;
  margin-top: 12px;
}
.duiListItemLabel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.duiVariableHeight .duiListItemLabel {
  white-space: normal;
}
.duiListItemLayoutLeft {
  position: relative;
  float: left;
  margin-right: 11px;
}
.duiListItemLayoutCenter {
  position: absolute;
  width: 100%;
  text-align: center;
}
.duiListItemLayoutRight {
  position: relative;
  float: right;
}
/* dojox.mobile._EditableListMixin */
.duiListItemFloat {
  position: absolute;
  border: 1px solid gray;
  opacity: 0.5;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
/* iOS 6 specific */
.dj_ios6 .duiListItemRightText {
  color: #385487;
  font-weight: normal;
}
.dj_ios6 .duiListItem {
  /* enables hardware acc. to avoid flickering issues - see #16956 */

  -webkit-perspective: 1000;
}
