/* dojox.mobile.TabBarButton Rtl */
.duiTabBarButtonRtl {
  float: right;
}
.duiTabBarButtonIconAreaRtl {
  margin: 0 auto;
  width: 29px;
}
/* barType="tabBar" Rtl */
.duiTabBarTabBar .duiTabBarButtonIconAreaRtl {
  padding-top: 4px;
}
/* barType="segmentedControl" Rtl */
.duiTabBarSegmentedControl.duiTabBarNoText .duiTabBarButtonIconAreaRtl {
  position: relative;
}
.duiTabBarSegmentedControl .duiTabBarButtonRtl {
  border-width: 1px 0px 1px 1px !important;
}
.duiTabBarSegmentedControl .duiTabBarButtonRtl:first-child {
  border-right-width: 1px !important;
  border-left-width: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
}
.duiTabBarSegmentedControl .duiTabBarButtonRtl:last-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-left-width: 1px !important;
}
.duiTabBarSegmentedControl .duiTabBarButtonIconAreaRtl {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
}
.duiHeading .duiTabBarSegmentedControl.duiTabBarRtl {
  float: right;
}
/* barType="standardTab" Rtl */
.duiTabBarStandardTab .duiTabBarButtonIconAreaRtl {
  position: absolute;
  top: 3px;
  right: 0px;
  left: auto;
}
.duiTabBarStandardTab .duiTabBarButtonRtl.duiTabBarButtonHasIcon .duiTabBarButtonLabel {
  margin-right: 20px;
  margin-left: 0px;
}
/* barType="slimTab" Rtl */
.duiTabBarSlimTab .duiTabBarButtonRtl {
  border-left: 1px solid #4e4e4e;
}
.duiTabBarSlimTab .duiTabBarButtonRtl:first-child {
  border-right: 1px solid #4e4e4e;
}
.duiTabBarSlimTab .duiTabBarButtonIconAreaRtl {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
}
.duiTabBarSlimTab .duiTabBarButtonRtl.duiTabBarButtonHasIcon .duiTabBarButtonLabel {
  margin-right: 20px;
  margin-left: 0px;
}
/* barType="flatTab" Rtl*/
.duiTabBarFlatTab .duiTabBarButtonIconAreaRtl {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
}
.duiTabBarFlatTab .duiTabBarButtonRtl.duiTabBarButtonHasIcon .duiTabBarButtonLabel {
  margin-right: 20px;
  margin-left: 0px;
}
/* barType="tallTab" */
.duiTabBarTallTab .duiTabBarButtonRtl {
  margin-left: 2px;
}
.duiTabBarTallTab .duiTabBarButtonIconAreaRtl {
  margin-top: 8px;
}
