// Template for Drag and Drop CSS, included from themes/*/dnd.less files


.dojoDndItem {
	padding: 2px;  // will be replaced by border during drag over (dojoDndItemBefore, dojoDndItemAfter)

	// Prevent magnifying-glass text selection icon to appear on mobile webkit as it causes a touchout event
	-webkit-touch-callout: none;
	-webkit-user-select: none; // Disable selection/Copy of UIWebView

	border-color: rgba(0,0,0,0);	// rgba() instead of none to prevent flash on hover fade-in
	.transition-duration(.25s);
	.transition-property(background-color, border-color)
}
.dojoDndHorizontal .dojoDndItem {
	// make contents of horizontal container be side by side, rather than vertical
	display: inline-block;
}

.dojoDndItemBefore,
.dojoDndItemAfter {
	// line to indicate that user is dropping before/after this dojoDndItem
	border: 0px solid #369;
	border-color: @dnd-dropseparator-color;
}
.dojoDndItemBefore {
	border-width: 2px 0 0 0;
	padding: 0 2px 2px 2px;
}
.dojoDndItemAfter {
	border-width: 0 0 2px 0;
	padding: 2px 2px 0 2px;
}
.dojoDndHorizontal .dojoDndItemBefore {
	border-width: 0 0 0 2px;
	padding: 2px 2px 2px 0;
}
.dojoDndHorizontal .dojoDndItemAfter {
	border-width: 0 2px 0 0;
	padding: 2px 0 2px 2px;
}

.dojoDndItemOver {
	// Hovered item.  Matches duiTreeRow:hover.
	cursor:pointer;
	background-color:@hovered-background-color;
	.standard-gradient;
	padding: 1px;	// reduce from 2px in dijit.css
	border:solid 1px @hovered-border-color;
	color:@hovered-text-color;
}
.dojoDndItemAnchor,
.dojoDndItemSelected {
	// Selected items(s).   Matches duiTreeRowSelected.
	background-color:@selected-background-color;
	.standard-gradient;
	padding: 1px;	// reduce from 2px in dijit.css
	border:solid 1px @selected-border-color;
	color:@selected-text-color;
}

table.dojoDndAvatar {
	border: 1px solid @border-color;
	border-collapse: collapse;
	background-color: @dnd-avatar-background-color;
	.box-shadow(0 1px 3px rgba(0, 0, 0, .25));
}
.dojoDndAvatarHeader td	{
	height: 20px;
	padding-left:21px;
}
.dojoDndMove .dojoDndAvatarHeader, .dojoDndCopy .dojoDndAvatarHeader {
	background-image: url(@image-dnd);
	background-repeat: no-repeat;
	background-position:2px -122px;
}
.dojoDndAvatarItem td {
	padding: 5px;
}
.dojoDndMove .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-header-background-color;
	background-position:2px -103px;
}
.dojoDndCopy .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-header-background-color;
	background-position:2px -68px;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-candrop-header-background-color;
	background-position:2px -33px;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-candrop-header-background-color;
	background-position:2px 2px;
}

// These rules should apply for containers that are dir=rtl (either set directly, or inherited)
// but seems the best we can do is look for .d-rtl on an ancestor node.

.d-rtl .dojoDndHorizontal .dojoDndItemBefore {
  border-width: 0 2px 0 0;
  padding: 2px 0 2px 2px;
}
.d-rtl .dojoDndHorizontal .dojoDndItemAfter {
  border-width: 0 0 0 2px;
  padding: 2px 2px 2px 0;
}
