/* dojox.mobile.Accordion */
.duiAccordionTitle {
  background-color: #f8f8f8;
}
.duiAccordionTitleSelected {
  background-color: #00ba00;
}
.dj_gecko .duiAccordionTitle {
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #f8f8f8 50%, #eeeeee 50%, #cecece 100%);
}
.dj_gecko .duiAccordionTitleSelected {
  background-image: -moz-linear-gradient(top, #00a200 0%, #00ba00 20%, #00ba00 20%, #00d300 100%);
}
.dj_ff3 .duiAccordionRoundRect {
  -moz-border-radius: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitle:first-child {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}
.dj_ff3 .duiAccordionRoundRect .duiAccordionTitleLast,
.dj_ff3 .duiAccordionRoundRect .duiAccordionPane:last-child {
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}
