/* dui.mobile.FixedSplitter */
.duiFixedSplitter {
  width: 100%;
  height: 100%;
}
/* For FixedSplitter's child panes */
.duiFixedSplitter > * {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}
.duiFixedSplitterH > * {
  height: 100%;
  top: 0px;
}
.duiFixedSplitterV > * {
  width: 100%;
  left: 0px;
}
