@import url("../common/domButtons/DomButtonGrayArrow_rtl.css");

@import url("../common/domButtons/DomButtonWhiteCheck_rtl.css");
/* dojox.mobile.ListItem Rtl*/
.duiListItemRtl .duiListItemDeleteIcon {
  float: right;
  margin-left: 11px;
}
.duiListItemRtl .duiListItemIcon {
  float: right;
  margin-left: 11px;
  margin-right: 0px;
}
.duiListItemRtl .duiListItemRightIcon,
.duiListItemRtl .duiListItemRightIcon2,
.duiListItemRtl .duiListItemUncheckIcon {
  float: left;
}
.duiListItemRtl .duiListItemRightText {
  float: left;
  margin-left: 4px;
}
.duiListItemRtl .duiListItemLayoutLeft {
  float: right;
  margin-left: 11px;
}
.duiListItemRtl .duiListItemLayoutRight {
  float: left;
}
