/* dui.mobile.Overlay */
.duiOverlay {
  text-align: center;
}
.dj_gecko .duiOverlay {
  text-align: -moz-center;
}
.dj_ie9 .duiOverlay > *,
.dj_ie8 .duiOverlay > * {
  margin: 0 auto;
}
.dj_ie6 .duiOverlay {
  *position: absolute;
}
