@import url("TextBox.css");
/* dui.mobile.SearchBox */
.duiSearchBox.iphone4:focus::-webkit-search-cancel-button {
  background: none !important;
  border-color: transparent !important;
}
.duiSearchBox::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #000000), color-stop(0.54, #000000), color-stop(0.54, transparent), to(transparent)), -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #000000), color-stop(0.54, #000000), color-stop(0.54, transparent), to(transparent)) !important;
  border: 2px solid transparent;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  border-radius: 0;
}
.duiSearchBox::-webkit-search-results-decoration {
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-size: 13px 13px, 9px 9px;
  background-position: 0px 0px, 10px 10px;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 6, from(transparent), color-stop(0.65, transparent), color-stop(0.8, #000000), color-stop(0.95, transparent), to(transparent)), -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(0.425, transparent), color-stop(0.5, #000000), color-stop(0.575, transparent), to(transparent)) !important;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.duiSearchBox {
  height: auto;
}
.dj_chrome .duiSearchBox {
  border-radius: 0;
}
/* CSS class for the parent DIV of the dui/mobile/SearchBox used for filtering a 
  dui/mobile/RoundRectList or subclass. This class is set by dui/mobile/FilteredListMixin 
  only if the mixin creates the SearchBox by itself. */
.duiFilteredRoundRectListSearchBox {
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.duiFilteredRoundRectListSearchBox > input {
  width: 100%;
}
/* CSS class for the parent DIV of the dui/mobile/SearchBox used for filtering a 
  dui/mobile/EdgeToEdgeList or subclass. This class is set by dui/mobile/FilteredListMixin 
  only if the mixin creates the SearchBox by itself. */
.duiFilteredEdgeToEdgeListSearchBox {
  width: 100%;
}
.duiFilteredEdgeToEdgeListSearchBox > input {
  width: 100%;
}
