/* dui.mobile.ToolBarButton Rtl */
.duiHeading .duiToolBarButtonRtl {
  float: right;
}
.duiToolBarButtonTextRtl .duiToolBarButtonIcon {
  padding-right: 10px;
  padding-left: 0px;
}
.duiToolBarButtonTextRtl .duiToolBarButtonLabel {
  padding-left: 10px;
  padding-right: 0px;
}
.duiToolBarButtonHasRightArrow .duiToolBarButtonArrow {
  right: -1px;
}
.duiToolBarButtonHasLeftArrow .duiToolBarButtonArrow {
  left: -2px;
}
