/* dojox.mobile.Tooltip */
.duiTooltip {
  background-image: none;
}
.dj_ff3 .duiTooltip {
  -moz-border-radius: 3px;
}
.dj_ie9 .duiTooltip .duiHeading {
  width: auto;
}
.dj_ie6 .duiTooltipBefore .duiTooltipArrow,
.dj_ie7 .duiTooltipBefore .duiTooltipArrow {
  right: 0;
}
.dj_ie6 .duiTooltipAbove .duiTooltipArrow,
.dj_ie7 .duiTooltipAbove .duiTooltipArrow {
  bottom: 0;
}
.dj_ie6 .duiTooltipBefore .duiTooltipInnerArrow,
.dj_ie7 .duiTooltipBefore .duiTooltipInnerArrow {
  right: -1px;
}
.dj_ie6 .duiTooltipAbove .duiTooltipInnerArrow,
.dj_ie7 .duiTooltipAbove .duiTooltipInnerArrow {
  bottom: -1px;
}
.dj_ie6 .duiTooltip .duiHeading,
.dj_ie7 .duiTooltip .duiHeading {
  padding: 0 9px 12px;
  border-top: 1px solid #8c8a8c;
  border-bottom: 1px solid #8c8a8c;
  width: auto;
  height: auto;
  overflow: visible;
  line-height: normal;
}
.dj_ie6 .duiTooltip .duiHeading .duiToolBarButton,
.dj_ie7 .duiTooltip .duiHeading .duiToolBarButton {
  margin: auto 6px;
}
