<span class="dui duiReset duiInline" role="presentation"
	><span class="duiReset duiInline duiButtonNode"
		data-dojo-attach-event="ondijitclick:__onClick" role="presentation"
		><span class="duiReset duiStretch duiButtonContents"
			data-dojo-attach-point="titleNode,focusNode"
			role="button" aria-labelledby="${id}_label"
			><span class="duiReset duiInline duiIcon" data-dojo-attach-point="iconNode"></span
			><span class="duiReset duiToggleButtonIconChar">&#x25CF;</span
			><span class="duiReset duiInline duiButtonText"
				id="${id}_label"
				data-dojo-attach-point="containerNode"
			></span
		></span
	></span
	><input type="${type}" value="${value}" class="duiOffScreen"
		data-dojo-attach-event="onclick:_onClick"
		tabIndex="-1" role="presentation" data-dojo-attach-point="valueNode"
/></span>
