<table class="dui duiReset duiInline duiLeft"
	cellspacing='0' cellpadding='0' role="presentation"
	><tbody role="presentation"><tr role="presentation"
		><td class="duiReset duiStretch duiButtonNode" data-dojo-attach-point="buttonNode" data-dojo-attach-event="ondijitclick:__onClick,onkeydown:_onButtonKeyDown"
		><div id="${id}_button" class="duiReset duiButtonContents"
			data-dojo-attach-point="titleNode"
			role="button" aria-labelledby="${id}_label"
			><div class="duiReset duiInline duiIcon" data-dojo-attach-point="iconNode" role="presentation"></div
			><div class="duiReset duiInline duiButtonText" id="${id}_label" data-dojo-attach-point="containerNode" role="presentation"></div
		></div
		></td
		><td id="${id}_arrow" class='duiReset duiRight duiButtonNode duiArrowButton'
			data-dojo-attach-point="_popupStateNode,focusNode,_buttonNode"
			data-dojo-attach-event="onkeydown:_onArrowKeyDown"
			title="${optionsTitle}"
			role="button" aria-haspopup="true"
			><div class="duiReset duiArrowButtonInner" role="presentation"></div
			><div class="duiReset duiArrowButtonChar" role="presentation">&#9660;</div
		></td
		><td style="display:none !important;"
			><input type="${type}" value="${value}" data-dojo-attach-point="valueNode" role="presentation"
				data-dojo-attach-event="onclick:_onClick"
		/></td></tr></tbody
></table>
