<table class="dui duiReset duiSlider duiSliderH" cellspacing="0" cellpadding="0" border="0" rules="none" data-dojo-attach-event="onkeydown:_onKeyDown, onkeyup:_onKeyUp"
	role="presentation"
	><tr class="duiReset"
		><td class="duiReset" colspan="2"></td
		><td data-dojo-attach-point="topDecoration" class="duiReset duiSliderDecoration duiSliderDecorationT duiSliderDecorationH"></td
		><td class="duiReset" colspan="2"></td
	></tr
	><tr class="duiReset"
		><td class="duiReset duiSliderButtonContainer duiSliderButtonContainerH"
			><div class="duiSliderDecrementIconH" style="display:none" data-dojo-attach-point="decrementButton"><span class="duiSliderButtonInner">-</span></div
		></td
		><td class="duiReset"
			><div class="duiSliderBar duiSliderBumper duiSliderBumperH duiSliderLeftBumper" data-dojo-attach-event="press:_onClkDecBumper"></div
		></td
		><td class="duiReset"
			><input data-dojo-attach-point="valueNode" type="hidden"
			/><div class="duiReset duiSliderBarContainerH" role="presentation" data-dojo-attach-point="sliderBarContainer"
				><div role="presentation" data-dojo-attach-point="progressBar" class="duiSliderBar duiSliderBarH duiSliderProgressBar duiSliderProgressBarH" data-dojo-attach-event="press:_onBarClick"
					><div class="duiSliderMoveable duiSliderMoveableH"
						><div data-dojo-attach-point="sliderHandle,focusNode" class="duiSliderImageHandle duiSliderImageHandleH" data-dojo-attach-event="press:_onHandleClick" role="slider"></div
					></div
				></div
				><div role="presentation" data-dojo-attach-point="remainingBar" class="duiSliderBar duiSliderBarH duiSliderRemainingBar duiSliderRemainingBarH" data-dojo-attach-event="press:_onBarClick"></div
			></div
		></td
		><td class="duiReset"
			><div class="duiSliderBar duiSliderBumper duiSliderBumperH duiSliderRightBumper" data-dojo-attach-event="press:_onClkIncBumper"></div
		></td
		><td class="duiReset duiSliderButtonContainer duiSliderButtonContainerH"
			><div class="duiSliderIncrementIconH" style="display:none" data-dojo-attach-point="incrementButton"><span class="duiSliderButtonInner">+</span></div
		></td
	></tr
	><tr class="duiReset"
		><td class="duiReset" colspan="2"></td
		><td data-dojo-attach-point="containerNode,bottomDecoration" class="duiReset duiSliderDecoration duiSliderDecorationB duiSliderDecorationH"></td
		><td class="duiReset" colspan="2"></td
	></tr
></table>
