/*
	Essential styles that themes can inherit.
	In other words, works but doesn't look great.
*/



/****
		GENERIC PIECES
 ****/

.dijitReset {
	/* Use this style to null out padding, margin, border in your template elements
		so that page specific styles don't break them.
		- Use in all TABLE, TR and TD tags.
	*/
	margin:0;
	border:0;
	padding:0;
	font: inherit;
	line-height:normal;
	color: inherit;
}
.dj_a11y .dijitReset {
	-moz-appearance: none; /* remove predefined high-contrast styling in Firefox */
}

.dijitInline {
	/*  To inline block elements.
		Similar to InlineBox below, but this has fewer side-effects in Moz.
		Also, apparently works on a DIV as well as a FIELDSET.
	*/
	display:inline-block;			/* webkit and FF3 */
	border:0;
	padding:0;
	vertical-align:middle;
}

table.dijitInline {
	/* To inline tables with a given width set */
	display:inline-table;
	box-sizing: content-box; -moz-box-sizing: content-box;
}

.dijitHidden {
	/* To hide unselected panes in StackContainer etc. */
	display: none !important;
}

.dijitVisible {
	/* To show selected pane in StackContainer etc. */
	display: block !important;	/* override user's display:none setting via style setting or indirectly via class */
	position: relative;			/* to support setting width/height, see #2033 */
}

.dijitOffScreen { /* these class attributes should supercede any inline positioning style */
	position: absolute !important;
	left: -10000px !important;
	top: -10000px !important;
}

.dijitBackgroundIframe {
	/* iframe used to prevent problems with PDF or other applets overlaying menus etc */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 0;
	padding: 0;
	margin: 0;
}

.dijitDisplayNone {
	/* hide something.  Use this as a class rather than element.style so another class can override */
	display:none !important;
}

.dijitContainer {
	/* for all layout containers */
	overflow: hidden;	/* need on IE so something can be reduced in size, and so scrollbars aren't temporarily displayed when resizing */
}

/****
		A11Y
 ****/
.dj_a11y .dijitIcon,
.dj_a11y div.dijitArrowButtonInner, /* is this only for Spinner?  if so, it should be deleted */
.dj_a11y span.dijitArrowButtonInner,
.dj_a11y img.dijitArrowButtonInner {
	/* hide icon nodes in high contrast mode; when necessary they will be replaced by character equivalents
	 * exception for input.dijitArrowButtonInner, because the icon and character are controlled by the same node */
	display: none;
}

.dj_a11y .dijitA11ySideArrow {
	display: inline !important; /* display text instead */
	cursor: pointer;
}

/* Layout widgets. This is essential CSS to make layout work (it isn't "styling" CSS)
   make sure that the position:absolute in dijitAlign* overrides other classes */

.dijitLayoutContainer {
	position: relative;
	display: block;
	overflow: hidden;
}

.dijitAlignTop,
.dijitAlignBottom,
.dijitAlignLeft,
.dijitAlignRight {
	position: absolute;
	overflow: hidden;
}

body .dijitAlignClient { position: absolute; }


.dijitNoIcon {
	/* applied to <img>/<span> node when there is no icon specified */
	display: none;
}

/**** Disabled cursor *****/
.dijitReadOnly *,
.dijitDisabled *,
.dijitReadOnly,
.dijitDisabled {
	/* a region the user would be able to click on, but it's disabled */
	cursor: default;
}

.dj_gecko .dijitArrowButtonInner INPUT,
.dj_gecko INPUT.dijitArrowButtonInner {
	-moz-user-focus:ignore;
}
