/*
 * -----------------------------------------------
 *  Theme     : holodark
 *  Widget    : deliteful/ProgressBar
 *  baseClass : d-progress-bar
 * -----------------------------------------------
 */
@import "../../../../delite/themes/holodark/variables.less";

@transition-params: 0.3s linear 0s;

.d-progress-bar-styles() {
  height: 1.5em;
  font-size: 12px;
  vertical-align: middle;
}

.d-progress-bar-background-styles() {
  height: 0.334em;
  background-color: #333333;
  position: absolute;
}

.d-progress-bar-backgroundBefore-styles() {
}

.d-progress-bar-indicator-styles() {
  .transition(width @transition-params);
  height: 100%;
  background: #33B5E5;
  position: relative;
}

.d-progress-bar-empty-indicator-styles() {
}

.d-progress-bar-full-indicator-styles() {
}

.d-progress-bar-label-styles() {
  text-align: center;
  position: absolute;
  height: 1.1em;
  line-height: 1.1em;
  top:0.5em;
}

.d-progress-bar-label-invert-styles() {
  display: none;
}

.d-progress-bar-label-ext-styles() {
  text-align: left;
}

.d-progress-bar-label-extAfter-styles() {
  content: attr(label-ext);
  float: right;
}

.d-progress-bar-indeterminate-background-styles() {
  background: #33B5E5;
}

.d-progress-bar-indeterminate-indicator-styles() {
  background: #333333;
  width: 5%;
  .transition(width 0s);
  .animation-name(d-progress-bar-indeterminate-animation);
  .animation-duration(1.5s);
  .animation-timing-function(cubic-bezier(.1, .86, .76, .1));
  .animation-iteration-count(infinite);
}

.keyframes-d-progress-bar-indeterminate-animation() {
  0% {
    left: 2%;
  }
  100% {
    left: 93%;
  }
}

@import "../ProgressBar_template";