.d-readonly *,
.d-disabled *,
.d-readonly,
.d-disabled {
  cursor: default;
}
.d-reset {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  line-height: normal;
  color: inherit;
}
.d-inline {
  display: inline-block;
  border: 0;
  padding: 0;
  vertical-align: middle;
}
.d-hidden,
[d-hidden=true],
[d-shown=false] {
  display: none;
}
.d-invisible,
[d-invisible=true],
[d-visible=false] {
  visibility: hidden;
}
.d-popup {
  position: absolute;
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-tooltip-dialog-popup {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*
 * -----------------------------------------------
 *  Theme     : holodark (RTL)
 *  Widget    : deliteful/ProgressBar
 *  baseClass : d-progress-bar
 * -----------------------------------------------
 */
.d-progress-bar-msg-ext::after {
  content: attr(msg-ext);
  float: left;
  display: block;
}
.d-rtl .d-progress-bar-indicator {
  -webkit-transition: width 0.3s linear 0s;
  transition: width 0.3s linear 0s;
  float: right;
  position: relative;
}
.d-rtl.d-progress-bar-indeterminate .d-progress-bar-indicator {
  position: absolute;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  /* fyi: reverse has same effect as normal on android (4.2.2 GS4) */
}
.d-rtl .d-progress-bar-msg-ext {
  text-align: right;
}
