<div role="presentation" data-dojo-attach-point="titleNode,innerDiv,tabContent" class="duiTabInner duiTabContent">
	<span role="presentation" class="duiInline duiIcon duiTabButtonIcon" data-dojo-attach-point="iconNode"></span>
	<span data-dojo-attach-point='containerNode,focusNode' class='tabLabel'></span>
	<span class="duiInline duiTabCloseButton duiTabCloseIcon" data-dojo-attach-point='closeNode'
		  role="presentation">
		<span data-dojo-attach-point='closeText' class='duiTabCloseText'>[x]</span
				></span>
</div>
