<div data-dojo-attach-event='ondijitclick:_onTitleClick' class='duiAccordionTitle' role="presentation">
	<div data-dojo-attach-point='titleNode,focusNode' data-dojo-attach-event='onkeydown:_onTitleKeyDown'
			class='duiAccordionTitleFocus' role="tab" aria-expanded="false"
		><span class='duiInline duiAccordionArrow' role="presentation"></span
		><span class='arrowTextUp' role="presentation">+</span
		><span class='arrowTextDown' role="presentation">-</span
		><span role="presentation" class="duiInline duiIcon" data-dojo-attach-point="iconNode"></span>
		<span role="presentation" data-dojo-attach-point='titleTextNode, textDirNode' class='duiAccordionText'></span>
	</div>
</div>
