@import "../../../delite/themes/common/mixins";

.translate(@val){
	.transform (translate3d(@val, 0px, 0px));
}

.left(@val){
	left: @val;
	right: auto;
}

.right(@val){
	right: @val;
	left: auto;
}

.d-rtl.-d-side-pane-end{
	.left(0);
}

.d-rtl.-d-side-pane-start{
	.right(0);
}

.d-rtl.-d-side-pane-end.-d-side-pane-push.-d-side-pane-hidden, .d-rtl.-d-side-pane-end.-d-side-pane-overlay.-d-side-pane-hidden{
	.left(0);
	.translate(-@PANEL_WIDTH);
}
.d-rtl.-d-side-pane-end.-d-side-pane-push.-d-side-pane-visible, .d-rtl.-d-side-pane-end.-d-side-pane-overlay.-d-side-pane-visible{
	.left(0);
	.translate(0px);
}

.d-rtl.-d-side-pane-start.-d-side-pane-push.-d-side-pane-hidden, .d-rtl.-d-side-pane-start.-d-side-pane-overlay.-d-side-pane-hidden{
	.right(0);
	.translate(@PANEL_WIDTH);
}

.d-rtl.-d-side-pane-start.-d-side-pane-push.-d-side-pane-visible, .d-rtl.-d-side-pane-start.-d-side-pane-overlay.-d-side-pane-visible{
	.right(0);
	.translate(0px);
}

.d-rtl.-d-side-pane-end.-d-side-pane-translated{
	.left(0);
	.translate(@PANEL_WIDTH);
}

.d-rtl.-d-side-pane-end.-d-side-pane-nottranslated{
	.left(0);
	.translate(0px);
}

.d-rtl.-d-side-pane-start.-d-side-pane-translated{
	.right(0);
	.translate(-@PANEL_WIDTH);
}

.d-rtl.-d-side-pane-start.-d-side-pane-nottranslated{
	.right(0);
	.translate(0px);
}

.d-rtl.-d-side-pane-start.-d-side-pane-reveal.-d-side-pane-visible, .d-rtl .-d-side-pane.-d-side-pane-start-reveal.-d-side-pane-hidden {
	.right(0);
}

.d-rtl.-d-side-pane-end.-d-side-pane-reveal.-d-side-pane-visible, .d-rtl .-d-side-pane.-d-side-pane-end-reveal.-d-side-pane-hidden {
	.left(0);
}