@import "../../../../delite/themes/holodark/includes";

.d-button-styles () {
	.default-button-border-styles;
	height: 40px;
	color: @holo-color;

}
.d-button-selected-styles () {
	color: @holo-color;
	border-color: transparent;
	background-image: none;
	background-color: #2C94BB;
	box-shadow: 0px 0px 1px 4px #1F5366;

}

@import "../Button_template";
