.d-button {
  padding: 15px 10px;
  border-style: outset;
  border-width: 1px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-image: none;
  background-color: #333333;
  border-style: none;
  border-top-style: solid;
  border-top-color: rgba(85, 85, 85, 0.9);
  border-top-width: 1px;
  border-radius: 2px;
  height: 40px;
  color: #ffffff;
}
.d-button-text {
  margin: 10px;
}
.d-button:active,
.d-button-selected {
  color: #ffffff;
  border-color: transparent;
  background-image: none;
  background-color: #2C94BB;
  box-shadow: 0px 0px 1px 4px #1F5366;
}
.d-button[aria-disabled=true] {
  border-color: grey;
  background-image: none;
  color: grey;
  cursor: default;
}
