@import "../../../../delite/themes/ios/includes";
/*
 * -----------------------------------------------
 *  Theme     : ios
 *  Widget    : deliteful/ProgressBar
 *  baseClass : d-progress-bar
 * -----------------------------------------------
 */
@import "./variables";

//todo: color codes should come from delite/themes/{{theme}}/variables.less
@progress-bg: white;
@progress-bar-color: white;
@progress-bar-success-bg: #5cb85c;
@progress-bar-warning-bg: #f0ad4e;
@progress-bar-danger-bg: #d9534f;
@progress-bar-info-bg: #5bc0de;

.d-progress-bar-styles() {
	height: 1.75em;
	font-size: 12px;
	vertical-align: middle;
	margin: 2px;
}

.d-progress-bar::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: @bar-height;
	background-color: white;
	.border-radius(@bar-border-radius);
	opacity: 0.4;
}

.d-progress-bar-success .d-progress-bar-indicator {
	background-color: @progress-bar-success-bg;
}

.d-progress-bar-info .d-progress-bar-indicator {
	background-color: @progress-bar-info-bg;
}

.d-progress-bar-warning .d-progress-bar-indicator {
	background-color: @progress-bar-warning-bg;
}

.d-progress-bar-danger .d-progress-bar-indicator {
	background-color: @progress-bar-danger-bg;
}

.d-progress-bar-background-styles() {
	position: absolute;
	height: @bar-height;
	background-color: transparent;
	.border-radius(@bar-border-radius);
	bottom: 0;
}
.d-progress-bar-background-rtl-styles() {
}

.d-progress-bar-indicator-styles() {
	position: absolute;
	.box-sizing(border-box);
	height: 100%;
	.transition(width @transition-params);
	.border-radius(@bar-border-radius);
	background-color: @progress-bar-color;
}
.d-progress-bar-indicator-rtl-styles() {
	.transition(width @transition-params);
	float: right;
	position: relative;
}

.d-progress-bar-msg-styles() {
	text-align: left;
	position: absolute;
	height: 1.3em;
	line-height: 1.3;
	bottom: 0.45em;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.d-progress-bar-msg-rtl-styles() {
}


.d-progress-bar-msg-invert-styles() {
	display: none;
}
.d-progress-bar-msg-invert-rtl-styles() {
}

.d-progress-bar-a11y-styles() {
	display: none;
}

.d-progress-bar-msg-ext-styles() {
}
.d-progress-bar-msg-ext-rtl-styles() {
	text-align: right;
}

.d-progress-bar-msg-ext::after {
	content: attr(msg-ext);
	float: right;

	.d-progress-bar.d-rtl & {
		float: left;
	}
}

.d-progress-bar-indeterminate-background-styles() {
}

.d-progress-bar-indeterminate-indicator-styles() {
	width: 100%;
	background-image: linear-gradient(45deg, rgba(64, 64, 64, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(64, 64, 64, 0.15) 50%, rgba(64, 64, 64, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	background-image: -webkit-linear-gradient(45deg, rgba(64, 64, 64, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(64, 64, 64, 0.15) 50%, rgba(64, 64, 64, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	background-size: 20px 20px;
	.transition(width 0s);
	.animation-name(d-progress-bar-indeterminate-animation);
	.animation-duration(.5s);
	.animation-timing-function(linear);
	.animation-delay(0s);
	.animation-iteration-count(infinite);
	.animation-direction(normal);
}
.d-progress-bar-indeterminate-indicator-rtl-styles() {
	position: absolute;
	.animation-direction(reverse); /* fyi: reverse has same effect as normal on android (4.2.2 GS4) */
}


.keyframes-d-progress-bar-indeterminate-animation() {
	0% {
		background-position: 20px 0;
	}
	100% {
		background-position: 0 0;
	}
}

@import "../ProgressBar_template";