/*
 * -----------------------------------------------
 *  Theme     : ios
 *  Widget    : deliteful/ProgressBar
 *  baseClass : d-progress-bar
 * -----------------------------------------------
 */
.d-progress-bar::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4em;
  background-color: white;
  border-radius: 40px;
  opacity: 0.4;
}
.d-progress-bar-success .d-progress-bar-indicator {
  background-color: #5cb85c;
}
.d-progress-bar-info .d-progress-bar-indicator {
  background-color: #5bc0de;
}
.d-progress-bar-warning .d-progress-bar-indicator {
  background-color: #f0ad4e;
}
.d-progress-bar-danger .d-progress-bar-indicator {
  background-color: #d9534f;
}
.d-progress-bar-msg-ext::after {
  content: attr(msg-ext);
  float: right;
}
.d-progress-bar.d-rtl .d-progress-bar-msg-ext::after {
  float: left;
}
.d-progress-bar {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 100%;
  height: 1.75em;
  font-size: 12px;
  vertical-align: middle;
  margin: 2px;
}
.d-progress-bar-background {
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 0.4em;
  background-color: transparent;
  border-radius: 40px;
  bottom: 0;
}
.d-progress-bar-indicator {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  -webkit-transition: width 0.3s linear 0s;
  transition: width 0.3s linear 0s;
  border-radius: 40px;
  background-color: #ffffff;
}
.d-progress-bar.d-rtl .d-progress-bar-indicator {
  -webkit-transition: width 0.3s linear 0s;
  transition: width 0.3s linear 0s;
  float: right;
  position: relative;
}
.d-progress-bar-msg {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  position: absolute;
  height: 1.3em;
  line-height: 1.3;
  bottom: 0.45em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.d-progress-bar-msg-invert {
  display: none;
}
.d-progress-bar-a11y {
  display: none;
}
.d-progress-bar-msg-ext {
  overflow: hidden;
}
.d-progress-bar.d-rtl .d-progress-bar-msg-ext {
  text-align: right;
}
.d-progress-bar-indeterminate .d-progress-bar-background {
  margin: 0;
  padding: 0;
}
.d-progress-bar-indeterminate .d-progress-bar-indicator {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(64, 64, 64, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(64, 64, 64, 0.15) 50%, rgba(64, 64, 64, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(45deg, rgba(64, 64, 64, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(64, 64, 64, 0.15) 50%, rgba(64, 64, 64, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 20px 20px;
  -webkit-transition: width 0s;
  transition: width 0s;
  -webkit-animation-name: d-progress-bar-indeterminate-animation;
  animation-name: d-progress-bar-indeterminate-animation;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
.d-progress-bar-indeterminate.d-rtl .d-progress-bar-indicator {
  position: absolute;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  /* fyi: reverse has same effect as normal on android (4.2.2 GS4) */
}
@keyframes d-progress-bar-indeterminate-animation {
  0% {
    background-position: 20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes d-progress-bar-indeterminate-animation {
  0% {
    background-position: 20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
