@import "../../../themes/custom/variables.less";

@dui-slider-size: auto;
@dui-slider-halo-size: 12pt;
@dui-slider-bar-border-width: 1px; // for a11y
@dui-slider-bar-border-style: inset;
@dui-slider-bar-border-color: @lightColor13 @lightColor13 @lightColor12;
@dui-slider-bar-size: 200px;
@dui-slider-bar-thickness: 8px;
@dui-slider-bar-border-radius: 0;
@dui-slider-knob-size: 20px; // include border for a11y
@dui-slider-knob-thickness: 20px; // include border for a11y
@dui-slider-knob-border-width: 1px; // for a11y
@dui-slider-knob-border-style: outset;
@dui-slider-knob-border-color: @lightColor12 @lightColor12 @darkColor06;
@dui-slider-knob-border-radius: 0;
.dui-slider-knob-background-image () { .default-button-background-image(); }

//
.duiSlider-styles () {
}
.duiSliderBar-styles () {
}
.duiSliderRemainingBar-styles () {
  .dui-button-background-image();
}
.duiSliderProgressBar-styles () {
  .default-button-selected-background-image();
}
.duiSliderHandle-styles () {
  .dui-slider-knob-background-image();
}

@import "../Slider_template";