.duiCalendarRtl .duiCalendarNextYear {
  margin: 0 0.55em 0 0;
}
.duiCalendarRtl .duiCalendarPreviousYear {
  margin: 0 0 0 0.55em;
}
.claro .duiCalendarRtl .duiCalendarIncrease {
  background-position: 0 0;
}
.claro .duiCalendarRtl .duiCalendarDecrease {
  background-position: -18px 0;
}
.claro .duiCalendarRtl .duiCalendarArrow:hover .duiCalendarIncrease {
  background-position: -36px 0;
}
.claro .duiCalendarRtl .duiCalendarArrow:hover .duiCalendarDecrease {
  background-position: -55px 0;
}
.claro .duiCalendarRtl .duiCalendarArrow:active .duiCalendarIncrease {
  background-position: -72px 0;
}
.claro .duiCalendarRtl .duiCalendarArrow:active .duiCalendarDecrease {
  background-position: -91px 0;
}
