/* ColorPalette
 * 
 * Styling of the ColorPalette consists of the following:
 * 
 * 1. the whole color palette
 *		.duiColorPalette - for outline, border, and background color of the whole color palette
 *		Note: outline does not work for IE
 *
 * 2. the color swatch 
 *		.duiColorPalette .duiPaletteImg
 *		transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
 *		displays border around a color swatch
 *
 * 3. hovered swatch
 * 		.duiColorPalette .duiPaletteCell:hover .duiPaletteImg
 *		the hovered state of the color swatch - adds border
 * 	
 * 4. active and selected swatch
 * 		.duiColorPalette .duiPaletteCell:active .duiPaletteImg
 *		.duiColorPalette .duiPaletteCellSelected .duiPaletteImg
 *		adds border for active or selected state
 */

@import "variables";

// From dijit.css

.duiColorPalette {
	border: 1px solid #999;
	background: #fff;
	position: relative;
}

.duiColorPalette .duiPaletteTable {
	/* Table that holds the palette cells, and overlays image file with color swatches.
	 * padding/margin to align table with image.
	 */
	padding: 2px 3px 3px 3px;
	position: relative;
	overflow: hidden;
	outline: 0;
	border-collapse: separate;
}

.duiColorPalette .duiPaletteCell {
	/* <td> in the <table> */
	font-size: 1px;
	vertical-align: middle;
	text-align: center;
	background: none;
}
.duiColorPalette .duiPaletteImg {
	/* Called duiPaletteImg for back-compat, this actually wraps the color swatch with a border and padding */
	padding: 1px;		/* white area between gray border and color swatch */
	border: 1px solid #999;
	margin: 2px 1px;
	cursor: default;
	font-size: 1px;		/* prevent <span> from getting bigger just to hold a character */
}
.dj_gecko .duiColorPalette .duiPaletteImg {
	padding-bottom: 0;	/* workaround rendering glitch on FF, it adds an extra pixel at the bottom */
}
.duiColorPalette .duiColorPaletteSwatch {
	/* the actual part where the color is */
	width: 14px;
	height: 12px;
}
.duiPaletteTable td {
	padding: 0;
}
.duiColorPalette .duiPaletteCell:hover .duiPaletteImg {
	/* hovered color swatch */
	border: 1px solid #000;
}

.duiColorPalette .duiPaletteCell:active .duiPaletteImg,
.duiColorPalette .duiPaletteTable .duiPaletteCellSelected .duiPaletteImg {
	border: 2px solid #000;
	margin: 1px 0;	/* reduce margin to compensate for increased border */
}


.dj_a11y .duiColorPalette .duiPaletteTable,
.dj_a11y .duiColorPalette .duiPaletteTable * {
	/* table cells are to catch events, but the swatches are in the PaletteImg behind the table */
	background-color: transparent !important;
}

// Claro overrides
.claro  .duiColorPalette {
	border: 1px solid @border-color;
	background: @colorpalette-background-color;
	.border-radius(0);
}

.claro .duiColorPalette .duiPaletteImg {
	/* transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
	 * displays border around a color swatch
	 * overrides border color in dijit.css */
	border: 1px solid @minor-border-color;
}
.claro .duiColorPalette .duiPaletteCell:hover .duiPaletteImg {
	border: 1px solid @swatch-hovered-border-color;
}
.claro .duiColorPalette .duiPaletteCell:active .duiPaletteImg,
.claro .duiColorPalette .duiPaletteTable .duiPaletteCellSelected .duiPaletteImg {
	border: 2px solid @swatch-selected-border-color;
}
