/* ========= Styling rules to affect widgets ========= */

@import "variables";

/*
 * Popup items have a wrapper div (duiPopup)
 * with the real popup inside, and maybe an iframe too
 */

// From dijit.css
.duiPopup {
	position: absolute;
	background-color: transparent;
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}

// Claro overrides
.claro .duiPopup {
	.box-shadow(0 1px 5px rgba(0,0,0,0.25));
}
.claro .duiTooltipDialogPopup {
	/* exception popups: do not use a shadow on these because they aren't rectangular */
	.box-shadow(none);
}

/* The highlight is shown in the ComboBox menu.  TODO: move to form/Common.less */
.claro .duiComboBoxHighlightMatch {
	background-color: @select-matchedtext-background-color;
}

.claro .duiFocusedLabel {
	/* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */
	outline: 1px dotted @focus-outline-color;
}

/* Drag and Drop */

// From dijit.css
.dojoDndItem {
	padding: 2px;  /* will be replaced by border during drag over (dojoDndItemBefore, dojoDndItemAfter) */

	/* Prevent magnifying-glass text selection icon to appear on mobile webkit as it causes a touchout event */
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}
.dojoDndHorizontal .dojoDndItem {
	/* make contents of horizontal container be side by side, rather than vertical */
	display: inline-block;
}

.dojoDndItemBefore,
.dojoDndItemAfter {
	border: 0px solid #369;
}
.dojoDndItemBefore {
	border-width: 2px 0 0 0;
	padding: 0 2px 2px 2px;
}
.dojoDndItemAfter {
	border-width: 0 0 2px 0;
	padding: 2px 2px 0 2px;
}
.dojoDndHorizontal .dojoDndItemBefore {
	border-width: 0 0 0 2px;
	padding: 2px 2px 2px 0;
}
.dojoDndHorizontal .dojoDndItemAfter {
	border-width: 0 2px 0 0;
	padding: 2px 0 2px 2px;
}

.dojoDndItemOver {
	cursor:pointer;
}

// Claro overrides
.claro .dojoDndItem {
	border-color: rgba(0,0,0,0);	// rgba() instead of none to prevent flash on hover fade-in
	.transition-duration(.25s);
	.transition-property(background-color, border-color)
}
.claro .dojoDndItemOver {
	// Hovered item.  Matches duiTreeRowHover.
	background-color:@hovered-background-color;
	.standard-gradient;
	padding: 1px;	// reduce from 2px in dijit.css
	border:solid 1px @hovered-border-color;
	color:@hovered-text-color;
}
.claro .dojoDndItemAnchor,
.claro .dojoDndItemSelected {
	// Selected items(s).   Matches duiTreeRowSelected.
	background-color:@selected-background-color;
	.standard-gradient;
	padding: 1px;	// reduce from 2px in dijit.css
	border:solid 1px @selected-border-color;
	color:@selected-text-color;
}

.claro .dojoDndItemBefore,
.claro .dojoDndItemAfter {
	// line to indicate that user is dropping before/after this dojoDndItem
	border-color: @dnd-dropseparator-color;
}

.claro table.dojoDndAvatar {
	border: 1px solid @border-color;
	border-collapse: collapse;
	background-color: @dnd-avatar-background-color;
	.box-shadow(0 1px 3px rgba(0, 0, 0, .25));
}
.claro .dojoDndAvatarHeader td	{ 
	height: 20px;
	padding-left:21px;
}
.claro.dojoDndMove .dojoDndAvatarHeader, .claro.dojoDndCopy .dojoDndAvatarHeader {
	background-image: url(@image-dnd);
	background-repeat: no-repeat;
	background-position:2px -122px;
}
.claro .dojoDndAvatarItem td {
	padding: 5px;
}
.claro.dojoDndMove .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-header-background-color; 
	background-position:2px -103px;
}
.claro.dojoDndCopy .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-header-background-color; 
	background-position:2px -68px;
}
.claro.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-candrop-header-background-color; 
	background-position:2px -33px;
}
.claro.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{
	background-color: @dnd-avatar-candrop-header-background-color;
	background-position:2px 2px;
}
