/* Dialog */

@import "variables";

.claro .duiDialogRtl .duiDialogCloseIcon {
	right: auto;
	left: 5px;
}

.claro .duiDialogRtl .duiDialogPaneActionBar {
	text-align: left;
	padding: 3px 7px 2px 5px;
}
