/* Editor 
 * 
 * Styling Editor means styling the Editor inside iframe container (duiEditorIFrameContainer)
 * 
 * 1. Editor iframe container (default styling): 
 * 		.duiEditorIFrameContainer - normal state styles: background-color, border, padding
 *
 * 2. hovered Editor iframe container (ie, mouse hover on editor)
 * 		.duiEditor:hover .duiEditorIFrameContainer/duiEditorIFrame - styles when mouse hover on the container
 * 
 * 3. focused Editor iframe container (ie, mouse focus on the editor pane)
 * 		.duiEditorFocused .duiEditorIFrameContainer/duiEditorIFrame - styles when container focused
 * 
 * 3. disabled Editor iframe container 
 * 		.duiEditorDisabled - editor's inner iframe container disable status styles: background, border
 */
.duiEditor {
  display: block;
  /* prevents glitch on FF with InlineEditBox, see #8404 */

}
.duiEditorDisabled,
.duiEditorReadOnly {
  color: gray;
}
.claro .duiEditorIFrameContainer {
  padding: 3px 3px 1px 10px;
}
.claro .duiEditorIFrame {
  background-color: #ffffff;
}
.claro .duiEditor {
  border: 1px solid #b5bcc7;
}
.claro .duiEditor .duiEditorIFrameContainer {
  background-color: #ffffff;
  background-repeat: repeat-x;
}
.claro .duiEditor:hover .duiEditorIFrameContainer,
.claro .duiEditor:hover .duiEditorIFrameContainer .duiEditorIFrame {
  background-color: #e5f2fe;
}
.claro .duiEditorFocused .duiEditorIFrameContainer,
.claro .duiEditorFocused .duiEditorIFrameContainer .duiEditorIFrame {
  background-color: #ffffff;
}
.claro .duiEditor:hover .duiEditorIFrameContainer,
.claro .duiEditorFocused .duiEditorIFrameContainer {
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}
/* Disabled */
.claro .duiEditorDisabled {
  border: 1px solid #d3d3d3;
  color: #818181;
}
.claro .duiDisabled .duiEditorIFrame,
.claro .duiDisabled .duiEditorIFrameContainer,
.claro .duiDisabled .duiEditorIFrameContainer .duiEditorIFrame {
  background-color: #efefef;
  background-image: none;
}
