/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.duiInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.duiInlineEditBoxDisplayMode:hover - for border and background color
 */
.duiInlineEditBoxDisplayMode {
  border: 1px solid transparent;
  /* so keyline (border) on hover can appear without screen jump */

  cursor: text;
}
.duiInlineEditBoxDisplayMode:hover {
  /* An InlineEditBox in view mode (click this to edit the text) */

  background-color: #e2ebf2;
  border: solid 1px black;
}
.duiInlineEditBoxDisplayModeDisabled {
  cursor: default;
}
.claro .duiInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.claro .duiInlineEditBoxDisplayMode:hover {
  background-color: #e5f2fe;
  border: solid 1px #759dc0;
}
