/* Menu 

There are three areas of styling for the Menu:  
 
 1. The menu 
 	There are three types of menus:
 	i) Context Menu
 	ii) Drop down Menu
 	iii) Navigation Menu
 	All three types of menus are affected by the .duiMenu class in which you can set the background-color, padding and border
 	.duiMenu affects the drop down menu in TimeTextBox, Calendar, ComboBox and FilteringSelect
	.duiMenuTable - for padding - also affects Select widget

 2. The menu bar
 	.duiMenuBar - for border, margins, padding, background-color of the menu bar
 	.duiMenuBar .duiMenuItem - for padding, text color of menu items in the menu bar (overrides .duiMenuItem) 
 	
 3. Menu items - items in the menu.  
 	.duiMenuItem - for color
 	.duiMenuItem:hover, .duiMenuItemSelected - for background-color, border, text color, padding of a menu item or menubar item that has been hovered over or selected
 	.duiMenuItem:active - for background-color of an active (mousedown) menu item
	td.duiMenuItemIconCell - for padding around a  menu item's icon
	td.duiMenuItemLabel - for padding around a menu item's label	
	.duiMenuSeparatorTop - for border, top border, of the separator
	.duiMenuSeparatorBottom - for bottom margin of the separator
	
	Styles specific to ComboBox and FilteringSelect widgets: 
	.duiComboBoxMenu .duiMenuItem - for padding and border of a menu item in a ComboBox or FilteringSelect widget's menu
	.duiComboBoxMenu .duiMenuItemSelected- for text color, background-color and border of a menu item in a ComboBox or FilteringSelect widget's menu

*/

@import "variables";

// From dijit.css
.duiMenu {
	border:1px solid black;
	background-color:white;
}
.duiMenuTable {
	border-collapse:collapse;
	border-width:0;
	background-color:white;
}

/* workaround for webkit bug #8427, remove this when it is fixed upstream */
.dj_webkit .duiMenuTable td[colspan="2"]{
	border-right:hidden;
}

.duiMenuItem {
	text-align: left;
	white-space: nowrap;
	padding:.1em .2em;
	cursor:pointer;
	-webkit-tap-highlight-color: transparent;
}

/*
No need to show a focus border since it's obvious from the shading, and there's a .dj_a11y .duiMenuItemSelected
rule below that handles the high contrast case when there's no shading.
Hiding the focus border also works around webkit bug https://code.google.com/p/chromium/issues/detail?id=125779.
*/
.duiMenuItem:focus {
	outline: none
}

.duiMenuPassive .duiMenuItem:hover,
.duiMenuItemSelected {
	/*
 * duiMenuItem:hover refers to actual mouse over
 * duiMenuItemSelected is used after a menu has been "activated" by
 * clicking it, tabbing into it, or being opened from a parent menu,
 * and denotes that the menu item has focus or that focus is on a child
 * menu
 */
	background-color:black;
	color:white;
}

.duiMenuItemIcon, .duiMenuExpand {
	background-repeat: no-repeat;
}

.duiMenuItemDisabled * {
	/* for a disabled menu item, just set it to mostly transparent */
	opacity:0.5;
	cursor:default;
}
.dj_ie .dj_a11y .duiMenuItemDisabled,
.dj_ie .dj_a11y .duiMenuItemDisabled *,
.dj_ie .duiMenuItemDisabled * {
	color: gray;
	filter: alpha(opacity=35);
}

.duiMenuItemLabel {
	position: relative;
	vertical-align: middle;
}

.dj_a11y .duiMenuItemSelected {
	border: 1px dotted black !important;	/* for 2.0 use outline instead, to prevent jitter */
}

.dj_a11y .duiMenuItemSelected .duiMenuItemLabel {
	border-width: 1px;
	border-style: solid;
}
.dj_ie8 .dj_a11y .duiMenuItemLabel {
	position:static;
}

.duiMenuExpandA11y {
	display: none;
}
.dj_a11y .duiMenuExpandA11y {
	display: inline;
}

.duiMenuSeparator td {
	border: 0;
	padding: 0;
}

/* separator can be two pixels -- set border of either one to 0 to have only one */
.duiMenuSeparatorTop {
	height: 50%;
	margin: 0;
	margin-top:3px;
	font-size: 1px;
}

.duiMenuSeparatorBottom {
	height: 50%;
	margin: 0;
	margin-bottom:3px;
	font-size: 1px;
}

/* CheckedMenuItem and RadioMenuItem */
.duiMenuItemIconChar {
	display: none;		/* don't display except in high contrast mode */
	visibility: hidden;	/* for high contrast mode when menuitem is unchecked: leave space for when it is checked */
}
.dj_a11y .duiMenuItemIconChar {
	display: inline;	/* display character in high contrast mode, since icon doesn't show */
}
.duiCheckedMenuItemChecked .duiMenuItemIconChar,
.duiRadioMenuItemChecked .duiMenuItemIconChar {
	visibility: visible; /* menuitem is checked */
}
.dj_ie .dj_a11y .duiMenuBar .duiMenuItem {
	/* so bottom border of MenuBar appears on IE7 in high-contrast mode */
	margin: 0;
}

.duiFocused .duiMenuItemShortcutKey {
	text-decoration: underline;
}

// Claro overrides
.claro .duiMenuBar {
	border: 1px solid @border-color;
	margin: 0;
	padding: 0;
	background-color: @bar-background-color;
	.standard-gradient;
}

.claro .duiMenu {
	background-color:@menu-background-color;
	border: 1px solid @popup-border-color;
}

.claro .duiMenuItem {
	color: @text-color;
}
.claro .duiMenuBar .duiMenuItem {
	padding: 6px 10px 7px;
	margin:-1px;
}
.claro .duiMenuBar .duiMenuItem:hover,
.claro .duiMenuBar .duiMenuItemSelected {
	// on hover or selection of MenuBar item, add border and reduce padding to compensate
	border:solid 1px @hovered-border-color;
	padding: 5px 9px 6px;
}

/* this prevents jiggling upon hover of a menu item */
.claro .duiMenuTable {
	border-collapse:separate;
	border-spacing:0 0;
	padding:0;
}

.claro .duiMenu .duiMenuItem td,
.claro .duiComboBoxMenu .duiMenuItem {
	padding: @textbox-padding;	// Make drop down menu text line up with text in <input>.
	border-width:1px 0 1px 0;
	border-style:solid;
	border-color: @select-dropdownitem-background-color;
}

/* hover over a MenuItem or MenuBarItem */
.claro .duiMenu .duiMenuItem:hover td,
.claro .duiMenu .duiMenuItemSelected td,
.claro .duiMenuItem:hover,
.claro .duiComboBoxMenu .duiMenuItem:hover,
.claro .duiMenuItemSelected {
	// note: seems like the selected MenuItem should use @pressed-background-color
	// and .active-gradient, but claro didn't to that
	border-color: @hovered-border-color;
	background-color: @hovered-background-color;
	.standard-gradient;
}

.claro .duiMenuItem:active {
	// todo: seems like the selected MenuItem should come here
	// todo: seems like should use @pressed-background-color
	.active-gradient;
}
.dj_ie .claro .duiMenu:active .duiMenuItem:hover,
.dj_ie .claro .duiMenu:active .duiMenuItemSelected,
.dj_ie .claro .duiMenuPassive .duiMenuItem:hover,
.dj_ie .claro .duiMenuPassive .duiMenuItemSelected {
	// Selectivity set to override ComboBox rules below.
	// If this rule isn't present, on IE6 hovering an item in the ComboBox drop down causes two
	// items to be highlighted (except when hovering the first item in the list)
	padding-top: 6px;
	padding-bottom: 5px;
	margin-top: -3px;
}

.claro td.duiMenuItemIconCell {
	padding: 2px;
	margin: 0 0 0 4px;
}
.claro td.duiMenuItemLabel {
	padding-top: 5px;
	padding-bottom: 5px;
}
.claro .duiMenuExpand {
	width: 7px;
	height: 7px;
	background-image: url(@image-arrow-sprite);
	background-position: -14px 0;
	margin-right:3px;
	margin-bottom: 4px;
}
.claro .duiMenuItemDisabled .duiMenuItemIconCell {
	opacity:1;
}
.claro .duiMenuSeparatorTop {
	height: auto;
	margin-top:1px; /* prevents spacing above/below separator */
	border-bottom: 1px solid @border-color
}
.claro .duiMenuSeparatorBottom{
	height: auto;
	margin-bottom:1px;
}
/* the checked menu item */
.claro .duiCheckedMenuItem .duiMenuItemIcon,
.claro .duiRadioMenuItem .duiMenuItemIcon {
	background-image: url(@image-form-checkbox-and-radios);
	background-repeat:no-repeat;
	background-position: -15px 50%;	/* unchecked checkbox */
	width:15px;
	height:16px;
}
.claro .duiCheckedMenuItemChecked .duiCheckedMenuItemIcon {
	background-position: 0 50%;	/* checked checkbox */
}
.claro .duiRadioMenuItem .duiMenuItemIcon {
	background-position: -105px 50%;	/* unfilled circle */
}
.claro .duiRadioMenuItemChecked .duiMenuItemIcon {
	background-position: -90px 50%;	/* filled circle */
}

/*ComboBox Menu*/
.claro .duiComboBoxMenu {
	margin-left:0;
	background-image: none;
}

.claro .duiMenu .duiMenuItemSelected td,
.claro .duiComboBoxMenu .duiMenuItemSelected {
	// TODO: combine with above rules for selected items?
	// But the selected item in a Select drop down is different than when MenuBarItem "File" is highlighted
	// because the user is on the file menu?
	color:@selected-text-color;
	border-color:@hovered-border-color;
	background-color:@hovered-background-color;
}

.claro .duiComboBoxMenu:active .duiMenuItemSelected {
	background-color: @select-dropdownitem-hovered-background-color;	/* TODO: why is this a different color than normal .duiMenuItemSelected? */
}
.claro .duiMenuPreviousButton, .claro .duiMenuNextButton {
	font-style: italic;
}
