.duiMenuItemRtl {
  text-align: right;
}
.claro .duiMenuItemRtl .duiMenuExpand {
  background-position: -7px 0;
  margin-right: 0;
  margin-left: 3px;
}
.claro .duiMenuItemRtl .duiMenuItemIcon {
  margin: 0 4px 0 0;
}
