/* ProgressBar
 * 
 * Styling of the ProgressBar consists of the following:
 * 
 * 1. the base progress bar
 *		.duiProgressBar -	sets margins for the progress bar
 *
 * 2. the empty bar
 *		.duiProgressBarEmpty  - sets background img and color for bar or parts of bar that are not finished yet
 *		Also sets border color for whole bar
 *
 * 3. tile mode
 * 		.duiProgressBarTile
 *		inner container for finished portion when in 'tile' (image) mode 
 * 	
 * 4. full bar mode
 * 		.duiProgressBarFull
 *		adds border to right side of the filled portion of bar
 *
 * 5. text for label of  bar
 *		.duiProgressBarLabel - sets text color, which must contrast with both the "Empty" and "Full" parts. 
 * 	
 * 6. indeterminate mode
 *		.duiProgressBarIndeterminate .duiProgressBarTile 
 * 		sets animated gif for the progress bar in 'indeterminate' mode
 */
.duiProgressBar {
  z-index: 0;
  /* so z-index settings below have no effect outside of the ProgressBar */

}
.duiProgressBarEmpty {
  /* outer container and background of the bar that's not finished yet*/

  position: relative;
  overflow: hidden;
  border: 1px solid black;
  /* a11y: border necessary for high-contrast mode */

  z-index: 0;
  /* establish a stacking context for this progress bar */

}
.duiProgressBarFull {
  /* outer container for background of bar that is finished */

  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  width: 100%;
}
.duiProgressBarTile {
  /* inner container for finished portion */

  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #aaa;
  background-attachment: fixed;
}
.dj_a11y .duiProgressBarTile {
  /* a11y:  The border provides visibility in high-contrast mode */

  border-width: 2px;
  border-style: solid;
  background-color: transparent !important;
}
.duiProgressBarIndeterminate .duiProgressBarTile {
  /* animated gif for 'indeterminate' mode */

}
.duiProgressBarIndeterminateHighContrastImage {
  display: none;
}
.dj_a11y .duiProgressBarIndeterminate .duiProgressBarIndeterminateHighContrastImage {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.duiProgressBarLabel {
  display: block;
  position: static;
  width: 100%;
  text-align: center;
  background-color: transparent !important;
}
.claro .duiProgressBar {
  margin: 2px 0 2px 0;
}
.claro .duiProgressBarEmpty {
  /* outer container and background of the bar that's not finished yet*/

  background-color: #ffffff;
  border-color: #759dc0;
}
.claro .duiProgressBarTile {
  /* inner container for finished portion when in 'tile' (image) mode */

  background-color: #abd6ff;
  background-image: url("images/progressBarFull.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.93) 0px, rgba(255, 255, 255, 0.41) 1px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.93) 0px, rgba(255, 255, 255, 0.41) 1px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.93) 0px, rgba(255, 255, 255, 0.41) 1px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.93) 0px, rgba(255, 255, 255, 0.41) 1px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 100%);
  background-attachment: scroll;
}
.claro .duiProgressBarFull {
  border: 0px solid #759dc0;
  border-right-width: 1px;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.claro .duiProgressBarLabel {
  /* Set to a color that contrasts with both the "Empty" and "Full" parts. */

  color: #000000;
}
.claro .duiProgressBarIndeterminate .duiProgressBarTile {
  /* use an animated gif for the progress bar in 'indeterminate' mode;
		background-color won't appear unless user has turned off background images */

  background: #efefef url("images/progressBarAnim.gif") repeat-x top;
}
