/* Time Picker 
 *
 * Styling the Time Picker consists of the following: 
 *
 * 1. minor time values
 * 		.duiTimePickerTick - set text color, size, background color of minor values
 * 		.duiTimePickerTick:hover - set hover style of minor time values
 * 		duiTimePickerTickSelected - set selected style of minor time values
 *
 * 2. major time values - 1:00, 2:00, times on the hour 
 * 		set text color, size, background color, left/right margins for "zoom" affect
 * 		.duiTimePickerMarker:hover - to set hover style of major time values
 * 		.duiTimePickerMarkerSelected - set selected style of major time values
 * 
 * 3. up and down arrow buttons
 * 		.duiTimePicker .duiButtonNode - background-color, border
 * 		.duiTimePicker .duiUpArrow:hover, .duiTimePicker .duiDownArrow:hover - set background-color for hover state
 *
 *	Other classes provide the fundamental structure of the TimePicker and should not be modified. 
 */
.duiTimePicker {
  background-color: white;
}
.duiTimePickerItem {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.duiTimePickerItem:hover {
  background-color: gray;
  color: white;
}
.duiTimePickerItemSelected {
  font-weight: bold;
  color: #333;
  background-color: #b7cdee;
}
.duiTimePickerItemDisabled {
  color: gray;
  text-decoration: line-through;
}
.duiTimePickerItemInner {
  text-align: center;
  border: 0;
  padding: 2px 8px 2px 8px;
}
.duiTimePickerTick,
.duiTimePickerMarker {
  border-bottom: 1px solid gray;
}
.duiTimePicker .duiDownArrowButton {
  border-top: none !important;
}
.duiTimePickerTick {
  color: #CCC;
}
.duiTimePickerMarker {
  color: black;
  background-color: #CCC;
}
.dj_a11y .duiTimePickerItemSelected .duiTimePickerItemInner {
  border: solid 4px black;
}
.dj_a11y .duiTimePickerItem:hover .duiTimePickerItemInner {
  border: dashed 4px black;
}
/* override Button.css */
.claro .duiTimePicker .duiButtonNode {
  padding: 0 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.claro .duiTimePicker {
  border: 1px #b5bcc7 solid;
  border-top: none;
  border-bottom: none;
  background-color: #fff;
  /* TODO: useless?   Appears to be overridden by settings on individual elements */

}
.claro .duiTimePickerItem {
  /* duiTimePickerItem refers to both Tick's (minor values like 2:15, 2:30, 2:45) and Marker's (major values like 2PM, 3PM) */

  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  border-top: solid 1px #b5bcc7;
  border-bottom: solid 1px #b5bcc7;
  margin-top: -1px;
}
.claro .duiTimePickerTick {
  /* minor value */

  color: #818181;
  background-color: #efefef;
  font-size: 0.818em;
}
.claro .duiTimePickerMarker {
  /* major value - 1:00, 2:00, times on the hour */

  background-color: #e5f2fe;
  font-size: 1em;
  white-space: nowrap;
}
.claro .duiTimePickerTick:hover,
.claro .duiTimePickerMarker:hover,
.claro .duiTimePickerMarkerSelected,
.claro .duiTimePickerTickSelected {
  background-color: #7dbdfa;
  color: #000000;
}
.claro .duiTimePickerMarkerSelected,
.claro .duiTimePickerTickSelected {
  font-size: 1em;
}
.claro .duiTimePickerTick .duiTimePickerItemInner {
  padding: 1px;
  margin: 0;
}
.claro .duiTimePicker .duiButtonNode {
  border-left: none;
  border-right: none;
  border-color: #b5bcc7;
  background-color: #efefef;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}
.claro .duiTimePicker .duiArrowButtonInner {
  height: 100%;
  /* hack claro.button.css */

  background-image: url("form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  background-position: -140px 45%;
}
.claro .duiTimePicker .duiDownArrowButton .duiArrowButtonInner {
  background-position: -35px 45%;
}
/* hover */
.claro .duiTimePicker .duiUpArrow:hover,
.claro .duiTimePicker .duiDownArrow:hover {
  background-color: #abd6ff;
}
.claro .duiTimePicker .duiUpArrow:hover .duiArrowButtonInner {
  background-position: -175px 45%;
}
.claro .duiTimePicker .duiDownArrow:hover .duiArrowButtonInner {
  background-position: -70px 45%;
}
