/* TitlePane and Fieldset
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (duiTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.duiTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.duiTitlePaneTitle:hover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.duiTitlePaneTitle:active - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.duiTitlePaneContentOuter / duiTitlePaneContentInner - styles for the content outer div
 */

@import "variables";

// From dijit.css
.duiTitlePane {
	display: block;
	overflow: hidden;
}
.duiFieldset {
	border: 1px solid gray;
}
.duiTitlePaneTitle, .duiFieldsetTitle {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.duiTitlePaneTitleFixedOpen, .duiTitlePaneTitleFixedClosed,
.duiFieldsetTitleFixedOpen, .duiFieldsetTitleFixedClosed {
	/* TitlePane or Fieldset that cannot be toggled */
	cursor: default;
}
.duiTitlePaneTitle * {
	vertical-align: middle;
}
.duiTitlePane .duiArrowNodeInner, .duiFieldset .duiArrowNodeInner {
	/* normally, hide arrow text in favor of icon */
	display: none;
}
.dj_a11y .duiTitlePane .duiArrowNodeInner, .dj_a11y .duiFieldset .duiArrowNodeInner {
	/* ... except in a11y mode, then show text arrow */
	display: inline;
	font-family: monospace;		/* because - and + are different widths */
}
.dj_a11y .duiTitlePane .duiArrowNode, .dj_a11y .duiFieldset .duiArrowNode {
	/* ... and hide icon (TODO: just point duiIcon class on the icon, and it hides automatically) */
	display: none;
}
.duiTitlePaneTitleFixedOpen .duiArrowNode, .duiTitlePaneTitleFixedOpen .duiArrowNodeInner,
.duiTitlePaneTitleFixedClosed .duiArrowNode, .duiTitlePaneTitleFixedClosed .duiArrowNodeInner,
.duiFieldsetTitleFixedOpen .duiArrowNode, .duiFieldsetTitleFixedOpen .duiArrowNodeInner,
.duiFieldsetTitleFixedClosed .duiArrowNode, .duiFieldsetTitleFixedClosed .duiArrowNodeInner {
	/* don't show the open close icon or text arrow; it makes the user think the pane is closable */
	display: none !important;	/* !important to override above a11y rules to show text arrow */
}


// Claro overrides
.claro .duiTitlePaneTitle {
	background-color: @unselected-background-color;
	.standard-gradient;
	border:1px solid @border-color;
	padding: 0 7px 3px 7px;
	min-height:17px;
	color: @unselected-text-color;
}
.claro .duiFieldset {
	.border-radius(4px);
}
.claro .duiTitlePaneTitleOpen, .claro .duiTitlePaneTitleFixedOpen {
	background-color: @selected-background-color;
	color: @text-color;
}
.claro .duiTitlePaneTitle:hover {
	background-color: @hovered-background-color;
	border-color: @hovered-border-color;
}
.claro .duiTitlePaneTitle:active {
	background-color: @pressed-background-color;
	border-color: @pressed-border-color;
	.active-gradient;
}
.claro .duiTitlePaneTitleFocus {
	margin-top:3px;
	padding-bottom:2px;
}
.claro .duiTitlePane .duiArrowNode, .claro .duiFieldset .duiArrowNode {
	background-image: url(@image-arrow-sprite);
	background-repeat: no-repeat;
	height: 8px;
	width: 7px;
}
.claro .duiTitlePaneTitleOpen .duiArrowNode,  .claro .duiFieldsetTitleOpen .duiArrowNode,{
	background-position: 0 0;
}
.claro .duiTitlePaneTitleClosed .duiArrowNode, .claro .duiFieldsetTitleClosed .duiArrowNode {
	background-position: -14px 0;
}
.claro .duiTitlePaneContentOuter {
	background: @pane-background-color;
	border:1px solid @border-color;
	border-top:none;
}
.claro .duiTitlePaneContentInner{
	padding:10px;
}
.claro .duiFieldsetContentInner {
	padding: 4px;
}
.claro .duiTitlePaneTextNode, .claro .duiFieldsetLegendNode {
	margin-left: 4px;
	margin-right: 4px;
	vertical-align:text-top;
}
