/* Toolbar RTL */
/* Repeated rules from Toolbar.css to override rule from Button_rtl.css, which is loaded after Toolbar.css */
.claro .duiToolbar .duiComboButtonRtl .duiButtonNode {
  border-width: 0;
  padding: 2px;
}
.claro .duiToolbar .duiComboButtonRtl:hover .duiButtonNode,
.claro .duiToolbar .duiComboButtonRtl:active .duiButtonNode {
  border-width: 1px;
  padding: 1px;
}
.claro .duiToolbar .duiComboButtonRtl .duiStretch {
  /* no rounded border on side adjacent to arrow */

  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.claro .duiToolbar .duiComboButtonRtl .duiArrowButton {
  /* no rounded border on side adjacent to button */

  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.claro .duiToolbar .duiComboButtonRtl:hover .duiArrowButton,
.claro .duiToolbar .duiComboButtonRtl:active .duiArrowButton {
  /* border between button and arrow */

  border-left-width: 1px;
  border-right-width: 0;
  padding-left: 1px;
  padding-right: 2px;
}
