/* Tree 
 * 
 * Styling Tree mostly means styling the TreeRow (duiTreeRow)
 * There are 4 basic states to style:
 * 
 * Tree Row:
 * 1. tree row (default styling): 
 * 		.duiTreeRow - styles for each row of the tree
 *
 * 2. hovered tree row (mouse hover on a tree row)
 * 		.duiTreeRow:hover - styles when mouse over on one row
 * 
 * 3. active tree row (mouse down on a tree row)
 * 		.duiTreeRow:active - styles when mouse down on one row
 * 
 * 4. selected tree row
 * 		duiTreeRowSelected - style when the row has been selected
 * 
 * Tree Expando:
 * 	    duiTreeExpando - the expando at the left of the text of each tree row
 * 
 * Drag and Drop on TreeNodes: (insert line on duiTreeContent node so it'll aligned w/ target element)
 * 		.duiTreeNode .dojoDndItemBefore/.dojoDndItemAfter - use border style simulate a separate line
 */

@import "variables";

// From dijit.css
.dj_a11y .duiTreeExpando {
	// hide icon nodes in high contrast mode; when necessary they will be replaced by character equivalents
	display: none;
}

.duiTree {
	overflow: auto;	/* for scrollbars when Tree has a height setting, and to prevent wrapping around float elements, see #11491 */
	-webkit-tap-highlight-color: transparent;
}

.duiTreeContainer {
	float: left;	/* for correct highlighting during horizontal scroll, see #16132 */
}

.duiTreeIndent {
	/* amount to indent each tree node (relative to parent node) */
	width: 19px;
}

.duiTreeRow, .duiTreeContent {
	white-space: nowrap;
}

.dj_ie .duiTreeLabel:focus {
	/* workaround IE9 behavior where down arrowing through TreeNodes doesn't show focus outline */
	outline: 1px dotted black;
}

.duiTreeRow img {
	/* make the expando and folder icons line up with the label */
	vertical-align: middle;
}

.duiTreeContent {
	cursor: default;
}

.duiExpandoText {
	display: none;
}

.dj_a11y .duiExpandoText {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-family: monospace;
	border-style: solid;
	border-width: thin;
	cursor: pointer;
}

.duiTreeLabel {
	margin: 0 4px;
}


// Claro rules
.claro .duiTreeNode {
	zoom: 1;	/* force layout on IE (TODO: may not be needed anymore) */
}
.claro .duiTreeIsRoot {
	background-image: none;
}

/* Styling for basic tree node (unhovered, unselected)
 * Also use this styling when dropping between items on the tree (in other words, don't
 * use hover effect)
 */
.claro .duiTreeRow,
.claro .duiTreeNode .dojoDndItemBefore,
.claro .duiTreeNode .dojoDndItemAfter {
	/* so insert line shows up on IE when dropping after a target element */
	padding: 4px 0 2px 0;

	background-color: none;	// IE6 doesn't understand rgba() or transparent below
	background-color: transparent;	// IE8 doesn't understand rgba() below
	background-color: rgba(171,214,255,0);	// rgba() instead of transparent to prevent flash on hover fade-in
	background-position:0 0;
	background-repeat:repeat-x;

	border: solid 0 transparent;

	color: @text-color;

	.transition-property(background-color, border-color);
	.transition-duration(.25s);
	.transition-timing-function(ease-out);
}

.claro .duiTreeRowSelected {
	background-color: @selected-background-color;
	.standard-gradient;
	padding: 3px 0 1px;
	border-color: @selected-border-color;
	border-width: 1px 0;
	color: @selected-text-color;
}
.claro .duiTreeRow:hover {
	background-color: @hovered-background-color;
	.standard-gradient;
	padding: 3px 0 1px;
	border-color: @hovered-border-color;
	border-width: 1px 0;
	color: @hovered-text-color;
	.transition-duration(.25s);
}
.claro .duiTreeRow:active {
	background-color:@pressed-background-color;
	.active-gradient;
	padding: 3px 0 1px;
	border-color: @pressed-border-color;
	border-width: 1px 0;
	color: @selected-text-color;
}
.claro .duiTreeRowFocused {
	background-repeat: repeat;
}

/* expando (open/closed) icon */

.claro .duiTreeExpando {
	background-image: url(@image-tree-expand);
	width: 16px;
	height: 16px;
	background-position: -35px 0;		/* for duiTreeExpandoOpened */
}
.claro .duiTreeRow:hover .duiTreeExpandoOpened {
	background-position: -53px 0;
}
.claro .duiTreeExpandoClosed {
	background-position: 1px 0;
}
.claro .duiTreeRow:hover .duiTreeExpandoClosed {
	background-position: -17px 0;
}
.claro .duiTreeExpandoLeaf {
	background-image:none;
}
.claro .duiTreeExpandoLoading {
	background-image: url(@image-loading-animation);
}

/* Drag and Drop on TreeNodes
 * Put insert line on duiTreeContent node so it's aligned w/
 * (ie, indented equally with) target element, even
 * though duiTreeRowNode is the actual "drag object"
 */
.claro .duiTreeNode .dojoDndItemBefore .duiTreeContent {
	border-top: 2px solid @dnd-dropseparator-color;		// TODO: normal separator is just 1px, why is this 2px?
}
.claro .duiTreeNode .dojoDndItemAfter .duiTreeContent {
	border-bottom: 2px solid @dnd-dropseparator-color;	// TODO: normal separator is just 1px, why is this 2px?
}
