@import "../../../../delite/themes/common/mixins";

.d-view-indicator {
	display: block;
	text-align: center;
	.user-select(none);
	cursor: default;
	line-height: @dot-size;
}

.d-view-indicator * {
	display: inline-block;
}

.d-view-indicator .-d-view-indicator-dot {
	width: @dot-size;
	height: @dot-size;
	.border-radius(@dot-size / 2);
	margin: @dot-margin;
	background-color: @dot-color;
}

.d-view-indicator .-d-view-indicator-dot-selected {
	background-color: @dot-selected-color;
}

// High-contrast mode is supported through actual characters
// There characters are not visible in normal mode
.d-view-indicator .-d-view-indicator-dot::before {
	color: transparent;
	content: "\25CB"; // White circle character
}

.d-view-indicator .-d-view-indicator-dot-selected::before {
	content: "\25CF"; // Black circle character
}
