.duiToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
/* if you link this style sheet, dui/themes/dijit.css must be imported. */
/* dui.Calendar */
.duiCalendar {
  padding: 0;
  width: 320px;
  border-radius: 0;
  text-align: center;
  border: 1px solid #c0c0c0;
}
.duiCalendar thead {
  border-color: inherit;
  vertical-align: middle;
}
.duiCalendarMonthLabel {
  padding: 0 4px;
  font-family: Helvetica;
  text-shadow: rgba(247, 247, 247, 0.6) 0 1px 0px;
  color: #ffffff;
  font-size: 16px;
}
.duiCalendarMonthMenu .duiCalendarMonthLabel {
  background-color: #f2f2f2;
  color: black;
}
.duiCalendar .duiDropDownButton .duiButtonNode {
  padding: 0 3px 0 2px;
  border: none;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.duiArrowButtonInner {
  display: none;
}
.duiCalendarMonthContainer th {
  border-right: 1px solid transparent;
}
.duiCalendarIncrementControl {
  width: 0;
  height: 0;
  border: 6px solid transparent !important;
}
.duiCalendarDecrease {
  border-left-width: 0 !important;
  border-right: 6px solid #9b9b9b !important;
}
.duiCalendarIncrease {
  border-right-width: 0 !important;
  border-left: 6px solid #9b9b9b !important;
}
.duiA11ySideArrow {
  display: none;
}
.duiCalendarDayLabelTemplate {
  border-right: 1px solid transparent;
  text-align: center;
  text-shadow: rgba(247, 247, 247, 0.6) 0px 1px 0px;
  background-color: #f6f6f6;
  font-size: 12px;
  color: #000000 !important;
}
.duiCalendarDateTemplate {
  border-bottom: 1px solid lightGrey;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  border: none;
  background-color: white;
  color: black;
}
.duiCalendarDateTemplate:last-child {
  border-right: none;
}
.duiCalendarDateTemplate .duiCalendarDateLabel {
  padding: 3px 5px 3px 4px;
  display: block;
  text-decoration: none;
  border: none;
}
.duiCalendarPreviousMonth .duiCalendarDateLabel,
.duiCalendarNextMonth .duiCalendarDateLabel {
  color: lightGrey;
}
.duiCalendarDate:hover .duiCalendarDateLabel {
  color: grey;
}
.duiCalendarSelectedDate .duiCalendarDateLabel {
  color: black;
  background-color: Highlight;
}
.duiCalendarYearLabel {
  margin: 0;
  padding: 0;
}
.duiCalendarSelectedYear {
  font-family: Helvetica;
  text-shadow: rgba(247, 247, 247, 0.6) 0px 1px 0px;
  color: #ffffff;
  font-size: 16px;
}
.duiCalendarNextYear,
.duiCalendarPreviousYear {
  text-shadow: rgba(247, 247, 247, 0.6) 0px 1px 0px;
  padding: 1px 6px 3px 6px;
  color: #ffffff;
  font-size: 12px;
}
