.dj_gecko .duiColorBlue {
  background-image: -moz-linear-gradient(top, #48adfc 0%, #048bf4 100%);
}
.dj_gecko .duiColorBlue45 {
  background-image: -moz-linear-gradient(top left, #048bf4 0%, #48adfc 100%);
}
.dj_gecko .duiColorDefault {
  background-image: -moz-linear-gradient(top, #e2e2e2 0%, #a4a4a4 100%);
}
.dj_gecko .duiColorDefault45 {
  background-image: -moz-linear-gradient(top left, #e2e2e2 0%, #a4a4a4 100%);
}
.dj_gecko .duiColorDefaultSel {
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #999999 100%);
}
.dj_gecko .duiColorDefaultSel45 {
  background-image: -moz-linear-gradient(top left, #bbbbbb 0%, #999999 100%);
}
