html.mobile,
.mobile body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.mobile body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  font-family: Helvetica;
  font-size: 17px;
  color: #000000;
}
.duiBackground {
  background-color: #c0c0c0;
}
/* Button Colors */
.duiColorBlue {
  color: #ffffff;
  background-color: #048bf4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48adfc), to(#048bf4));
  background-image: linear-gradient(to bottom, #48adfc 0%, #048bf4 100%);
}
.duiColorBlue45 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#048bf4), to(#48adfc));
  background-image: linear-gradient(to right bottom, #048bf4 0%, #48adfc 100%);
}
/* Default Button Colors */
.duiColorDefault {
  color: #000000;
  background-color: #a4a4a4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a4a4a4));
  background-image: linear-gradient(to bottom, #e2e2e2 0%, #a4a4a4 100%);
}
.duiColorDefault45 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e2e2e2), to(#a4a4a4));
  background-image: linear-gradient(to right bottom, #e2e2e2 0%, #a4a4a4 100%);
}
.duiColorDefaultSel {
  color: #ffffff;
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#999999));
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #999999 100%);
}
.duiColorDefaultSel45 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bbbbbb), to(#999999));
  background-image: linear-gradient(to right bottom, #bbbbbb 0%, #999999 100%);
}
.duiSpriteIcon {
  position: absolute;
}
.duiSpriteIconParent {
  position: relative;
  font-size: 1px;
}
.duiImageIcon {
  vertical-align: top;
}
