@import url("../common/transitions/coverv.css");

@import url("../common/transitions/revealv.css");
/* dui.mobile.Overlay */
.duiOverlay {
  position: fixed;
  z-index: 2000;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: -webkit-center;
  background-color: #f6f6f6;
  background-image: none;
}
.duiOverlayHidden *,
.duiOverlayHidden {
  visibility: hidden !important;
}
