/* dui.mobile.RadioButton */
.duiRadioButton {
  background-image: url(compat/button-bg.png);
}
.duiRadioButtonChecked,
.duiRadioButton:checked {
  background-image: url(compat/button-chk-bg.png);
}
.duiRadioButtonChecked.duiRadioButtonSelected,
.duiRadioButton:checked.duiRadioButtonSelected {
  background-image: url(compat/blue-button-sel-bg.png);
}
.dj_gecko .duiRadioButton {
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
  -moz-appearance: none;
}
.dj_gecko .duiRadioButtonChecked,
.dj_gecko .duiRadioButton:checked {
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
}
.dj_gecko .duiRadioButtonChecked::after,
.dj_gecko .duiRadioButton:checked::after {
  -moz-transform: rotate(45deg);
  -moz-transform-origin: 50% 50%;
}
.dj_gecko .duiRadioButtonChecked.duiRadioButtonSelected,
.dj_gecko .duiRadioButton:checked.duiRadioButtonSelected {
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #999999 100%);
}
.dj_ff3 .duiRadioButton {
  -moz-border-radius: 0.5em;
}
