/* dojox.mobile.RoundRect */
.duiRoundRect.duiShadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.dj_ff3 .duiRoundRect {
  -moz-border-radius: 8px;
}
.dj_ff3 .duiRoundRect.duiShadow {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
/* Round Corner */
.dj_ie .duiRoundCorner {
  background-color: #ffffff;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0 1px;
}
.dj_ie .duiRoundRectContainer {
  padding: 3px 8px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0 1px;
}
.dj_ie .duiRoundRectList .duiRoundRectContainer {
  margin: 0;
  padding: 0;
}
.dj_ie .duiRoundCorner0T {
  height: 0;
}
.dj_ie .duiRoundCorner1T {
  background-color: #c0c0c0;
  margin: 0 5px;
}
.dj_ie .duiRoundCorner2T {
  margin: 0 2px;
  border-width: 0 3px;
}
.dj_ie .duiRoundCorner3T {
  margin: 0 1px;
  border-width: 0 2px;
}
.dj_ie .duiRoundCorner4T {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner5T {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner0B {
  height: 0;
}
.dj_ie .duiRoundCorner1B {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner2B {
  margin: 0 1px;
}
.dj_ie .duiRoundCorner3B {
  margin: 0 1px;
  border-width: 0 2px;
}
.dj_ie .duiRoundCorner4B {
  margin: 0 2px;
  border-width: 0 3px;
}
.dj_ie .duiRoundCorner5B {
  background-color: #c0c0c0;
  margin: 0 5px;
}
