<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{page.title}}</title>

	<!-- Bootstrap core CSS -->
	<link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap theme -->
	<link href="{{site.baseurl}}/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- syntax highlight -->
	<link href="{{site.baseurl}}/css/syntax.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{site.baseurl}}/css/site.css" rel="stylesheet">

	<link href="{{site.baseurl}}/css/default.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body role="document">
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/ibmjs.png" id="avatar"></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li id="getting-started"><a href="{{site.baseurl}}/getting-started.html">Getting Started</a></li>
				<li id="tutorial"><a href="{{site.baseurl}}/docs/0.7.0/tutorial/index.html">Tutorial</a></li>
				<li id="docs"><a href="{{site.baseurl}}/docs/0.7.0/index.html">Docs</a></li>
				<!--<li><a href="#Showcase">Demos</a></li>-->
				<li id="community"><a href="{{site.baseurl}}/community.html">Community</a></li>
				<li id="blog"><a href="{{site.baseurl}}/../blog/index.html">Blog</a></li>
				<li><a href="{{site.baseurl}}/../index.html">More Projects</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<div class="container" role="main">
	{{content}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script>
	if ($(".doc").length) {
		$(".doc table").addClass("table-striped table-bordered table");
		$(document).scroll(function () {
			$(".navbar").toggleClass("hidden", $(document).scrollTop() > 50);
		});
	}
</script>
{% if page.key %}
<script>
	$("#{{page.key}}").addClass("active");
</script>
{% endif %}
</body>
</html>
