@import "../../../../delite/themes/bootstrap/includes";
.d-view-stack {
	height: 100%;
	display: block;
	.box-sizing(border-box);
	position: relative; // Enables clipping
}

.d-view-stack > * {
	.box-sizing(border-box);
	position: absolute;
	width: 100%;
	height: 100%;
}

.-d-view-stack-transition {
	overflow-x: hidden; // Avoid horizontal scroll bar on slide animation.
	overflow-y: hidden; // Avoid vertical scroll bar on flip animation.
}