table caption {
    background-color: #d3d3d3;
}

table th[scope="row"] {
    text-align: right;
    font-size: 0.7em;
}

input[type=text] {
    font-size: 0.7em;
    width: 4em;
    text-align: end;
}
input#onchange_target {
	width: 8em;
}
input[type=text]:last-child {
    color: blue;
}