/* dui.Calendar */
.duiCalendar thead {
	background-repeat: repeat-x;
	.duiCalendar-thead-compat;
}
.duiCalendarSelectedDate .duiCalendarDateLabel {
	background-repeat: repeat-x;
	.duiCalendarDateLabel-Selected-compat;
}
.duiCalendarDate:active .duiCalendarDateLabel {
	background-repeat: repeat-x;
	.duiCalendarDateLabel-Active-compat;
}
.duiCalendarYearLabel {
	background-repeat: repeat-x;
	.duiCalendarYearLabel-compat;
}

.dj_gecko {
	.duiCalendar .duiDropDownButton .duiButtonNode {
		-moz-box-shadow: 0 0 0 transparent;
	}
	.duiCalendar thead {
		.duiCalendar-thead-compat-gecko;
	}
	.duiCalendarSelectedDate .duiCalendarDateLabel {
		.duiCalendarDateLabel-Selected-compat-gecko;
	}
	.duiCalendarDate:active .duiCalendarDateLabel {
		.duiCalendarDateLabel-Active-compat-gecko;
	}
	.duiCalendarYearLabel {
		.duiCalendarYearLabel-compat-gecko;
	}
}

.dj_ff3 {
	.duiCalendar {
		-moz-border-radius: 0;
	}
	.duiCalendarMonthMenu {
		.duiCalendarMonthMenu-compat-ff3;
	}
}