/*if you link this stylesheet directory, mobile/common/dui/base.css must already be imported*/

.duiColorPalette {
	border: 0 solid #b5bcc7;
	background: none;
}
.duiColorPalette .duiColorPaletteSwatch {
	width: 25px;
	height: 25px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.duiColorPalette .duiPaletteImg {
	border: 1px solid lightGrey;
	border-radius: 4px;
	-moz-border-radius: 4px;
}