@import "../../../../delite/themes/holodark/includes";
/*
 * -----------------------------------------------
 *  Theme     : holodark
 *  Widget    : deliteful/ProgressIndicator
 *  baseClass : d-progress-indicator
 * -----------------------------------------------
 */

@progress-indicator-color: white;

.d-progress-indicator-styles() {
	width: 40px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
}

.d-progress-indicator-lines-styles() {
	stroke-width: 9%;
	stroke-linecap: round;
	stroke: @progress-indicator-color
}

.d-progress-indicator-msg-styles() {
	fill: @progress-indicator-color;
}

@import "../ProgressIndicator_template";