<div class="duiHeading duiHeadingCenterTitle">
	<span data-dojo-type="dojox/mobile/ToolBarButton" arrow="left" 
		defaultColor="duiColorBlue" selColor="duiColorPink">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton" 
		data-dojo-props="arrow:'right'">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton" 
		data-dojo-props="icon:'duiDomButtonWhitePlus'"
		style="float:right;"></span>
	<span class="duiHeadingSpanTitle" style=""
		data-dojo-attach-point="labelNode">
	</span>
	<div class="duiHeadingDivTitle"
		data-dojo-attach-point="labelDivNode">
	</div>
</div>
