<span class="duiSwitch duiSwDefaultShape duiSwitchOn" tabindex="0" >
	<div class="duiSwitchInner" data-dojo-attach-point="inner">
		<div class="duiSwitchBg duiSwitchBgLeft"
			data-dojo-attach-point="left">
			<div class="duiSwitchText duiSwitchTextLeft">ON</div>
		</div>
		<div class="duiSwitchBg duiSwitchBgRight" style="display: none;"
			data-dojo-attach-point="right">
			<div class="duiSwitchText duiSwitchTextRight">OFF</div>
		</div>
		<div class="duiSwitchKnob" data-dojo-attach-point="knob"></div>
		<input type="hidden" value="on" data-dojo-attach-point="input">
	</div>
</span>
